<footer class="footer">
  <div class="container-lg">
    <div class="footer-inner">
      <div class="footer-nav">
        <ul class="footer-nav-list">
          <li class="def-txt-semibold footer-nav-title">Категорії</li>
          <li class="footer-nav-item">
            <a href="" class="def-txt-normal footer-nav-link">Готова продукція</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="def-txt-normal footer-nav-link">Фасади</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="def-txt-normal footer-nav-link">Плитні матеріали</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="def-txt-normal footer-nav-link">Фурнітура</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="def-txt-normal footer-nav-link">Роспродаж</a>
          </li>
        </ul>
        <ul class="footer-nav-list">
          <li class="def-txt-semibold footer-nav-title">Купівля</li>
          <li class="footer-nav-item">
            <a href="" class="def-txt-normal footer-nav-link">Доставка і оплата</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="def-txt-normal footer-nav-link">Обмін і повернення</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="def-txt-normal footer-nav-link">Політика конфіденційності</a>
          </li>
          <img src="img/logo-grey-small.png" alt="" class="footer-logo-small">
        </ul>
      </div>
      <a href="" class="footer-logo">
        <img src="img/logo-grey.png" alt="">
      </a>
      <div class="footer-partner-section">
        <button type="button" class="button footer-partner-button">
          <div class="button-inner">Залишити скаргу</div>
        </button>
        <div class="def-txt-semibold footer-partner-text">Наші партнери</div>
        <div class="footer-partner-list">
          <a href="" class="footer-partner-img">
            <img src="img/partner-empty.png" alt="">
          </a>
          <a href="" class="footer-partner-img">
            <img src="img/partner-empty.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <a href="https://fairtech-marketing.com.ua/" target="_blank" class="footer-copyright-link">Developed by Fairtech.Group</a>
  </div>
</footer>