<header class="header">
  <div class="header__mobile">
    <div class="container-fluid">
      <div class="header__mobile-main">
        <div class="header__mobile-left">
          <div class="header__mobile-icon">
            <img src="img/phone-small.svg" alt="">
          </div>
          <a href="" class="header__mobile-number">0 800 900 50 20</a>
          <div class="header__mobile-worktime">Пн - Нд 10:00 - 19:00</div>
        </div>
        <div class="dropdown header__mobile-dropdown">
          <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            UA
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">RU</a>
            <a class="dropdown-item" href="#">EN</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-lg">
    <div class="header__menu">
      <div class="header__main">
        <div class="header__side-left">
          <a class="header__logo" href="">
            <img class="header__logo-img" src="img/logo-green.svg" alt="">
          </a>
          <div class="header__call">
            <div class="header__call-img">
              <img src="img/phone.svg" alt="">
            </div>
            <div class="header__call-text">
              <div class="header__call-worktime">Пн - Нд 10:00 - 19:00</div>
              <div class="header__call-number">0 800 900 50 20</div>
              <a href="" class="header__call-callback">Зворотній зв'язок</a>
            </div>
          </div>
        </div>
        <div class="header__side-right">
          <div class="header__usermenu">
            <a href="" class="header__usermenu-avatar">
              <img class="header__usermenu-img" src="img/avatar.svg" alt="">
            </a>
            <div class="header__usermenu-text">
              <a href="" class="def-txt-semibold header__usermenu-name">Сергій Сергійович</a>
              <div class=" def-txt-normal header__usermenu-city">Ваше місто: Мукачево</div>
            </div>
          </div>
          <div class="header__cart">
            <a href="" class="header__cart-img">
              <img src="img/cart.svg" alt="">
            </a>
          </div>
          <div class="dropdown header__dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              UA
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">RU</a>
              <a class="dropdown-item" href="#">EN</a>
            </div>
          </div>
        </div>
      </div>
      <div class="header__nav">
        <div class="header__nav-list">
          <div class="header__nav-item">
            <a href="" class="header__nav-img">
              <img src="img/header-item-1.svg" alt="">
            </a>
            <a href="" class="header__nav-text">Готова продукція</a>
          </div>
          <div class="header__nav-item">
            <a href="" class="header__nav-img">
              <img src="img/header-item-2.svg" alt="">
            </a>
            <a href="" class="header__nav-text">Фасади</a>
          </div>
          <div class="header__nav-item">
            <a href="" class="header__nav-img">
              <img src="img/header-item-3.svg" alt="">
            </a>
            <a href="" class="header__nav-text">Плитні матеріали</a>
          </div>
          <div class="header__nav-item">
            <a href="" class="header__nav-img">
              <img src="img/header-item-4.svg" alt="">
            </a>
            <a href="" class="header__nav-text">Фурнітура</a>
          </div>
          <div class="header__nav-item">
            <a href="" class="header__nav-img">
              <img src="img/header-item-5.svg" alt="">
            </a>
            <a href="" class="header__nav-text">Роспродаж</a>
          </div>
          <div class="header__nav-search">
            <input class="header__nav-input" type="text" name="" id="" placeholder="Пошук по товарам">
            <div class="header__nav-search-img">
              <img src="../img/search.svg" alt="">
            </div>
          </div>
        </div>
        <div class="header__button-container">
          <button type="button" class="header__button" id="navBar">
            <div class="header__button-inner">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>