body {
  font-family: 'Gilroy';
  font-size: 14px;
  background-color: #F8F8F8; 
  line-height: 1.05;
}
input {
  &:focus {
    outline: none;
  }
}
a {
  &:hover {
    color: $dark-green;
  }
}
.page {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: none;
    transition: all ease-in-out 0.5s;
  }

  &.nav-open {

    &::before {
      display: block;
    }
  }

  &-lk {
    overflow: hidden;
    padding-top: 60px;

    @include media-breakpoint-down (md) {
      padding-top: 50px;
    }
    
    &__content {
      display: flex;

      @include media-breakpoint-down (md) {
        flex-direction: column;
      }
    }

    .main {
      
      @include media-breakpoint-down (md) {
        width: 100%;
      }

      &__content-section {
        display: flex;

        @include media-breakpoint-down (lg) {
          flex-direction: column;
        }

        @include media-breakpoint-down (md) {
          flex-direction: row;
          justify-content: space-between;
        }

        @include media-breakpoint-down (sm) {
          flex-direction: column;
        }
      }
    
      &__col {
        
        &-left {
          margin-right: 29px;

          @include media-breakpoint-down (lg) {
            margin-right: 0;
          }

          @include media-breakpoint-down (md) {
            margin-right: 20px;
            width: 50%;
          }

          @include media-breakpoint-down (sm) {
            width: 100%;
            margin-right: 0;
          }
        }

        &-right {
          
          @include media-breakpoint-down (md) {
            width: 50%;
          }

          @include media-breakpoint-down (sm) {
            width: 100%;
          }
        }
      }
    }
  }

  &-orders {

    &__content {
      display: flex;

      @include media-breakpoint-down (md) {
        flex-direction: column;

        .sidebar__mobile {
          margin-top: 50px;
          margin-bottom: 20px;
        }
      }
  
      .sidebar {
        margin-top: 88px;

        @include media-breakpoint-down (md) {
          margin-top: 0;
        }
      }
    }
  
    .main {
      width: 864px;
  
      @include media-breakpoint-down (lg) {
        width: calc(100% - 245px);
      }
      @include media-breakpoint-down (md) {
        width: 100%;
      }
    }
  
    .footer {
      margin-top: 20px;
    }
  }
}