a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
section,
samp,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
   margin: 0;
   border: 0;
   padding: 0;
   vertical-align: baseline;
   font: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
   display: block;
}

body {
   line-height: 1;
   font-family: 'Open Sans', sans-serif;
}

ol,
ul {
   list-style: none;
}

blockquote,
q {
   quotes: none;

   &::before,
   &::after {
      content: none;
   }
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

a {
   color: inherit;
   text-decoration: none;

   &:hover {
      text-decoration: none;
   }
}
