@import url("../fonts/Gilroy/stylesheet.css");
// font-family: 'Gilroy';

.def-txt-normal {
  font-weight: 400;
  color: $dark-grey;

  @include media-breakpoint-down (sm) {
    font-size: 12px;
  }
}

.def-txt-semibold {
  font-weight: 600;
}

.def-txt-bold {
  font-weight: 700;
}