//= template/top.html
//= template/header.html
<div class="page page-orders page-addclient-manager">
    <div class="container-lg">
        <div class="page-orders__content page-addclient-manager__content">
            <div class="sidebar__mobile">
                <div class="sidebar__mobile-left">
                    <a href="" class="sidebar__avatar">
                        <img class="sidebar__avatar-img" src="img/avatar.svg" alt="">
                    </a>
                    <div class="sidebar__username">Доброго дня, Сергій! <span><a href="">Змінити дані</a></span></div>
                    <div class="sidebar__info-mobile-dropdown dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <div class="sidebar">
                                <div class="sidebar__block">
                                    <div class="sidebar__block-header">
                                        <div class="sidebar__block-title-icon">
                                            <img src="img/sidebar-title-icon.svg" alt="">
                                        </div>
                                        <div class="sidebar__block-title">Особисті данні</div>
                                    </div>
                                    <div class="sidebar__block-body">
                                        <div class="sidebar__block-body-top">
                                            <div class="sidebar__block-listname">Дані облікового запису</div>
                                            <ul class="sidebar__block-list">
                                                <li class="sidebar__block-item">
                                                    <div class="sidebar__block-item-icon">
                                                        <img src="img/avatar-small.svg" alt="">
                                                    </div>
                                                    <div class="sidebar__block-item-text">Сергій Сергійович</div>
                                                </li>
                                                <li class="sidebar__block-item">
                                                    <div class="sidebar__block-item-icon">
                                                        <img src="img/mail-small.svg" alt="">
                                                    </div>
                                                    <div class="sidebar__block-item-text">info@info.com</div>
                                                </li>
                                                <li class="sidebar__block-item">
                                                    <div class="sidebar__block-item-icon">
                                                        <img src="img/phone-small.svg" alt="">
                                                    </div>
                                                    <div class="sidebar__block-item-text">+38 (096) 000-00-00</div>
                                                </li>
                                            </ul>
                                            <a href="" class="sidebar__block-link">Змінити дані</a>
                                            <a href="" class="sidebar__block-link">Змінити пароль</a>
                                        </div>
                                        <div class="sidebar__block-body-bottom">
                                            <div class="sidebar__block-listname">Персональний менеджер</div>
                                            <ul class="sidebar__block-list">
                                                <li class="sidebar__block-item">
                                                    <div class="sidebar__block-item-icon">
                                                        <img src="img/avatar-small.svg" alt="">
                                                    </div>
                                                    <div class="sidebar__block-item-text">Сергій Сергійович</div>
                                                </li>
                                                <li class="sidebar__block-item">
                                                    <div class="sidebar__block-item-icon">
                                                        <img src="img/mail-small.svg" alt="">
                                                    </div>
                                                    <div class="sidebar__block-item-text">info@info.com</div>
                                                </li>
                                                <li class="sidebar__block-item">
                                                    <div class="sidebar__block-item-icon">
                                                        <img src="img/phone-small.svg" alt="">
                                                    </div>
                                                    <div class="sidebar__block-item-text">+38 (096) 000-00-00</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar__mobile-middle">
                    <div class="sidebar__nav-mobile">
                        <div class="sidebar__nav-mobile-title">Особисті дані</div>
                        <div class="sidebar__nav-mobile-dropdown dropdown">
                            <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <div class="sidebar__nav">
                                    <ul class="sidebar__nav-list">
                                        <li class="sidebar__nav-item sidebar__nav-item-active">
                                            <a href="" class="sidebar__nav-link sidebar__nav-link-active">Особисті дані</a>
                                        </li>
                                        <li class="sidebar__nav-item">
                                            <a href="" class="sidebar__nav-link">Кошик</a>
                                        </li>
                                        <li class="sidebar__nav-item">
                                            <a href="" class="sidebar__nav-link">Мої замовлення</a>
                                        </li>
                                        <li class="sidebar__nav-item">
                                            <a href="" class="sidebar__nav-link">Послуги</a>
                                        </li>
                                        <li class="sidebar__nav-item">
                                            <a href="" class="sidebar__nav-link">Мої знижки</a>
                                        </li>
                                        <li class="sidebar__nav-item">
                                            <a href="" class="sidebar__nav-link">Лист очікування</a>
                                        </li>
                                        <li class="sidebar__nav-item">
                                            <a href="" class="sidebar__nav-link">Написати <br> повідомлення</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar__mobile-right">
                    <a href="" class="sidebar__button-mobile">
                        <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
                        Вийти
                    </a>
                    <a href="#nav-modal" data-toggle="modal" class="sidebar__button-mobile-modal">
                        <img src="img/home.svg" alt="">
                    </a>
                </div>
            </div>
            <aside class="sidebar">
                <div class="sidebar__header">
                    <div class="sidebar__header-avatar">
                        <img class="sidebar__header-icon" src="img/avatar.svg" alt="">
                    </div>
                    <div class="sidebar__header-name">Доброго дня, <br> Сергій!</div>
                </div>
                <div class="sidebar__nav">
                    <ul class="sidebar__nav-list">
                        <li class="sidebar__nav-item">
                            <a href="" class="sidebar__nav-link ">Особисті дані</a>
                        </li>
                        <li class="sidebar__nav-item">
                            <a href="" class="sidebar__nav-link">Замовлення</a>
                        </li>
                        <li class="sidebar__nav-item sidebar__nav-item-active">
                            <a href="" class="sidebar__nav-link sidebar__nav-link-active">Замовники</a>
                        </li>
                        <li class="sidebar__nav-item">
                            <a href="" class="sidebar__nav-link">Послуги</a>
                        </li>
                        <li class="sidebar__nav-item">
                            <a href="" class="sidebar__nav-link">Загублений виклик</a>
                        </li>
                        <li class="sidebar__nav-item">
                            <a href="" class="sidebar__nav-link">Лист очікування</a>
                        </li>
                    </ul>
                </div>
                <a href="" class="sidebar__button">
                    <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
                    Вийти
                </a>
            </aside>
            <main class="main">
                <div class="main__content-section">
                    <div class="addclient__section">
                        <div class="addclient__title">
                            <a href="" class="addclient__title-icon">
                                <img src="img/arrow-left-sm.svg">
                            </a>
                            <div class="addclient__title-name">
                                Створення замовника
                            </div>
                        </div>
                        <div class="addclient__main">
                            <div class="modal-body">
                                <div class="field-container">
                                    <input type="text" class="modal-input modal-input-m20" placeholder="ПІБ">
                                    <input type="tel" class="modal-input modal-input-m20 number-mask" placeholder="Номер телефону">
                                    <input type="text" class="modal-input modal-input-m20" placeholder="E-mail">
                                    <div class="checkbox-con">
                                        <div class="checkbox">
                                            <div class="modal-checkbox-item">
                                                <input class="modal-checkbox" type="checkbox" name="" id="juristically">
                                                <div class="modal-checkbox-text" >Юр. особа</div>
                                            </div>
                                        </div>
                                        <div class="check-box">
                                            <div class="modal-checkbox-item">
                                                <input class="modal-checkbox modal-checkbox-input" type="checkbox" name="" id="">
                                                <div class="modal-checkbox-text">Платник ПДВ</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-hiden">
                                        <div class="select">
                                            <select class="modal-select" name="select" id="">
                                                <option value="">Виберіть місто</option>
                                                <option value="">Киев</option>
                                                <option value="">Харьков</option>
                                                <option value="">Одесса</option>
                                                <option value="">Днепр</option>
                                                <option value="">Донецк</option>
                                                <option value="">Запорожье</option>
                                                <option value="">Львов</option>
                                                <option value="">Кривой Рог</option>
                                                <option value="">Николаев</option>
                                                <option value="">Севастополь</option>
                                                <option value="">Мариуполь</option>
                                                <option value="">Луганск</option>
                                                <option value="">Винница</option>
                                                <option value="">Симферополь</option>
                                                <option value="">Макеевка</option>
                                                <option value="">Kiev</option>
                                                <option value="">Kiev</option>
                                                <option value="">Kiev</option>
                                                <option value="">Kiev</option>
                                                <option value="">Kiev</option>
                                                <option value="">Kiev</option>
                                                <option value="">Kiev</option>
                                                <option value="">Kiev</option>
                                                <option value="">Kiev</option>
                                                <option value="">Kiev</option>
                                                <option value="">Kiev</option>
                                                <option value="">Kiev</option>
                                                <option value="">Kiev</option>
                                                <option value="">Kiev</option>
                                                <option value="">Kiev</option>
                                                <option value="">Kiev</option>
                                                <option value="">Kiev</option>
                                                <option value="">Kiev</option>
                                                <option value="">Kiev</option>
                                                <option value="">Kiev</option>
                                            </select>
                                        </div>
                                        <input type="text" class="modal-input modal-input-m20" placeholder="Назва компанії">
                                        <input type="text" class="modal-input modal-input-m20" placeholder="ЄДРПОУ">
                                        <input type="text" class="modal-input modal-input-m20" placeholder="Посада">
                                    </div>
                                    <button class="button addclient__button">
                                        Підтвердити
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    //= template/footer.html
</div>
//= template/modals.html
//= template/bottom.html