//= template/top.html
  //= template/header.html
  <div class="page page-orders page-orders-customer order-page">
    <div class="container-lg">
      <div class="page-orders__content page-orders-customer__content">
        <div class="sidebar__mobile">
          <div class="sidebar__mobile-left">
            <a href="" class="sidebar__avatar">
              <img class="sidebar__avatar-img" src="img/avatar.svg" alt="">
            </a>
            <div class="sidebar__username">Доброго дня, Сергій! <span><a href="">Змінити дані</a></span></div>
            <div class="sidebar__info-mobile-dropdown dropdown">
              <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <div class="sidebar">
                  <div class="sidebar__block">
                    <div class="sidebar__block-header">
                      <div class="sidebar__block-title-icon">
                        <img src="img/sidebar-title-icon.svg" alt="">
                      </div>
                      <div class="sidebar__block-title">Особисті данні</div>
                    </div>
                    <div class="sidebar__block-body">
                      <div class="sidebar__block-body-top">
                        <div class="sidebar__block-listname">Дані облікового запису</div>
                        <ul class="sidebar__block-list">
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/avatar-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">Сергій Сергійович</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/mail-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">info@info.com</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/phone-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">+38 (096) 000-00-00</div>
                          </li>
                        </ul>
                        <a href="" class="sidebar__block-link">Змінити дані</a>
                        <a href="" class="sidebar__block-link">Змінити пароль</a>
                      </div>
                      <div class="sidebar__block-body-bottom">
                        <div class="sidebar__block-listname">Персональний менеджер</div>
                        <ul class="sidebar__block-list">
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/avatar-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">Сергій Сергійович</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/mail-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">info@info.com</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/phone-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">+38 (096) 000-00-00</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar__mobile-middle">
            <div class="sidebar__nav-mobile">
              <div class="sidebar__nav-mobile-title">Особисті дані</div>
              <div class="sidebar__nav-mobile-dropdown dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <div class="sidebar__nav">
                    <ul class="sidebar__nav-list">
                      <li class="sidebar__nav-item sidebar__nav-item-active">
                        <a href="" class="sidebar__nav-link sidebar__nav-link-active">Особисті дані</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Кошик</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Мої замовлення</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Послуги</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Мої знижки</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Лист очікування</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Написати <br> повідомлення</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar__mobile-right">
            <a href="" class="sidebar__button-mobile">
              <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
              Вийти
            </a>
            <a href="#nav-modal" data-toggle="modal" class="sidebar__button-mobile-modal">
              <img src="img/home.svg" alt="">
            </a>
          </div>
        </div>
        <aside class="sidebar">
          <div class="sidebar__header">
            <div class="sidebar__header-avatar">
              <img class="sidebar__header-icon" src="img/avatar.svg" alt="">
            </div>
            <div class="sidebar__header-name">Доброго дня, <br> Сергій!</div>
          </div>
          <div class="sidebar__nav">
            <ul class="sidebar__nav-list">
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link ">Особисті дані</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Кошик</a>
              </li>
              <li class="sidebar__nav-item sidebar__nav-item-active">
                <a href="" class="sidebar__nav-link sidebar__nav-link-active">Мої замовлення</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Послуги</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Мої знижки</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Лист очікування</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Написати <br> повідомлення</a>
              </li>
            </ul>
          </div>
          <a href="" class="sidebar__button">
            <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
            Вийти
          </a>
        </aside>
        <main class="main">
          <div class="main__content-section">
            <div class="table__section">
              <div class="table__section-title mb-3 d-block">
                <div class="table__title-list">
                  <div class="order-page__header">
                    <a href="#" class="order-page__back">
                    </a>
                    <div class="order-page__title">Кошик</div>
                    
                  </div>
                </div>
              </div>
              <div class="radius-block order-block mb-3">
                <div class="cart__header">
                  <div class="orderNumber">Номер замовлення: <span class="orderNumber__value">154718-15</span></div>
                  <a href="#" class="cart__header-printer" data-toggle="modal"><img src="img/icons/printer.svg" alt="#"></a>
                </div>
                <table class="order-block__body">
                  <tr class="order-block__row">
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-main">
                        <div class="order-block__row-el-main-imgContainer">
                          <img src="img/brus1.png" alt="#" class="order-block__row-el-main-img">
                        </div>
                        <div class="order-block__row-el-main-body">
                          <div class="order-block__row-el-main-body-title">
                            МДФ шліфоване (2800х2070*16) Кроно
                          </div>
                          <div class="order-block__row-el-main-body-subtitle">
                            <span class="articul">Артикул: 42394824</span>
                            <a href="#" class="moreInfo">Детальніше</a>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-material">МДФ</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-price">455 грн.\м.п.</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="quantityEl order-block__quantityEl">
                        <input type="number" value="1" min="1" max="50">
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="dropdown buttonsDropdown">
                        <button class="dropdown__toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a href="#" class="buttonsDropdown__el buttonsDropdown__el--copy"></a>
                          <a href="#" class="buttonsDropdown__el buttonsDropdown__el--delete"></a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="order-block__row">
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-main">
                        <div class="order-block__row-el-main-imgContainer">
                          <img src="img/brus1.png" alt="#" class="order-block__row-el-main-img">
                        </div>
                        <div class="order-block__row-el-main-body">
                          <div class="order-block__row-el-main-body-title">
                            Плита ОСБ 2500х1250х10 вологостійка
                          </div>
                          <div class="order-block__row-el-main-body-subtitle">
                            <span class="articul">Артикул: 42394824</span>
                            <a href="#" class="moreInfo">Детальніше</a>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-material">ОСБ</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-price">455 грн.\м.п.</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="quantityEl order-block__quantityEl">
                        <input type="number" value="1" min="1" max="50">
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="dropdown buttonsDropdown">
                        <button class="dropdown__toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a href="#" class="buttonsDropdown__el buttonsDropdown__el--copy"></a>
                          <a href="#" class="buttonsDropdown__el buttonsDropdown__el--delete"></a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="order-block__row" style="border-bottom: 1px solid #DFDFDF;">
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-main">
                        <div class="order-block__row-el-main-imgContainer">
                          <img src="img/brus1.png" alt="#" class="order-block__row-el-main-img">
                        </div>
                        <div class="order-block__row-el-main-body">
                          <div class="order-block__row-el-main-body-title">
                            Плита ОСБ 2500х1250х10 вологостійка
                          </div>
                          <div class="order-block__row-el-main-body-subtitle">
                            <span class="articul">Артикул: 42394824</span>
                            <a href="#" class="moreInfo">Детальніше</a>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-material">ОСБ</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-price">455 грн.\м.п.</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="quantityEl order-block__quantityEl">
                        <input type="number" value="1" min="1" max="50">
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="dropdown buttonsDropdown">
                        <button class="dropdown__toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a href="#" class="buttonsDropdown__el buttonsDropdown__el--copy"></a>
                          <a href="#" class="buttonsDropdown__el buttonsDropdown__el--delete"></a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
                <div class="d-flex w-100 justify-content-md-end justify-content-start pt-4">
                  <div class="addedProducts__date mr-5">
                    Дата поставки
                    <span>08.12.2020</span>
                  </div>
                  <div class="addedProducts__info mr-0">
                    <div class="addedProducts__info-price"> 100 000 грн</div>
                    <div class="addedProducts__info-products">42 товари</div>
                  </div>
                </div>
              </div>
              
              <div class="radius-block addedProducts">

                <div class="addedProducts__footer dropdownsAndButton">
                  <div class="dropdownsAndButton__top">
                    <div class="dropdown table__dropdown dropdown--greenBorder">
                      <button class="dropdown__toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="dropdown__toggle-value">Спосіб оплати</span>
                        <i class="fas fa-chevron-down"></i>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="">
                        <button class="dropdown-item" type="button" data-page-size="10">Спосіб оплати</button>
                        <button class="dropdown-item" type="button" data-page-size="20">Спосіб оплати</button>
                        <button class="dropdown-item" type="button" data-page-size="50">Спосіб оплати</button>
                        <button class="dropdown-item" type="button" data-page-size="100">Спосіб оплати</button>
                        <button class="dropdown-item" type="button" data-page-size="200">Спосіб оплати</button>
                      </div>
                    </div>
                    <div class="dropdown table__dropdown dropdown--greenBorder">
                      <button class="dropdown__toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="dropdown__toggle-value">Спосіб доставки</span>
                        <i class="fas fa-chevron-down"></i>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="">
                        <button class="dropdown-item" type="button" data-page-size="10">
                          Спосіб оплати
                          <div class="addressValue">Київ, вул. Дегтярівська, 7А</div>
                        </button>
                        <button class="dropdown-item" type="button" data-page-size="20">Спосіб 1</button>
                        <button class="dropdown-item" type="button" data-page-size="50">Спосіб 2</button>
                        <button class="dropdown-item" type="button" data-page-size="100">Спосіб 3</button>
                      </div>
                    </div>
                    <div class="dropdown table__dropdown dropdown--greenBorder">
                      <button class="dropdown__toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="dropdown__toggle-value">Платник</span>
                        <i class="fas fa-chevron-down"></i>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="">
                        <button class="dropdown-item" type="button" data-page-size="10">Спосіб оплати</button>
                        <button class="dropdown-item" type="button" data-page-size="20">Спосіб оплати</button>
                        <button class="dropdown-item" type="button" data-page-size="50">Спосіб оплати</button>
                        <button class="dropdown-item" type="button" data-page-size="100">Спосіб оплати</button>
                        <button class="dropdown-item" type="button" data-page-size="200">Спосіб оплати</button>
                      </div>
                    </div>
                    <a href="#" class="button button--darkGreen addedProducts__footer-button">Підтвердити</a>
                  </div>
                  <div class="dropdownsAndButton__bottom">
                    <div class="dropdownsAndButton__info">
                      <div class="dropdownsAndButton__info-title"> Адреса</div>
                      <div class="dropdownsAndButton__info-address"> Київ, вул. Дегтярівська, 7А</div>
                      <div class="dropdownsAndButton__info-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    //= template/footer.html
  </div>
  //= template/modals.html
//= template/bottom.html