//= template/top.html
//= template/header.html

<main class="waiting_list date_entry">
    <section>
        <div class="container">
            <div class="waiting_list--content">
                <div class="sidebar-column">
                    <div class="sidebar__mobile">
                        <div class="sidebar__mobile-left">
                            <a href="" class="sidebar__avatar">
                                <img class="sidebar__avatar-img" src="img/avatar.svg" alt="">
                            </a>
                            <div class="sidebar__username">Доброго дня, Сергій! <span><a href="">Змінити дані</a></span></div>
                            <div class="sidebar__info-mobile-dropdown dropdown">
                                <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <div class="sidebar">
                                        <div class="sidebar__block">
                                            <div class="sidebar__block-header">
                                                <div class="sidebar__block-title-icon">
                                                    <img src="img/sidebar-title-icon.svg" alt="">
                                                </div>
                                                <div class="sidebar__block-title">Особисті данні</div>
                                            </div>
                                            <div class="sidebar__block-body">
                                                <div class="sidebar__block-body-top">
                                                    <div class="sidebar__block-listname">Дані облікового запису</div>
                                                    <ul class="sidebar__block-list">
                                                        <li class="sidebar__block-item">
                                                            <div class="sidebar__block-item-icon">
                                                                <img src="img/avatar-small.svg" alt="">
                                                            </div>
                                                            <div class="sidebar__block-item-text">Сергій Сергійович</div>
                                                        </li>
                                                        <li class="sidebar__block-item">
                                                            <div class="sidebar__block-item-icon">
                                                                <img src="img/mail-small.svg" alt="">
                                                            </div>
                                                            <div class="sidebar__block-item-text">info@info.com</div>
                                                        </li>
                                                        <li class="sidebar__block-item">
                                                            <div class="sidebar__block-item-icon">
                                                                <img src="img/phone-small.svg" alt="">
                                                            </div>
                                                            <div class="sidebar__block-item-text">+38 (096) 000-00-00</div>
                                                        </li>
                                                    </ul>
                                                    <a href="" class="sidebar__block-link">Змінити дані</a>
                                                    <a href="" class="sidebar__block-link">Змінити пароль</a>
                                                </div>
                                                <div class="sidebar__block-body-bottom">
                                                    <div class="sidebar__block-listname">Персональний менеджер</div>
                                                    <ul class="sidebar__block-list">
                                                        <li class="sidebar__block-item">
                                                            <div class="sidebar__block-item-icon">
                                                                <img src="img/avatar-small.svg" alt="">
                                                            </div>
                                                            <div class="sidebar__block-item-text">Сергій Сергійович</div>
                                                        </li>
                                                        <li class="sidebar__block-item">
                                                            <div class="sidebar__block-item-icon">
                                                                <img src="img/mail-small.svg" alt="">
                                                            </div>
                                                            <div class="sidebar__block-item-text">info@info.com</div>
                                                        </li>
                                                        <li class="sidebar__block-item">
                                                            <div class="sidebar__block-item-icon">
                                                                <img src="img/phone-small.svg" alt="">
                                                            </div>
                                                            <div class="sidebar__block-item-text">+38 (096) 000-00-00</div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__mobile-middle">
                            <div class="sidebar__nav-mobile">
                                <div class="sidebar__nav-mobile-title">Особисті дані</div>
                                <div class="sidebar__nav-mobile-dropdown dropdown">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <div class="sidebar__nav">
                                            <ul class="sidebar__nav-list">
                                                <li class="sidebar__nav-item sidebar__nav-item-active">
                                                    <a href="" class="sidebar__nav-link sidebar__nav-link-active">Особисті дані</a>
                                                </li>
                                                <li class="sidebar__nav-item">
                                                    <a href="" class="sidebar__nav-link">Кошик</a>
                                                </li>
                                                <li class="sidebar__nav-item">
                                                    <a href="" class="sidebar__nav-link">Мої замовлення</a>
                                                </li>
                                                <li class="sidebar__nav-item">
                                                    <a href="" class="sidebar__nav-link">Послуги</a>
                                                </li>
                                                <li class="sidebar__nav-item">
                                                    <a href="" class="sidebar__nav-link">Мої знижки</a>
                                                </li>
                                                <li class="sidebar__nav-item">
                                                    <a href="" class="sidebar__nav-link">Лист очікування</a>
                                                </li>
                                                <li class="sidebar__nav-item">
                                                    <a href="" class="sidebar__nav-link">Написати <br> повідомлення</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__mobile-right">
                            <a href="" class="sidebar__button-mobile">
                                <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
                                Вийти
                            </a>
                            <a href="#nav-modal" data-toggle="modal" class="sidebar__button-mobile-modal">
                                <img src="img/home.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <aside class="sidebar">
                        <div class="sidebar__header">
                            <div class="sidebar__header-avatar">
                                <img class="sidebar__header-icon" src="img/avatar.svg" alt="">
                            </div>
                            <div class="sidebar__header-name">Доброго дня, <br> Сергій!</div>
                        </div>
                        <div class="sidebar__nav">
                            <ul class="sidebar__nav-list">
                                <li class="sidebar__nav-item">
                                    <a href="" class="sidebar__nav-link ">Особисті дані</a>
                                </li>
                                <li class="sidebar__nav-item">
                                    <a href="" class="sidebar__nav-link">Кошик</a>
                                </li>
                                <li class="sidebar__nav-item sidebar__nav-item-active">
                                    <a href="" class="sidebar__nav-link sidebar__nav-link-active">Мої замовлення</a>
                                </li>
                                <li class="sidebar__nav-item">
                                    <a href="" class="sidebar__nav-link">Послуги</a>
                                </li>
                                <li class="sidebar__nav-item">
                                    <a href="" class="sidebar__nav-link">Мої знижки</a>
                                </li>
                                <li class="sidebar__nav-item">
                                    <a href="" class="sidebar__nav-link">Лист очікування</a>
                                </li>
                                <li class="sidebar__nav-item">
                                    <a href="" class="sidebar__nav-link">Написати <br> повідомлення</a>
                                </li>
                            </ul>
                        </div>
                        <a href="" class="sidebar__button">
                            <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
                            Вийти
                        </a>
                    </aside>
                </div>
                <div class="waiting_list--message">
                    <div class="waiting_list--message__header">
                        <div class="icon-box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                                <path d="M15.4219 4.92188C14.7423 4.92188 14.1914 4.37099 14.1914 3.69141V1.23047C14.1914 0.550881 14.7423 0 15.4219 0C16.1015 0 16.6523 0.550881 16.6523 1.23047V3.69141C16.6523 4.37099 16.1015 4.92188 15.4219 4.92188Z" fill="#00642F"/>
                                <path d="M18.7441 2.46094H17.8828V3.69141C17.8828 5.04837 16.7788 6.15234 15.4219 6.15234C14.0649 6.15234 12.9609 5.04837 12.9609 3.69141V2.46094H8.03906V3.69141C8.03906 5.04837 6.93509 6.15234 5.57812 6.15234C4.22116 6.15234 3.11719 5.04837 3.11719 3.69141V2.46094H2.25586C1.01198 2.46094 0 3.47292 0 4.7168V7.46484H21V4.7168C21 3.47292 19.988 2.46094 18.7441 2.46094Z" fill="#00642F"/>
                                <path d="M5.57812 4.92188C4.89854 4.92188 4.34766 4.37099 4.34766 3.69141V1.23047C4.34766 0.550881 4.89854 0 5.57812 0C6.25771 0 6.80859 0.550881 6.80859 1.23047V3.69141C6.80859 4.37099 6.25771 4.92188 5.57812 4.92188Z" fill="#00642F"/>
                                <path d="M0 8.69531V18.7441C0 19.988 1.01198 21 2.25586 21H18.7441C19.988 21 21 19.988 21 18.7441V8.69531H0ZM11.1466 16.6934C11.1466 18.0503 10.0426 19.1543 8.68563 19.1543C7.46468 19.1543 6.41694 18.2435 6.24836 17.0358C6.23265 16.9232 6.2247 16.808 6.2247 16.6934C6.2247 16.3536 6.50016 16.0781 6.83993 16.0781C7.1797 16.0781 7.45516 16.3536 7.45516 16.6934C7.45516 16.7513 7.45918 16.8093 7.46706 16.8658C7.55118 17.469 8.07507 17.9238 8.68563 17.9238C9.36411 17.9238 9.9161 17.3718 9.9161 16.6934C9.9161 16.0149 9.36411 15.4629 8.68563 15.4629C8.34586 15.4629 8.0704 15.1874 8.0704 14.8477C8.0704 14.5079 8.34586 14.2324 8.68563 14.2324C9.36411 14.2324 9.9161 13.6804 9.9161 13.002C9.9161 12.3235 9.36411 11.7715 8.68563 11.7715C8.09886 11.7715 7.59109 12.1884 7.47826 12.7628C7.41271 13.0962 7.08906 13.3133 6.75601 13.2479C6.4226 13.1824 6.20538 12.8591 6.27088 12.5256C6.49671 11.3757 7.51226 10.541 8.68563 10.541C10.0426 10.541 11.1466 11.645 11.1466 13.002C11.1466 13.7365 10.8227 14.3964 10.3108 14.8477C10.8227 15.299 11.1466 15.9589 11.1466 16.6934ZM14.7753 18.5391C14.7753 18.8788 14.4998 19.1543 14.1601 19.1543C13.8203 19.1543 13.5448 18.8788 13.5448 18.5391V11.7715H12.5821C12.2423 11.7715 11.9668 11.496 11.9668 11.1562C11.9668 10.8165 12.2423 10.541 12.5821 10.541H14.1601C14.4998 10.541 14.7753 10.8165 14.7753 11.1562V18.5391Z" fill="#00642F"/>
                            </svg>
                        </div>
                        <h2>
                            Сьогодні <span>30.11.2020</span>
                        </h2>
                        <span class="center-title">
                            Назва філіалу
                        </span>
                    </div>
                    <form action="">
                        <ul class="list-elements">
                            <li class="list-elements__el">
                                <div class="f-w-1">
                                    <div class="img-box">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" fill="none">
                                            <path d="M1.31836 10.5469H34.4531V43.6816C34.4531 44.4103 35.0428 45 35.7715 45H38.4082C39.1369 45 39.7266 44.4103 39.7266 43.6816V6.5918C39.7266 5.8631 39.1369 5.27344 38.4082 5.27344H1.31836C0.589658 5.27344 0 5.8631 0 6.5918V9.22852C0 9.95722 0.589658 10.5469 1.31836 10.5469Z" fill="#00642F"/>
                                            <path d="M22.5 18.5449C21.7713 18.5449 21.1816 19.1346 21.1816 19.8633V21.1816H19.8633C19.1346 21.1816 18.457 21.7713 18.457 22.5C18.457 23.2287 19.1346 23.8184 19.8633 23.8184H21.1816V25.1367C21.1816 25.8654 21.7713 26.4551 22.5 26.4551C23.2287 26.4551 23.8184 25.8654 23.8184 25.1367V23.8184H25.1367C25.8654 23.8184 26.4551 23.2287 26.4551 22.5C26.4551 21.7713 25.8654 21.1816 25.1367 21.1816H23.8184V19.8633C23.8184 19.1346 23.2287 18.5449 22.5 18.5449Z" fill="#00642F"/>
                                            <path d="M5.27344 13.1836V38.4082C5.27344 39.1369 5.8631 39.7266 6.5918 39.7266H31.8164V34.4531H10.5469V13.1836H5.27344Z" fill="#00642F"/>
                                            <path d="M9.22852 0H6.5918C5.8631 0 5.27344 0.589658 5.27344 1.31836V2.63672H10.5469V1.31836C10.5469 0.589658 9.95722 0 9.22852 0Z" fill="#00642F"/>
                                            <path d="M43.6816 34.4531H42.3633V39.7266H43.6816C44.4103 39.7266 45 39.1369 45 38.4082V35.7715C45 35.0428 44.4103 34.4531 43.6816 34.4531Z" fill="#00642F"/>
                                        </svg>
                                    </div>
                                    <p>Порізка</p>
                                </div>
                                <div class="f-w-1">
                                    <div class="date">
                                        <div class="icon-box">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                                                <path d="M15.4219 4.92188C14.7423 4.92188 14.1914 4.37099 14.1914 3.69141V1.23047C14.1914 0.550881 14.7423 0 15.4219 0C16.1015 0 16.6523 0.550881 16.6523 1.23047V3.69141C16.6523 4.37099 16.1015 4.92188 15.4219 4.92188Z" fill="#00642F"/>
                                                <path d="M18.7441 2.46094H17.8828V3.69141C17.8828 5.04837 16.7788 6.15234 15.4219 6.15234C14.0649 6.15234 12.9609 5.04837 12.9609 3.69141V2.46094H8.03906V3.69141C8.03906 5.04837 6.93509 6.15234 5.57812 6.15234C4.22116 6.15234 3.11719 5.04837 3.11719 3.69141V2.46094H2.25586C1.01198 2.46094 0 3.47292 0 4.7168V7.46484H21V4.7168C21 3.47292 19.988 2.46094 18.7441 2.46094Z" fill="#00642F"/>
                                                <path d="M5.57812 4.92188C4.89854 4.92188 4.34766 4.37099 4.34766 3.69141V1.23047C4.34766 0.550881 4.89854 0 5.57812 0C6.25771 0 6.80859 0.550881 6.80859 1.23047V3.69141C6.80859 4.37099 6.25771 4.92188 5.57812 4.92188Z" fill="#00642F"/>
                                                <path d="M0 8.69531V18.7441C0 19.988 1.01198 21 2.25586 21H18.7441C19.988 21 21 19.988 21 18.7441V8.69531H0ZM11.1466 16.6934C11.1466 18.0503 10.0426 19.1543 8.68563 19.1543C7.46468 19.1543 6.41694 18.2435 6.24836 17.0358C6.23265 16.9232 6.2247 16.808 6.2247 16.6934C6.2247 16.3536 6.50016 16.0781 6.83993 16.0781C7.1797 16.0781 7.45516 16.3536 7.45516 16.6934C7.45516 16.7513 7.45918 16.8093 7.46706 16.8658C7.55118 17.469 8.07507 17.9238 8.68563 17.9238C9.36411 17.9238 9.9161 17.3718 9.9161 16.6934C9.9161 16.0149 9.36411 15.4629 8.68563 15.4629C8.34586 15.4629 8.0704 15.1874 8.0704 14.8477C8.0704 14.5079 8.34586 14.2324 8.68563 14.2324C9.36411 14.2324 9.9161 13.6804 9.9161 13.002C9.9161 12.3235 9.36411 11.7715 8.68563 11.7715C8.09886 11.7715 7.59109 12.1884 7.47826 12.7628C7.41271 13.0962 7.08906 13.3133 6.75601 13.2479C6.4226 13.1824 6.20538 12.8591 6.27088 12.5256C6.49671 11.3757 7.51226 10.541 8.68563 10.541C10.0426 10.541 11.1466 11.645 11.1466 13.002C11.1466 13.7365 10.8227 14.3964 10.3108 14.8477C10.8227 15.299 11.1466 15.9589 11.1466 16.6934ZM14.7753 18.5391C14.7753 18.8788 14.4998 19.1543 14.1601 19.1543C13.8203 19.1543 13.5448 18.8788 13.5448 18.5391V11.7715H12.5821C12.2423 11.7715 11.9668 11.496 11.9668 11.1562C11.9668 10.8165 12.2423 10.541 12.5821 10.541H14.1601C14.4998 10.541 14.7753 10.8165 14.7753 11.1562V18.5391Z" fill="#00642F"/>
                                            </svg>
                                        </div>
                                        <input type="text" class="datepicker" placeholder="30.11.2020">
                                    </div>
                                </div>
                                <div class="f-w-1">
                                    <p>Фактичний час:</p>
                                    <p> 02.12.2020</p>
                                </div>
                            </li>
                            <li class="list-elements__el">
                                <div class="f-w-1">
                                    <div class="img-box">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" fill="none">
                                            <g clip-path="url(#clip0)">
                                                <path d="M41.8664 23.1565C41.3427 22.3982 40.2206 22.3985 39.697 23.1565C39.6671 23.1998 38.956 24.2314 38.2351 25.4742C36.8151 27.9221 36.6509 28.9616 36.6509 29.5306C36.6509 31.8084 38.5039 33.6614 40.7817 33.6614C43.0594 33.6614 44.9125 31.8084 44.9125 29.5306C44.9125 28.9616 44.7482 27.922 43.3283 25.4742C42.6073 24.2314 41.8963 23.1998 41.8664 23.1565Z" fill="#00642F"/>
                                                <path d="M44.6141 0.386184C44.2118 -0.0161743 43.5967 -0.114962 43.0887 0.14106L32.6023 5.42488L39.5754 12.398L44.8593 1.91159C45.1153 1.4035 45.0165 0.788453 44.6141 0.386184Z" fill="#00642F"/>
                                                <path d="M27.8965 9.15634L35.844 17.1038C36.4941 17.7539 37.5482 17.7539 38.1983 17.1038C38.8466 16.4556 38.8503 15.4015 38.1983 14.7495L30.2508 6.80204C29.6007 6.15192 28.5466 6.15192 27.8965 6.80204C27.2483 7.45023 27.2445 8.50437 27.8965 9.15634Z" fill="#00642F"/>
                                                <path d="M33.8888 18.8774L26.1227 11.1113C25.2538 11.5816 24.2443 11.7743 23.2495 11.6321C21.6085 11.3976 19.9284 11.9575 18.7559 13.1299L0.773122 31.1127C-0.257294 32.143 -0.25747 33.811 0.773122 34.8415L10.1585 44.2269C11.1888 45.2573 12.8568 45.2575 13.8873 44.2269L31.87 26.2442C33.0424 25.0719 33.6024 23.3919 33.3678 21.7507C33.2259 20.756 33.4185 19.7465 33.8888 18.8774Z" fill="#00642F"/>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0">
                                                    <rect width="45" height="45" fill="white"/>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </div>
                                    <p>Крайкування</p>
                                </div>
                                <div class="f-w-1">
                                    <div class="date">
                                        <div class="icon-box">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                                                <path d="M15.4219 4.92188C14.7423 4.92188 14.1914 4.37099 14.1914 3.69141V1.23047C14.1914 0.550881 14.7423 0 15.4219 0C16.1015 0 16.6523 0.550881 16.6523 1.23047V3.69141C16.6523 4.37099 16.1015 4.92188 15.4219 4.92188Z" fill="#00642F"/>
                                                <path d="M18.7441 2.46094H17.8828V3.69141C17.8828 5.04837 16.7788 6.15234 15.4219 6.15234C14.0649 6.15234 12.9609 5.04837 12.9609 3.69141V2.46094H8.03906V3.69141C8.03906 5.04837 6.93509 6.15234 5.57812 6.15234C4.22116 6.15234 3.11719 5.04837 3.11719 3.69141V2.46094H2.25586C1.01198 2.46094 0 3.47292 0 4.7168V7.46484H21V4.7168C21 3.47292 19.988 2.46094 18.7441 2.46094Z" fill="#00642F"/>
                                                <path d="M5.57812 4.92188C4.89854 4.92188 4.34766 4.37099 4.34766 3.69141V1.23047C4.34766 0.550881 4.89854 0 5.57812 0C6.25771 0 6.80859 0.550881 6.80859 1.23047V3.69141C6.80859 4.37099 6.25771 4.92188 5.57812 4.92188Z" fill="#00642F"/>
                                                <path d="M0 8.69531V18.7441C0 19.988 1.01198 21 2.25586 21H18.7441C19.988 21 21 19.988 21 18.7441V8.69531H0ZM11.1466 16.6934C11.1466 18.0503 10.0426 19.1543 8.68563 19.1543C7.46468 19.1543 6.41694 18.2435 6.24836 17.0358C6.23265 16.9232 6.2247 16.808 6.2247 16.6934C6.2247 16.3536 6.50016 16.0781 6.83993 16.0781C7.1797 16.0781 7.45516 16.3536 7.45516 16.6934C7.45516 16.7513 7.45918 16.8093 7.46706 16.8658C7.55118 17.469 8.07507 17.9238 8.68563 17.9238C9.36411 17.9238 9.9161 17.3718 9.9161 16.6934C9.9161 16.0149 9.36411 15.4629 8.68563 15.4629C8.34586 15.4629 8.0704 15.1874 8.0704 14.8477C8.0704 14.5079 8.34586 14.2324 8.68563 14.2324C9.36411 14.2324 9.9161 13.6804 9.9161 13.002C9.9161 12.3235 9.36411 11.7715 8.68563 11.7715C8.09886 11.7715 7.59109 12.1884 7.47826 12.7628C7.41271 13.0962 7.08906 13.3133 6.75601 13.2479C6.4226 13.1824 6.20538 12.8591 6.27088 12.5256C6.49671 11.3757 7.51226 10.541 8.68563 10.541C10.0426 10.541 11.1466 11.645 11.1466 13.002C11.1466 13.7365 10.8227 14.3964 10.3108 14.8477C10.8227 15.299 11.1466 15.9589 11.1466 16.6934ZM14.7753 18.5391C14.7753 18.8788 14.4998 19.1543 14.1601 19.1543C13.8203 19.1543 13.5448 18.8788 13.5448 18.5391V11.7715H12.5821C12.2423 11.7715 11.9668 11.496 11.9668 11.1562C11.9668 10.8165 12.2423 10.541 12.5821 10.541H14.1601C14.4998 10.541 14.7753 10.8165 14.7753 11.1562V18.5391Z" fill="#00642F"/>
                                            </svg>
                                        </div>
                                        <input type="text" class="datepicker" placeholder="30.11.2020">
                                    </div>
                                </div>
                                <div class="f-w-1">
                                    <p>Фактичний час:</p>
                                    <p> 02.12.2020</p>
                                </div>
                            </li>
                            <li class="list-elements__el">
                                <div class="f-w-1">
                                    <div class="img-box">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" fill="none">
                                            <g clip-path="url(#clip0)">
                                                <path d="M34.5536 24.1074C28.7842 24.1074 24.1072 28.7845 24.1072 34.5538C24.1072 40.3232 28.7842 45.0003 34.5536 45.0003C40.323 45.0003 45 40.3232 45 34.5538C44.9934 28.7872 40.3203 24.1141 34.5536 24.1074ZM42.5893 35.3574H35.3572V41.786H33.75V35.3574H26.5179V33.7503H33.75V26.5181H35.3572V33.7503H42.5893V35.3574Z" fill="#00642F"/>
                                                <path d="M26.5179 0H44.1965C44.6403 0 45.0001 0.359802 45.0001 0.803571V18.4821C45.0001 18.9259 44.6403 19.2857 44.1965 19.2857H26.5179C26.0742 19.2857 25.7144 18.9259 25.7144 18.4821V0.803571C25.7144 0.359802 26.0742 0 26.5179 0Z" fill="#00642F"/>
                                                <path d="M0.803571 0H18.4821C18.9259 0 19.2857 0.359802 19.2857 0.803571V18.4821C19.2857 18.9259 18.9259 19.2857 18.4821 19.2857H0.803571C0.359802 19.2857 0 18.9259 0 18.4821V0.803571C0 0.359802 0.359802 0 0.803571 0Z" fill="#00642F"/>
                                                <path d="M0.803571 25.7148H18.4821C18.9259 25.7148 19.2857 26.0746 19.2857 26.5184V44.197C19.2857 44.6408 18.9259 45.0006 18.4821 45.0006H0.803571C0.359802 45.0006 0 44.6408 0 44.197V26.5184C0 26.0746 0.359802 25.7148 0.803571 25.7148Z" fill="#00642F"/>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0">
                                                    <rect width="45" height="45" fill="white"/>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </div>
                                    <p>Присадка</p>
                                </div>
                                <div class="f-w-1">
                                    <div class="date">
                                        <div class="icon-box">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                                                <path d="M15.4219 4.92188C14.7423 4.92188 14.1914 4.37099 14.1914 3.69141V1.23047C14.1914 0.550881 14.7423 0 15.4219 0C16.1015 0 16.6523 0.550881 16.6523 1.23047V3.69141C16.6523 4.37099 16.1015 4.92188 15.4219 4.92188Z" fill="#00642F"/>
                                                <path d="M18.7441 2.46094H17.8828V3.69141C17.8828 5.04837 16.7788 6.15234 15.4219 6.15234C14.0649 6.15234 12.9609 5.04837 12.9609 3.69141V2.46094H8.03906V3.69141C8.03906 5.04837 6.93509 6.15234 5.57812 6.15234C4.22116 6.15234 3.11719 5.04837 3.11719 3.69141V2.46094H2.25586C1.01198 2.46094 0 3.47292 0 4.7168V7.46484H21V4.7168C21 3.47292 19.988 2.46094 18.7441 2.46094Z" fill="#00642F"/>
                                                <path d="M5.57812 4.92188C4.89854 4.92188 4.34766 4.37099 4.34766 3.69141V1.23047C4.34766 0.550881 4.89854 0 5.57812 0C6.25771 0 6.80859 0.550881 6.80859 1.23047V3.69141C6.80859 4.37099 6.25771 4.92188 5.57812 4.92188Z" fill="#00642F"/>
                                                <path d="M0 8.69531V18.7441C0 19.988 1.01198 21 2.25586 21H18.7441C19.988 21 21 19.988 21 18.7441V8.69531H0ZM11.1466 16.6934C11.1466 18.0503 10.0426 19.1543 8.68563 19.1543C7.46468 19.1543 6.41694 18.2435 6.24836 17.0358C6.23265 16.9232 6.2247 16.808 6.2247 16.6934C6.2247 16.3536 6.50016 16.0781 6.83993 16.0781C7.1797 16.0781 7.45516 16.3536 7.45516 16.6934C7.45516 16.7513 7.45918 16.8093 7.46706 16.8658C7.55118 17.469 8.07507 17.9238 8.68563 17.9238C9.36411 17.9238 9.9161 17.3718 9.9161 16.6934C9.9161 16.0149 9.36411 15.4629 8.68563 15.4629C8.34586 15.4629 8.0704 15.1874 8.0704 14.8477C8.0704 14.5079 8.34586 14.2324 8.68563 14.2324C9.36411 14.2324 9.9161 13.6804 9.9161 13.002C9.9161 12.3235 9.36411 11.7715 8.68563 11.7715C8.09886 11.7715 7.59109 12.1884 7.47826 12.7628C7.41271 13.0962 7.08906 13.3133 6.75601 13.2479C6.4226 13.1824 6.20538 12.8591 6.27088 12.5256C6.49671 11.3757 7.51226 10.541 8.68563 10.541C10.0426 10.541 11.1466 11.645 11.1466 13.002C11.1466 13.7365 10.8227 14.3964 10.3108 14.8477C10.8227 15.299 11.1466 15.9589 11.1466 16.6934ZM14.7753 18.5391C14.7753 18.8788 14.4998 19.1543 14.1601 19.1543C13.8203 19.1543 13.5448 18.8788 13.5448 18.5391V11.7715H12.5821C12.2423 11.7715 11.9668 11.496 11.9668 11.1562C11.9668 10.8165 12.2423 10.541 12.5821 10.541H14.1601C14.4998 10.541 14.7753 10.8165 14.7753 11.1562V18.5391Z" fill="#00642F"/>
                                            </svg>
                                        </div>
                                        <input type="text" class="datepicker" placeholder="30.11.2020">
                                    </div>
                                </div>
                                <div class="f-w-1">
                                    <p>Фактичний час:</p>
                                    <p> 02.12.2020</p>
                                </div>
                            </li>
                        </ul>
                        <button type="submit">Зберегти</button>
                    </form>


                </div>
            </div>
        </div>
    </section>
</main>

//= template/modals.html
//= template/bottom.html
//= template/footer.html