//= template/top.html
  //= template/header.html
  <div class="page page-orders page-orders-customer order-page">
    <div class="container-lg">
      <div class="page-orders__content page-orders-customer__content">
        <div class="sidebar__mobile">
          <div class="sidebar__mobile-left">
            <a href="" class="sidebar__avatar">
              <img class="sidebar__avatar-img" src="img/avatar.svg" alt="">
            </a>
            <div class="sidebar__username">Доброго дня, Сергій! <span><a href="">Змінити дані</a></span></div>
            <div class="sidebar__info-mobile-dropdown dropdown">
              <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <div class="sidebar">
                  <div class="sidebar__block">
                    <div class="sidebar__block-header">
                      <div class="sidebar__block-title-icon">
                        <img src="img/sidebar-title-icon.svg" alt="">
                      </div>
                      <div class="sidebar__block-title">Особисті данні</div>
                    </div>
                    <div class="sidebar__block-body">
                      <div class="sidebar__block-body-top">
                        <div class="sidebar__block-listname">Дані облікового запису</div>
                        <ul class="sidebar__block-list">
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/avatar-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">Сергій Сергійович</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/mail-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">info@info.com</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/phone-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">+38 (096) 000-00-00</div>
                          </li>
                        </ul>
                        <a href="" class="sidebar__block-link">Змінити дані</a>
                        <a href="" class="sidebar__block-link">Змінити пароль</a>
                      </div>
                      <div class="sidebar__block-body-bottom">
                        <div class="sidebar__block-listname">Персональний менеджер</div>
                        <ul class="sidebar__block-list">
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/avatar-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">Сергій Сергійович</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/mail-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">info@info.com</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/phone-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">+38 (096) 000-00-00</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar__mobile-middle">
            <div class="sidebar__nav-mobile">
              <div class="sidebar__nav-mobile-title">Особисті дані</div>
              <div class="sidebar__nav-mobile-dropdown dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <div class="sidebar__nav">
                    <ul class="sidebar__nav-list">
                      <li class="sidebar__nav-item sidebar__nav-item-active">
                        <a href="" class="sidebar__nav-link sidebar__nav-link-active">Особисті дані</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Кошик</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Мої замовлення</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Послуги</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Мої знижки</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Лист очікування</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Написати <br> повідомлення</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar__mobile-right">
            <a href="" class="sidebar__button-mobile">
              <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
              Вийти
            </a>
            <a href="#nav-modal" data-toggle="modal" class="sidebar__button-mobile-modal">
              <img src="img/home.svg" alt="">
            </a>
          </div>
        </div>
        <aside class="sidebar">
          <div class="sidebar__header">
            <div class="sidebar__header-avatar">
              <img class="sidebar__header-icon" src="img/avatar.svg" alt="">
            </div>
            <div class="sidebar__header-name">Доброго дня, <br> Сергій!</div>
          </div>
          <div class="sidebar__nav">
            <ul class="sidebar__nav-list">
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link ">Особисті дані</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Кошик</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Мої замовлення</a>
              </li>
              <li class="sidebar__nav-item sidebar__nav-item-active">
                <a href="" class="sidebar__nav-link sidebar__nav-link-active">Послуги</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Мої знижки</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Лист очікування</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Написати <br> повідомлення</a>
              </li>
            </ul>
          </div>
          <a href="" class="sidebar__button">
            <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
            Вийти
          </a>
        </aside>
        <main class="main">
          <div class="main__content-section">
            <div class="table__section">
              <div class="table__section-title mb-3 d-block">
                <div class="table__title-list">
                  <div class="order-page__header">
                    <a href="#" class="order-page__back">
                    </a>
                    <div class="order-page__title">Створити замовлення</div>
                    
                  </div>
                </div>
              </div>
              <div class="radius-block order-block mb-3">
                <div class="order-block__search">
                  <form action="#" class="searchField">
                    <input class="searchField__input" type="text" placeholder="Пошук">
                    <button class="searchField__button" type="button"><img src="img/icons/search.svg" alt="#"></button>
                  </form>
                  <a href="#" class="button button--stroke">Відчистити список</a>
                </div>
                <table class="order-block__body">
                  <tr class="order-block__row">
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-main">
                        <div class="order-block__row-el-main-imgContainer">
                          <img src="img/brus1.png" alt="#" class="order-block__row-el-main-img">
                        </div>
                        <div class="order-block__row-el-main-body">
                          <div class="order-block__row-el-main-body-title">
                            Послуга 1
                          </div>
                          <div class="order-block__row-el-main-body-subtitle">

                            <a href="#" class="moreInfo">Детальніше</a>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-material">Категорія</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-price">455 грн.\м.п.</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="quantityEl order-block__quantityEl">
                        <input type="number" value="1" min="1" max="50">
                      </div>
                    </td>
                    <!-- <td class="order-block__row-el">
                      <div class="dropdown buttonsDropdown">
                        <button class="dropdown__toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu--fourButtons" aria-labelledby="dropdownMenuButton">
                          <a href="#" class="buttonsDropdown__el buttonsDropdown__el--edit"></a>
                          <a href="#" class="buttonsDropdown__el buttonsDropdown__el--check"></a>
                          <a href="#" class="buttonsDropdown__el buttonsDropdown__el--copy"></a>
                          <a href="#" class="buttonsDropdown__el buttonsDropdown__el--delete"></a>
                        </div>
                      </div>
                    </td> -->
                  </tr>
                  <tr class="order-block__row">
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-main">
                        <div class="order-block__row-el-main-imgContainer">
                          <img src="img/brus1.png" alt="#" class="order-block__row-el-main-img">
                        </div>
                        <div class="order-block__row-el-main-body">
                          <div class="order-block__row-el-main-body-title">
                            Послуга 2
                          </div>
                          <div class="order-block__row-el-main-body-subtitle">

                            <a href="#" class="moreInfo">Детальніше</a>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-material">Категорія</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-price">455 грн.\м.п.</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="quantityEl order-block__quantityEl">
                        <input type="number" value="1" min="1" max="50">
                      </div>
                    </td>
                  </tr>
                  <tr class="order-block__row">
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-main">
                        <div class="order-block__row-el-main-imgContainer">
                          <img src="img/brus1.png" alt="#" class="order-block__row-el-main-img">
                        </div>
                        <div class="order-block__row-el-main-body">
                          <div class="order-block__row-el-main-body-title">
                            Послуга 3
                          </div>
                          <div class="order-block__row-el-main-body-subtitle">

                            <a href="#" class="moreInfo">Детальніше</a>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-material">Категорія</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-price">455 грн.\м.п.</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="quantityEl order-block__quantityEl">
                        <input type="number" value="1" min="1" max="50">
                      </div>
                    </td>
                  </tr>
                </table>
                <div class="order-nav">
                  <div class="showOnPage">
                    <a href="#" class="showOnPage__link">Показати на сторінці</a>
                    <div class="dropdown table__dropdown dropdown--greenBorder">
                      <button class="dropdown__toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="dropdown__toggle-value">10</span>
                        <i class="fas fa-chevron-down"></i>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button" data-page-size="10">10</button>
                        <button class="dropdown-item" type="button" data-page-size="20">20</button>
                        <button class="dropdown-item" type="button" data-page-size="50">50</button>
                        <button class="dropdown-item" type="button" data-page-size="100">100</button>
                        <button class="dropdown-item" type="button" data-page-size="200">200</button>
                      </div>
                    </div>
                  </div>
                  <div class="order-nav__text">1 - 1 від 1</div>
                  <div class="order-nav__arrows">
                    <a href="#" class="order-nav__arrow"><i class="fas fa-chevron-left"></i></a>
                    <a href="#" class="order-nav__arrow"><i class="fas fa-chevron-right"></i></a>
                  </div>
                </div>
              </div>
              
              <div class="radius-block addedProducts">
                <div class="addedProducts__title"> Добавлені товари </div>
                <div class="owl-carousel addedProducts__carousel">
                  <div class="addedProducts__carousel-el">
                    <div class="addedProducts__carousel-el-remove"><img src="img/icons/times.svg" alt="#"></div>
                    <div class="addedProducts__carousel-el-imgContainer">
                      <img src="img/brusCarousel.png" alt="#" class="addedProducts__carousel-el-img">
                    </div>
                    <p class="addedProducts__carousel-el-title h-auto">Послуга 1</p>
                    
                    <div class="addedProducts__carousel-el-price"> 455 грн.\м.п. </div>
                    <div class="quantityEl">
                      <input type="number" value="1" min="1" max="50">
                    </div>
                  </div>
                  <div class="addedProducts__carousel-el">
                    <div class="addedProducts__carousel-el-remove"><img src="img/icons/times.svg" alt="#"></div>
                    <div class="addedProducts__carousel-el-imgContainer">
                      <img src="img/brusCarousel.png" alt="#" class="addedProducts__carousel-el-img">
                    </div>
                    <p class="addedProducts__carousel-el-title h-auto">Послуга 1</p>
                    
                    <div class="addedProducts__carousel-el-price"> 455 грн.\м.п. </div>
                    <div class="quantityEl">
                      <input type="number" value="1" min="1" max="50">
                    </div>
                  </div>
                  <div class="addedProducts__carousel-el">
                    <div class="addedProducts__carousel-el-remove"><img src="img/icons/times.svg" alt="#"></div>
                    <div class="addedProducts__carousel-el-imgContainer">
                      <img src="img/brusCarousel.png" alt="#" class="addedProducts__carousel-el-img">
                    </div>
                    <p class="addedProducts__carousel-el-title h-auto">Послуга 1</p>

                    <div class="addedProducts__carousel-el-price"> 455 грн.\м.п. </div>
                    <div class="quantityEl">
                      <input type="number" value="1" min="1" max="50">
                    </div>
                  </div>
                  <div class="addedProducts__carousel-el">
                    <div class="addedProducts__carousel-el-remove"><img src="img/icons/times.svg" alt="#"></div>
                    <div class="addedProducts__carousel-el-imgContainer">
                      <img src="img/brusCarousel.png" alt="#" class="addedProducts__carousel-el-img">
                    </div>
                    <p class="addedProducts__carousel-el-title h-auto">Послуга 1</p>
                    
                    <div class="addedProducts__carousel-el-price"> 455 грн.\м.п. </div>
                    <div class="quantityEl">
                      <input type="number" value="1" min="1" max="50">
                    </div>
                  </div>
                  <div class="addedProducts__carousel-el">
                    <div class="addedProducts__carousel-el-remove"><img src="img/icons/times.svg" alt="#"></div>
                    <div class="addedProducts__carousel-el-imgContainer">
                      <img src="img/brusCarousel.png" alt="#" class="addedProducts__carousel-el-img">
                    </div>
                    <p class="addedProducts__carousel-el-title h-auto">Послуга 1</p>
                    
                    <div class="addedProducts__carousel-el-price"> 455 грн.\м.п. </div>
                    <div class="quantityEl">
                      <input type="number" value="1" min="1" max="50">
                    </div>
                  </div>
                  <div class="addedProducts__carousel-el">
                    <div class="addedProducts__carousel-el-remove"><img src="img/icons/times.svg" alt="#"></div>
                    <div class="addedProducts__carousel-el-imgContainer">
                      <img src="img/brusCarousel.png" alt="#" class="addedProducts__carousel-el-img">
                    </div>
                    <p class="addedProducts__carousel-el-title h-auto">Послуга 1</p>
                    
                    <div class="addedProducts__carousel-el-price"> 455 грн.\м.п. </div>
                    <div class="quantityEl">
                      <input type="number" value="1" min="1" max="50">
                    </div>
                  </div>
                </div>
                <div class="addedProducts__footer">
                  <div class="d-flex w-100">
                  <div class="addedProducts__info">
                    <div class="addedProducts__info-price"> 100 000 грн</div>
                    <div class="addedProducts__info-products">42 товари</div>
                  </div>
                  <div class="addedProducts__date">
                    Дата поставки
                    <span>08.12.2020</span>
                  </div>
                  </div>
                  <div class="buttons170">
                  <a href="#" class="button text-center button--stroke addedProducts__footer-button mr-sm-3">Завантажити проект Giblab</a>
                  
                  <a href="#" class="button text-center button--darkGreen addedProducts__footer-button">Замовити</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    //= template/footer.html
  </div>
  //= template/modals.html
//= template/bottom.html