//= template/top.html
  //= template/header.html
  <div class="page page-lk page-lk-manager">
    <div class="container-lg">
      <div class="page-lk__content page-lk-manager__content">
        <div class="sidebar__mobile">
          <div class="sidebar__mobile-left">
            <a href="" class="sidebar__avatar">
              <img class="sidebar__avatar-img" src="img/avatar.svg" alt="">
            </a>
            <div class="sidebar__username">Доброго дня, Сергій! <span><a href="">Змінити дані</a></span></div>
            <div class="sidebar__info-mobile-dropdown dropdown">
              <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <div class="sidebar">
                  <div class="sidebar__block">
                    <div class="sidebar__block-header">
                      <div class="sidebar__block-title-icon">
                        <img src="img/sidebar-title-icon.svg" alt="">
                      </div>
                      <div class="sidebar__block-title">Особисті данні</div>
                    </div>
                    <div class="sidebar__block-body">
                      <div class="sidebar__block-body-top">
                        <div class="sidebar__block-listname">Дані облікового запису</div>
                        <ul class="sidebar__block-list">
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/avatar-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">Сергій Сергійович</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/mail-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">info@info.com</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/phone-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">+38 (096) 000-00-00</div>
                          </li>
                        </ul>
                        <a href="" class="sidebar__block-link">Змінити дані</a>
                        <a href="" class="sidebar__block-link">Змінити пароль</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar__mobile-middle">
            <div class="sidebar__nav-mobile">
              <div class="sidebar__nav-mobile-title">Особисті дані</div>
              <div class="sidebar__nav-mobile-dropdown dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <div class="sidebar__nav">
                    <ul class="sidebar__nav-list">
                      <li class="sidebar__nav-item sidebar__nav-item-active">
                        <a href="" class="sidebar__nav-link sidebar__nav-link-active">Особисті дані</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Замовлення</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Замовники</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Послуги</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Загублений виклик</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Лист очікування</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar__mobile-right">
            <a href="" class="sidebar__button-mobile">
              <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
              Вийти
            </a>
            <a href="#nav-modal" data-toggle="modal" class="sidebar__button-mobile-modal">
              <img src="img/home.svg" alt="">
            </a>
          </div>
        </div>
        <aside class="sidebar">
          <div class="sidebar__header">
            <div class="sidebar__header-avatar">
              <img class="sidebar__header-icon" src="img/avatar.svg" alt="">
            </div>
            <div class="sidebar__header-name">Доброго дня, <br> Сергій!</div>
          </div>
          <div class="sidebar__nav">
            <ul class="sidebar__nav-list">
              <li class="sidebar__nav-item sidebar__nav-item-active">
                <a href="" class="sidebar__nav-link sidebar__nav-link-active">Особисті дані</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Замовлення</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Замовники</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Послуги</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Загублений виклик</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Лист очікування</a>
              </li>
            </ul>
          </div>
          <a href="" class="sidebar__button">
            <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
            Вийти
          </a>
          <div class="sidebar__block">
            <div class="sidebar__block-header">
              <div class="sidebar__block-title-icon">
                <img src="img/sidebar-title-icon.svg" alt="">
              </div>
              <div class="sidebar__block-title">Особисті данні</div>
            </div>
            <div class="sidebar__block-body">
              <div class="sidebar__block-body-top">
                <div class="sidebar__block-listname">Дані облікового запису</div>
                <ul class="sidebar__block-list">
                  <li class="sidebar__block-item">
                    <div class="sidebar__block-item-icon">
                      <img src="img/avatar-small.svg" alt="">
                    </div>
                    <div class="sidebar__block-item-text">Сергій Сергійович</div>
                  </li>
                  <li class="sidebar__block-item">
                    <div class="sidebar__block-item-icon">
                      <img src="img/mail-small.svg" alt="">
                    </div>
                    <div class="sidebar__block-item-text">info@info.com</div>
                  </li>
                  <li class="sidebar__block-item">
                    <div class="sidebar__block-item-icon">
                      <img src="img/phone-small.svg" alt="">
                    </div>
                    <div class="sidebar__block-item-text">+38 (096) 000-00-00</div>
                  </li>
                </ul>
                <a href="" class="sidebar__block-link">Змінити дані</a>
                <a href="" class="sidebar__block-link">Змінити пароль</a>
              </div>
            </div>
          </div>
        </aside>
        <main class="main">
          <div class="main__content-section">
            <div class="main__col-left">
              <div class="content__block-large content__block">
                <div class="content__block-header">
                  <div class="content__block-icon">
                    <img src="img/order-icon.svg" alt="">
                  </div>
                  <div class="content__block-title">Замовлення</div>
                </div>
                <div class="content__block-body">
                  <div class="content__block-body-order">
                    <ul class="content__block-list">
                      <li class="content__block-item">
                        <div class="content__block-item-top">
                          <div class="content__block-item-icon"><img src="img/order-icon-done.svg" alt=""></div>
                          <a href="" class="content__block-item-number">#1234567890</a>
                          <div class="content__block-item-date">від 28.01.2018</div>
                          <div class="content__block-item-price">457 999 грн</div>
                        </div>
                        <div class="content__block-item-bottom">
                          <div class="content__block-item-status">Оплачений. Заказ виконаний</div>
                        </div>
                      </li>
                      <li class="content__block-item">
                        <div class="content__block-item-top">
                          <div class="content__block-item-icon"><img src="img/order-icon-undone.svg" alt=""></div>
                          <a href="" class="content__block-item-number">#1234567890</a>
                          <div class="content__block-item-date">від 28.01.2018</div>
                          <div class="content__block-item-price">457 999 грн</div>
                        </div>
                        <div class="content__block-item-bottom">
                          <div class="content__block-item-status">Не оплачений. Заказ не виконан</div>
                        </div>
                      </li>
                      <li class="content__block-item">
                        <div class="content__block-item-top">
                          <div class="content__block-item-icon"><img src="img/order-icon-timer.svg" alt=""></div>
                          <a href="" class="content__block-item-number">#1234567890</a>
                          <div class="content__block-item-date">від 28.01.2018</div>
                          <div class="content__block-item-price">457 999 грн</div>
                        </div>
                        <div class="content__block-item-bottom">
                          <div class="content__block-item-status">Замовлення доставляється</div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <a href="" class="content__block-button">
                  <div class="content__block-button-inner">Всі замовлення</div>
                </a>
              </div>
              <div class="content__block-large content__block">
                <div class="content__block-header">
                  <div class="content__block-icon">
                    <img src="img/order-icon.svg" alt="">
                  </div>
                  <div class="content__block-title">Замовлення виробництво</div>
                </div>
                <div class="content__block-body">
                  <div class="content__block-body-order">
                    <ul class="content__block-list">
                      <li class="content__block-item">
                        <div class="content__block-item-top">
                          <div class="content__block-item-icon"><img src="img/order-icon-done.svg" alt=""></div>
                          <a href="" class="content__block-item-number">#1234567890</a>
                          <div class="content__block-item-date">від 28.01.2018</div>
                          <div class="content__block-item-price">457 999 грн</div>
                        </div>
                        <div class="content__block-item-bottom">
                          <div class="content__block-item-status">Оплачений. Заказ виконаний</div>
                        </div>
                      </li>
                      <li class="content__block-item">
                        <div class="content__block-item-top">
                          <div class="content__block-item-icon"><img src="img/order-icon-undone.svg" alt=""></div>
                          <a href="" class="content__block-item-number">#1234567890</a>
                          <div class="content__block-item-date">від 28.01.2018</div>
                          <div class="content__block-item-price">457 999 грн</div>
                        </div>
                        <div class="content__block-item-bottom">
                          <div class="content__block-item-status">Не оплачений. Заказ не виконан</div>
                        </div>
                      </li>
                      <li class="content__block-item">
                        <div class="content__block-item-top">
                          <div class="content__block-item-icon"><img src="img/order-icon-timer.svg" alt=""></div>
                          <a href="" class="content__block-item-number">#1234567890</a>
                          <div class="content__block-item-date">від 28.01.2018</div>
                          <div class="content__block-item-price">457 999 грн</div>
                        </div>
                        <div class="content__block-item-bottom">
                          <div class="content__block-item-status">Замовлення доставляється</div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <a href="" class="content__block-button">
                  <div class="content__block-button-inner">Всі замовлення</div>
                </a>
              </div>
            </div>
            <div class="main__col-right">
              <div class="content__block-small content__block">
                <div class="content__block-header">
                  <div class="content__block-icon">
                    <img src="img/user-group.svg" alt="">
                  </div>
                  <div class="content__block-title">Нові замовники</div>
                </div>
                <div class="content__block-body">
                  <div class="content__block-body-customer">
                    <div class="content__block-item">
                      <div class="content__block-item-user"> <img src="img/user-medium.svg" alt=""> Павленко Сергій</div>
                      <div class="content__block-item-text">ТОВ Метінвест</div>
                      <a href="" class="content__block-item-link">Подивитись</a>
                    </div>
                    <div class="content__block-item">
                      <div class="content__block-item-user"> <img src="img/user-medium.svg" alt=""> Павленко Сергій</div>
                      <div class="content__block-item-text">ТОВ Метінвест</div>
                      <a href="" class="content__block-item-link">Подивитись</a>
                    </div>
                    <div class="content__block-item">
                      <div class="content__block-item-user"> <img src="img/user-medium.svg" alt=""> Павленко Сергій</div>
                      <div class="content__block-item-text">ТОВ Метінвест</div>
                      <a href="" class="content__block-item-link">Подивитись</a>
                    </div>
                  </div>
                </div>
                <a href="" class="content__block-button">
                  <div class="content__block-button-inner">Подивитись</div>
                </a>
              </div>
              <div class="content__block-small content__block">
                <div class="content__block-header">
                  <div class="content__block-icon">
                    <img src="img/user-group.svg" alt="">
                  </div>
                  <div class="content__block-title">Постійні замовники</div>
                </div>
                <div class="content__block-body">
                  <div class="content__block-body-customer">
                    <div class="content__block-item">
                      <div class="content__block-item-user"> <img src="img/user-medium.svg" alt=""> Павленко Сергій</div>
                      <div class="content__block-item-text">ТОВ Метінвест</div>
                      <a href="" class="content__block-item-link">Подивитись</a>
                    </div>
                    <div class="content__block-item">
                      <div class="content__block-item-user"> <img src="img/user-medium.svg" alt=""> Павленко Сергій</div>
                      <div class="content__block-item-text">ТОВ Метінвест</div>
                      <a href="" class="content__block-item-link">Подивитись</a>
                    </div>
                    <div class="content__block-item">
                      <div class="content__block-item-user"> <img src="img/user-medium.svg" alt=""> Павленко Сергій</div>
                      <div class="content__block-item-text">ТОВ Метінвест</div>
                      <a href="" class="content__block-item-link">Подивитись</a>
                    </div>
                  </div>
                </div>
                <a href="" class="content__block-button">
                  <div class="content__block-button-inner">Подивитись</div>
                </a>
              </div>
              <div class="content__block-small content__block">
                <div class="content__block-header">
                  <div class="content__block-icon">
                    <img src="img/load-icon.svg" alt="">
                  </div>
                  <div class="content__block-title">Черга на послуги</div>
                </div>
                <div class="content__block-body-small content__block-body">
                  <div class="content__block-body-line">
                    <div class="content__block-listname">Філія:  <span>Мукачево</span></div>
                    <div class="content__block-item">
                      <div class="content__block-item-name">Порізка</div>
                      <div class="content__block-item-date">26.10.2020</div>
                    </div>
                    <div class="content__block-item">
                      <div class="content__block-item-name">Присадка</div>
                      <div class="content__block-item-date">26.10.2020</div>
                    </div>
                    <div class="content__block-item">
                      <div class="content__block-item-name">Поклейка</div>
                      <div class="content__block-item-date">26.10.2020</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    //= template/footer.html
  </div>
  //= template/modals.html
//= template/bottom.html