//= template/top.html
  
  <div>


<!-- Log in modal -->
<a href="#login-modal" data-toggle="modal" class="button button--stroke">Модальное окно 1</a>

<div class="modal fade" id="login-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Вхід в особистий кабінет</div>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <a href="" aria-hidden="true">
            <img src="img/modal-close.svg" alt="">
          </a>
        </button>
      </div>
      <div class="modal-body">
        <div class="field-container">
          <input type="tel" class="modal-input modal-input-m0 number-mask" placeholder="Номер телефону">
          <div class="field-container__error">Неправильно вказано номер телефону</div>
        </div>
        <div class="modal-text">
          <a href="" class="modal-link">Реєстрація</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-button modal-button-small">Вхід</button>
        <button type="button" class="modal-button modal-button-small" data-dismiss="modal">Відміна</button>
      </div>
    </div>
  </div>
</div>

<!-- Log in error modal -->
<a href="#login-error-modal" data-toggle="modal" class="button button--stroke">Модальное окно 2</a>

<div class="modal fade" id="login-error-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Вхід в особистий кабінет</div>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <a href="" aria-hidden="true">
            <img src="img/modal-close.svg" alt="">
          </a>
        </button>
      </div>
      <div class="modal-body">
        <div class="field-container error">
          <input type="tel" class="modal-input modal-input-m0 number-mask" placeholder="Номер телефону">
          <div class="field-container__error">Неправильно вказано номер телефону</div>
        </div>
        <div class="modal-text">
          <a href="" class="modal-link">Реєстрація</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-button modal-button-small">Вхід</button>
        <button type="button" class="modal-button modal-button-small" data-dismiss="modal">Відміна</button>
      </div>
    </div>
  </div>
</div>

<!-- Log in sms modal -->
<a href="#login-sms-modal" data-toggle="modal" class="button button--stroke">Модальное окно 3</a>

<div class="modal fade" id="login-sms-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Вхід в особистий кабінет</div>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <a href="" aria-hidden="true">
            <img src="img/modal-close.svg" alt="">
          </a>
        </button>
      </div>
      <div class="modal-body">
        <div class="field-container">
          <input type="tel" class="modal-input number-mask" placeholder="Номер телефону">
          <input type="text" class="modal-input password-mask" placeholder="Пароль СМС">
          <div class="field-container__error">Неправильно вказано номер телефону</div>
        </div>
      </div>
      <div class="modal-footer modal-footer-m30">
        <button type="button" class="modal-button modal-button-small">Вхід</button>
        <button type="button" class="modal-button modal-button-small" data-dismiss="modal">Відміна</button>
      </div>
    </div>
  </div>
</div>

<!-- Log in sms error modal -->
<a href="#login-sms-error-modal" data-toggle="modal" class="button button--stroke">Модальное окно 4</a>

<div class="modal fade" id="login-sms-error-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Вхід в особистий кабінет</div>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <a href="" aria-hidden="true">
            <img src="img/modal-close.svg" alt="">
          </a>
        </button>
      </div>
      <div class="modal-body">
        <div class="field-container error-pass">
          <input type="tel" class="modal-input number-mask" placeholder="Номер телефону">
          <input type="text" class="modal-input password-mask" placeholder="Пароль СМС">
          <div class="field-container__error field-container__error-m0">Неправильно вказано пароль <span> <a class="modal-link" href="">Запросити повторно</a> </span> </div>
        </div>
      </div>
      <div class="modal-footer modal-footer-m30">
        <button type="button" class="modal-button modal-button-small">Вхід</button>
        <button type="button" class="modal-button modal-button-small" data-dismiss="modal">Відміна</button>
      </div>
    </div>
  </div>
</div>

<!-- Registration modal -->
<a href="#reg-modal" data-toggle="modal" class="button button--stroke">Модальное окно 5</a>

<div class="modal fade" id="reg-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Реєстрація</div>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <a href="" aria-hidden="true">
            <img src="img/modal-close.svg" alt="">
          </a>
        </button>
      </div>
      <div class="modal-body">
        <div class="field-container">
          <input type="text" class="modal-input modal-input-m20" placeholder="ПІБ">
          <input type="tel" class="modal-input modal-input-m20 number-mask" placeholder="Номер телефону">
          <input type="text" class="modal-input modal-input-m20" placeholder="E-mail">
          <div class="select">
            <select class="modal-select" name="select" id="">
              <option value="">Виберіть місто</option>
              <option value="">Киев</option>
              <option value="">Харьков</option>
              <option value="">Одесса</option>
              <option value="">Днепр</option>
              <option value="">Донецк</option>
              <option value="">Запорожье</option>
              <option value="">Львов</option>
              <option value="">Кривой Рог</option>
              <option value="">Николаев</option>
              <option value="">Севастополь</option>
              <option value="">Мариуполь</option>
              <option value="">Луганск</option>
              <option value="">Винница</option>
              <option value="">Симферополь</option>
              <option value="">Макеевка</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
            </select>
          </div>
          <div class="checkbox">
            <div class="modal-checkbox-item">
              <input class="modal-checkbox" type="checkbox" name="" id="juristically">
              <div class="modal-checkbox-text" >Юр. особа</div>
            </div>
          </div>
          <div class="modal-hiden">
            <div class="check-box">
              <div class="modal-checkbox-item">
                <input class="modal-checkbox modal-checkbox-input" type="checkbox" name="" id="">
                <div class="modal-checkbox-text">Платник ПДВ</div>
              </div>
            </div>
            <input type="text" class="modal-input modal-input-m20" placeholder="Назва компанії">
            <input type="text" class="modal-input modal-input-m20" placeholder="ЄДРПОУ">
            <input type="text" class="modal-input modal-input-m20" placeholder="Посада">
          </div>
          <div class="checkbox">
            <div class="modal-checkbox-item">
              <input class="modal-checkbox" type="checkbox" name="" id="">
              <div class="modal-checkbox-text">Ознайомлений з політикою конфіденційності</div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer modal-footer-m30">
        <button type="button" class="modal-button modal-button-large">Надіслати пароль</button>
      </div>
    </div>
  </div>
</div>

<!-- After registration modal -->
<a href="#after-reg-modal" data-toggle="modal" class="button button--stroke">Модальное окно 6</a>

<div class="modal fade" id="after-reg-modal">
  <div class="modal-dialog modal-dialog-large">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title modal-title-m15">Дякуємо, що зареєструвалися на нашому сайті</div>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <a href="" aria-hidden="true">
            <img src="img/modal-close.svg" alt="">
          </a>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Contract modal -->
<a href="#contract-modal" data-toggle="modal" class="button button--stroke">Модальное окно 7</a>

<div class="modal fade" id="contract-modal">
  <div class="modal-dialog modal-dialog-medium">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Оновлення договору</div>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <a href="" aria-hidden="true">
            <img src="img/modal-close.svg" alt="">
          </a>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-doctext">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
        </div>
        <a href="" class="modal-download-link"><img src="img/download.svg" alt=""> Завантажити зразок контракту, підписати</a>
        <button class="modal-download-button" type="file"> <img src="img/clip.svg" alt=""> Завантажити копію</button>
      </div>
    </div>
  </div>
</div>


<!-- Mobile nav modal -->
<a href="#nav-modal" data-toggle="modal" class="button button--stroke">Модальное окно 8</a>

<div class="modal fade" id="nav-modal">
  <div class="modal-dialog modal-dialog-nav">
    <div class="modal-content modal-content-nav">
      <div class="modal-header">
        <a href="" class="sidebar__avatar">
          <img class="sidebar__avatar-img" src="img/avatar.svg" alt="">
        </a>
        <div class="sidebar__username">Доброго дня, Сергій! <span><a href="">Змінити дані</a></span></div>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <a href="" aria-hidden="true">
            <img src="img/close.svg" alt="">
          </a>
        </button>
      </div>
      <div class="modal-body">
        <div class="sidebar__nav">
          <ul class="sidebar__nav-list">
            <li class="sidebar__nav-item sidebar__nav-item-active">
              <a href="" class="sidebar__nav-link sidebar__nav-link-active">Особисті дані</a>
            </li>
            <li class="sidebar__nav-item">
              <a href="" class="sidebar__nav-link">Кошик</a>
            </li>
            <li class="sidebar__nav-item">
              <a href="" class="sidebar__nav-link">Мої замовлення</a>
            </li>
            <li class="sidebar__nav-item">
              <a href="" class="sidebar__nav-link">Послуги</a>
            </li>
            <li class="sidebar__nav-item">
              <a href="" class="sidebar__nav-link">Мої знижки</a>
            </li>
            <li class="sidebar__nav-item">
              <a href="" class="sidebar__nav-link">Лист очікування</a>
            </li>
            <li class="sidebar__nav-item">
              <a href="" class="sidebar__nav-link">Написати <br> повідомлення</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <a href="" class="sidebar__button">
          <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
          Вийти
        </a>
      </div>
    </div>
  </div>
</div>


</div>
//= template/modals.html
//= template/bottom.html