//= template/top.html
  //= template/header.html
  <div class="page page-orders page-orders-manager">
    <div class="container-lg">
      <div class="page-orders__content page-orders-manager__content">
        <div class="sidebar__mobile">
          <div class="sidebar__mobile-left">
            <a href="" class="sidebar__avatar">
              <img class="sidebar__avatar-img" src="img/avatar.svg" alt="">
            </a>
            <div class="sidebar__username">Доброго дня, Сергій! <span><a href="">Змінити дані</a></span></div>
            <div class="sidebar__info-mobile-dropdown dropdown">
              <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <div class="sidebar">
                  <div class="sidebar__block">
                    <div class="sidebar__block-header">
                      <div class="sidebar__block-title-icon">
                        <img src="img/sidebar-title-icon.svg" alt="">
                      </div>
                      <div class="sidebar__block-title">Особисті данні</div>
                    </div>
                    <div class="sidebar__block-body">
                      <div class="sidebar__block-body-top">
                        <div class="sidebar__block-listname">Дані облікового запису</div>
                        <ul class="sidebar__block-list">
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/avatar-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">Сергій Сергійович</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/mail-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">info@info.com</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/phone-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">+38 (096) 000-00-00</div>
                          </li>
                        </ul>
                        <a href="" class="sidebar__block-link">Змінити дані</a>
                        <a href="" class="sidebar__block-link">Змінити пароль</a>
                      </div>
                      <div class="sidebar__block-body-bottom">
                        <div class="sidebar__block-listname">Персональний менеджер</div>
                        <ul class="sidebar__block-list">
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/avatar-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">Сергій Сергійович</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/mail-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">info@info.com</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/phone-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">+38 (096) 000-00-00</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar__mobile-middle">
            <div class="sidebar__nav-mobile">
              <div class="sidebar__nav-mobile-title">Особисті дані</div>
              <div class="sidebar__nav-mobile-dropdown dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <div class="sidebar__nav">
                    <ul class="sidebar__nav-list">
                      <li class="sidebar__nav-item sidebar__nav-item-active">
                        <a href="" class="sidebar__nav-link sidebar__nav-link-active">Особисті дані</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Кошик</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Мої замовлення</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Послуги</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Мої знижки</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Лист очікування</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Написати <br> повідомлення</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar__mobile-right">
            <a href="" class="sidebar__button-mobile">
              <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
              Вийти
            </a>
            <a href="#nav-modal" data-toggle="modal" class="sidebar__button-mobile-modal">
              <img src="img/home.svg" alt="">
            </a>
          </div>
        </div>
        <aside class="sidebar">
          <div class="sidebar__header">
            <div class="sidebar__header-avatar">
              <img class="sidebar__header-icon" src="img/avatar.svg" alt="">
            </div>
            <div class="sidebar__header-name">Доброго дня, <br> Сергій!</div>
          </div>
          <div class="sidebar__nav">
            <ul class="sidebar__nav-list">
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link ">Особисті дані</a>
              </li>
              <li class="sidebar__nav-item sidebar__nav-item-active">
                <a href="" class="sidebar__nav-link sidebar__nav-link-active">Замовлення</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Замовники</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Послуги</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Загублений виклик</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Лист очікування</a>
              </li>
            </ul>
          </div>
          <a href="" class="sidebar__button">
            <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
            Вийти
          </a>
        </aside>
        <main class="main">
          <div class="main__content-section">
            <div class="table__section">
              <div class="table__section-button">
                <button type="button" class="addorder-button table__button">
                  <div class="addorder-button-inner">
                    Створити замовлення
                  </div>
                </button>
              </div>
              <div class="table__section-title">
                <div class="table__title-list">
                  <div class="table__title-side-left">
                    <div class="table__title-icon">
                      <img src="img/cart-done.svg" alt="">
                    </div>
                    <div class="table__title-name">Мої замовлення</div>
                  </div>
                  <div class="table__title-side-right">
                    <ul class="table__title-list">
                      <li class="table__title-item">
                        <a href="" class="table__title-link">Всі</a>
                      </li>
                      <li class="table__title-item">
                        <a href="" class="table__title-link">Нові</a>
                      </li>
                      <li class="table__title-item">
                        <a href="" class="table__title-link">В роботі</a>
                      </li>
                      <li class="table__title-item">
                        <a href="" class="table__title-link">Очікує оплати</a>
                      </li>
                      <li class="table__title-item">
                        <a href="" class="table__title-link">Доставляється</a>
                      </li>
                      <li class="table__title-item">
                        <a href="" class="table__title-link">Відвантаження</a>
                      </li>
                      <li class="table__title-item">
                        <a href="" class="table__title-link">Завершено</a>
                      </li>
                      <li class="table__title-item">
                        <a href="" class="table__title-link">Скасовано</a>
                      </li>
                    </ul>
                    <div class="table__title-dropdown dropdown">
                      <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Всі
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Нові</a>
                        <a class="dropdown-item" href="#">В роботі</a>
                        <a class="dropdown-item" href="#">Очікує оплати</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table__section-table">
                <table class="table table__orders table__orders-manager" id="Table">
                  <thead>
                    <tr>
                      <th>
                        <div class="col__container col__container-title">
                          <div class="col__title">Номер та дата замовлення</div>
                        </div>
                      </th>
                      <th>
                        <div class="col__container col__container-title">
                          <div class="col__title">Дата <br> відвантаження</div>
                        </div>
                      </th>
                      <th>
                        <div class="col__container col__container-title">
                          <div class="col__title">Сума <br> замовлення</div>
                        </div>
                      </th>
                      <th data-breakpoints="xxs">
                        <div class="col__container col__container-title">
                          <div class="col__title">Виробництво</div>
                        </div>
                      </th>
                      <th data-breakpoints="lg">
                        <div class="col__container col__container-title">
                          <div class="col__title">Замовник</div>
                        </div>
                      </th>
                      <th data-breakpoints="xs">
                        <div class="col__container col__container-title">
                          <div class="col__title">Статус <br> заказу</div>
                        </div>
                      </th>
                      <th data-breakpoints="xs">
                        <div class="col__container col__container-title">
                          <div class="col__title">Спосіб доставки</div>
                        </div>
                      </th>
                      <th data-breakpoints="xs">
                        <div class="col__container col__container-title">
                          <div class="col__title"></div>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="col__container col__container-number">
                          <a href="" class="col__number">№ 3267264-43</a>
                          <div class="col__date">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-date">
                          <div class="col__date-sell">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-price">
                          <div class="col__amount">4 товари</div>
                          <div class="col__price">45 000 грн.</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-prod">
                          <div class="col__prod">№ 3267264-43</div>
                          <div class="col__date">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-customer">
                          <div class="col__customer">Віталій Сергійович</div>
                          <div class="col__customer-number">+38 (096) 000-00-00</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-status">
                          <img src="img/order-icon-done.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-post">
                          <img src="img/post/np-small.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-button">
                          <div class="dropdown buttonsDropdown">
                            <button class="dropdown__toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu dropdown-menu--fourButtons" aria-labelledby="dropdownMenuButton">
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--edit"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--check"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--copy"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--delete"></a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="col__container col__container-number">
                          <a href="" class="col__number">№ 3267264-43</a>
                          <div class="col__date">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-date">
                          <div class="col__date-sell">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-price">
                          <div class="col__amount">2 товари</div>
                          <div class="col__price">43 000 грн.</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-prod">
                          <div class="col__date">відсутнє</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-customer">
                          <div class="col__customer">Віталій Сергійович</div>
                          <div class="col__customer-number">+38 (096) 000-00-00</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-status">
                          <img src="img/order-icon-undone.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-post">
                          <img src="img/post/post-sat.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-button">
                          <div class="dropdown buttonsDropdown">
                            <button class="dropdown__toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu dropdown-menu--fourButtons" aria-labelledby="dropdownMenuButton">
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--edit"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--check"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--copy"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--delete"></a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="col__container col__container-number">
                          <a href="" class="col__number">№ 3267264-43</a>
                          <div class="col__date">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-date">
                          <div class="col__date-sell">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-price">
                          <div class="col__amount">3 товари</div>
                          <div class="col__price">44 000 грн.</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-prod">
                          <div class="col__prod">№ 3267264-43</div>
                          <div class="col__date">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-customer">
                          <div class="col__customer">Віталій Сергійович</div>
                          <div class="col__customer-number">+38 (096) 000-00-00</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-status">
                          <img src="img/order-icon-timer.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-post">
                          <img src="img/post/post-intime.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-button">
                          <div class="dropdown buttonsDropdown">
                            <button class="dropdown__toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu dropdown-menu--fourButtons" aria-labelledby="dropdownMenuButton">
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--edit"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--check"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--copy"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--delete"></a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="col__container col__container-number">
                          <a href="" class="col__number">№ 3267264-43</a>
                          <div class="col__date">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-date">
                          <div class="col__date-sell">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-price">
                          <div class="col__amount">4 товари</div>
                          <div class="col__price">45 000 грн.</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-prod">
                          <div class="col__date">відсутнє</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-customer">
                          <div class="col__customer">Віталій Сергійович</div>
                          <div class="col__customer-number">+38 (096) 000-00-00</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-status">
                          <img src="img/order-icon-done.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-post">
                          <img src="img/post/np-small.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-button">
                          <div class="dropdown buttonsDropdown">
                            <button class="dropdown__toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu dropdown-menu--fourButtons" aria-labelledby="dropdownMenuButton">
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--edit"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--check"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--copy"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--delete"></a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="col__container col__container-number">
                          <a href="" class="col__number">№ 3267264-43</a>
                          <div class="col__date">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-date">
                          <div class="col__date-sell">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-price">
                          <div class="col__amount">2 товари</div>
                          <div class="col__price">43 000 грн.</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-prod">
                          <div class="col__date">відсутнє</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-customer">
                          <div class="col__customer">Віталій Сергійович</div>
                          <div class="col__customer-number">+38 (096) 000-00-00</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-status">
                          <img src="img/order-icon-undone.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-post">
                          <img src="img/post/post-sat.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-button">
                          <div class="dropdown buttonsDropdown">
                            <button class="dropdown__toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu dropdown-menu--fourButtons" aria-labelledby="dropdownMenuButton">
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--edit"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--check"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--copy"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--delete"></a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="col__container col__container-number">
                          <a href="" class="col__number">№ 3267264-43</a>
                          <div class="col__date">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-date">
                          <div class="col__date-sell">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-price">
                          <div class="col__amount">3 товари</div>
                          <div class="col__price">44 000 грн.</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-prod">
                          <div class="col__prod">№ 3267264-43</div>
                          <div class="col__date">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-customer">
                          <div class="col__customer">Віталій Сергійович</div>
                          <div class="col__customer-number">+38 (096) 000-00-00</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-status">
                          <img src="img/order-icon-timer.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-post">
                          <img src="img/post/post-intime.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-button">
                          <div class="dropdown buttonsDropdown">
                            <button class="dropdown__toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu dropdown-menu--fourButtons" aria-labelledby="dropdownMenuButton">
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--edit"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--check"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--copy"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--delete"></a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="col__container col__container-number">
                          <a href="" class="col__number">№ 3267264-43</a>
                          <div class="col__date">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-date">
                          <div class="col__date-sell">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-price">
                          <div class="col__amount">4 товари</div>
                          <div class="col__price">45 000 грн.</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-prod">
                          <div class="col__prod">№ 3267264-43</div>
                          <div class="col__date">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-customer">
                          <div class="col__customer">Віталій Сергійович</div>
                          <div class="col__customer-number">+38 (096) 000-00-00</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-status">
                          <img src="img/order-icon-done.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-post">
                          <img src="img/post/np-small.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-button">
                          <div class="dropdown buttonsDropdown">
                            <button class="dropdown__toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu dropdown-menu--fourButtons" aria-labelledby="dropdownMenuButton">
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--edit"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--check"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--copy"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--delete"></a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="col__container col__container-number">
                          <a href="" class="col__number">№ 3267264-43</a>
                          <div class="col__date">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-date">
                          <div class="col__date-sell">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-price">
                          <div class="col__amount">2 товари</div>
                          <div class="col__price">43 000 грн.</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-prod">
                          <div class="col__date">відсутнє</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-customer">
                          <div class="col__customer">Віталій Сергійович</div>
                          <div class="col__customer-number">+38 (096) 000-00-00</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-status">
                          <img src="img/order-icon-undone.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-post">
                          <img src="img/post/post-sat.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-button">
                          <div class="dropdown buttonsDropdown">
                            <button class="dropdown__toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu dropdown-menu--fourButtons" aria-labelledby="dropdownMenuButton">
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--edit"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--check"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--copy"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--delete"></a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="col__container col__container-number">
                          <a href="" class="col__number">№ 3267264-43</a>
                          <div class="col__date">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-date">
                          <div class="col__date-sell">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-price">
                          <div class="col__amount">3 товари</div>
                          <div class="col__price">44 000 грн.</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-prod">
                          <div class="col__prod">№ 3267264-43</div>
                          <div class="col__date">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-customer">
                          <div class="col__customer">Віталій Сергійович</div>
                          <div class="col__customer-number">+38 (096) 000-00-00</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-status">
                          <img src="img/order-icon-timer.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-post">
                          <img src="img/post/post-intime.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-button">
                          <div class="dropdown buttonsDropdown">
                            <button class="dropdown__toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu dropdown-menu--fourButtons" aria-labelledby="dropdownMenuButton">
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--edit"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--check"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--copy"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--delete"></a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="col__container col__container-number">
                          <a href="" class="col__number">№ 3267264-43</a>
                          <div class="col__date">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-date">
                          <div class="col__date-sell">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-price">
                          <div class="col__amount">4 товари</div>
                          <div class="col__price">45 000 грн.</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-prod">
                          <div class="col__date">відсутнє</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-customer">
                          <div class="col__customer">Віталій Сергійович</div>
                          <div class="col__customer-number">+38 (096) 000-00-00</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-status">
                          <img src="img/order-icon-done.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-post">
                          <img src="img/post/np-small.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-button">
                          <div class="dropdown buttonsDropdown">
                            <button class="dropdown__toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu dropdown-menu--fourButtons" aria-labelledby="dropdownMenuButton">
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--edit"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--check"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--copy"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--delete"></a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="col__container col__container-number">
                          <a href="" class="col__number">№ 3267264-43</a>
                          <div class="col__date">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-date">
                          <div class="col__date-sell">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-price">
                          <div class="col__amount">2 товари</div>
                          <div class="col__price">43 000 грн.</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-prod">
                          <div class="col__date">відсутнє</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-customer">
                          <div class="col__customer">Віталій Сергійович</div>
                          <div class="col__customer-number">+38 (096) 000-00-00</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-status">
                          <img src="img/order-icon-undone.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-post">
                          <img src="img/post/post-sat.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-button">
                          <div class="dropdown buttonsDropdown">
                            <button class="dropdown__toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu dropdown-menu--fourButtons" aria-labelledby="dropdownMenuButton">
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--edit"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--check"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--copy"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--delete"></a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="col__container col__container-number">
                          <a href="" class="col__number">№ 3267264-43</a>
                          <div class="col__date">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-date">
                          <div class="col__date-sell">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-price">
                          <div class="col__amount">3 товари</div>
                          <div class="col__price">44 000 грн.</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-prod">
                          <div class="col__prod">№ 3267264-43</div>
                          <div class="col__date">28.11.2020</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-customer">
                          <div class="col__customer">Віталій Сергійович</div>
                          <div class="col__customer-number">+38 (096) 000-00-00</div>
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-status">
                          <img src="img/order-icon-timer.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-post">
                          <img src="img/post/post-intime.svg" alt="">
                        </div>
                      </td>
                      <td>
                        <div class="col__container col__container-button">
                          <div class="dropdown buttonsDropdown">
                            <button class="dropdown__toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu dropdown-menu--fourButtons" aria-labelledby="dropdownMenuButton">
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--edit"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--check"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--copy"></a>
                              <a href="#" class="buttonsDropdown__el buttonsDropdown__el--delete"></a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="table__section-footer-manager">
                <div class="table__section-footer-left">
                  <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Фільтр <br> замовник
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                  <div class="table__section-footer-search">
                    <input class="table__section-footer-input" type="text" placeholder="Пошук">
                    <img src="img/search.svg">
                  </div>
                </div>
                <div class="table__section-footer-right">
                  <button type="button" class="addorder-button table__button">
                    <div class="addorder-button-inner">
                      Створити замовлення
                    </div>
                  </button>
                  <div class="table__section-footer-right-box">
                    <div class="table__dropdown-name">Показати на сторінці</div>
                    <div class="dropdown table__dropdown">
                      <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        10
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button" data-page-size="10">10</button>
                        <button class="dropdown-item" type="button" data-page-size="20">20</button>
                        <button class="dropdown-item" type="button" data-page-size="50">50</button>
                        <button class="dropdown-item" type="button" data-page-size="100">100</button>
                        <button class="dropdown-item" type="button" data-page-size="200">200</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    //= template/footer.html
  </div>
  //= template/modals.html
//= template/bottom.html