//= template/top.html
  //= template/header.html
  <div class="page page-orders page-orders-customer order-page">
    <div class="container-lg">
      <div class="page-orders__content page-orders-customer__content">
        <div class="sidebar__mobile">
          <div class="sidebar__mobile-left">
            <a href="" class="sidebar__avatar">
              <img class="sidebar__avatar-img" src="img/avatar.svg" alt="">
            </a>
            <div class="sidebar__username">Доброго дня, Сергій! <span><a href="">Змінити дані</a></span></div>
            <div class="sidebar__info-mobile-dropdown dropdown">
              <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <div class="sidebar">
                  <div class="sidebar__block">
                    <div class="sidebar__block-header">
                      <div class="sidebar__block-title-icon">
                        <img src="img/sidebar-title-icon.svg" alt="">
                      </div>
                      <div class="sidebar__block-title">Особисті данні</div>
                    </div>
                    <div class="sidebar__block-body">
                      <div class="sidebar__block-body-top">
                        <div class="sidebar__block-listname">Дані облікового запису</div>
                        <ul class="sidebar__block-list">
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/avatar-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">Сергій Сергійович</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/mail-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">info@info.com</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/phone-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">+38 (096) 000-00-00</div>
                          </li>
                        </ul>
                        <a href="" class="sidebar__block-link">Змінити дані</a>
                        <a href="" class="sidebar__block-link">Змінити пароль</a>
                      </div>
                      <div class="sidebar__block-body-bottom">
                        <div class="sidebar__block-listname">Персональний менеджер</div>
                        <ul class="sidebar__block-list">
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/avatar-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">Сергій Сергійович</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/mail-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">info@info.com</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/phone-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">+38 (096) 000-00-00</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar__mobile-middle">
            <div class="sidebar__nav-mobile">
              <div class="sidebar__nav-mobile-title">Особисті дані</div>
              <div class="sidebar__nav-mobile-dropdown dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <div class="sidebar__nav">
                    <ul class="sidebar__nav-list">
                      <li class="sidebar__nav-item sidebar__nav-item-active">
                        <a href="" class="sidebar__nav-link sidebar__nav-link-active">Особисті дані</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Замовлення</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Замовники</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Послуги</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Загублений виклик</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Лист очікування</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar__mobile-right">
            <a href="" class="sidebar__button-mobile">
              <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
              Вийти
            </a>
            <a href="#nav-modal" data-toggle="modal" class="sidebar__button-mobile-modal">
              <img src="img/home.svg" alt="">
            </a>
          </div>
        </div>
        <aside class="sidebar">
          <div class="sidebar__header">
            <div class="sidebar__header-avatar">
              <img class="sidebar__header-icon" src="img/avatar.svg" alt="">
            </div>
            <div class="sidebar__header-name">Доброго дня, <br> Сергій!</div>
          </div>
          <div class="sidebar__nav">
            <ul class="sidebar__nav-list">
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link ">Особисті дані</a>
              </li>
              <li class="sidebar__nav-item sidebar__nav-item-active">
                <a href="" class="sidebar__nav-link sidebar__nav-link-active">Замовлення</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Замовники</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Послуги</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Загублений виклик</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Лист очікування</a>
              </li>
            </ul>
          </div>
          <a href="" class="sidebar__button">
            <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
            Вийти
          </a>
        </aside>
        <main class="main">
          <div class="main__content-section">
            <div class="table__section">
              <div class="table__section-title mb-3 d-block">
                <div class="table__title-list">
                  <div class="order-page__header">
                    <a href="#" class="order-page__back">
                    </a>
                    <div class="order-page__title">Замовлення № 3267264-43</div>
                    
                  </div>
                </div>
              </div>
              <div class="radius-block order__header mb-3">
                <div class="order__menu">
                  <div class="order__menu-el">
                    <span class="order__menu-el-text">Дата замовлення:</span>
                    <span class="order__menu-el-value">28.11.2020</span>
                  </div>
                  <div class="order__menu-el">
                    <div class="order-block__row-el-status agree">
                      <img src="img/icons/checkGreen.svg" alt="#">
                      <div class="order-block__row-el-status-text">В наявності</div>
                    </div>
                  </div>
                  <div class="order__menu-el">
                    <span class="order__menu-el-text">Спосіб доставки:</span>
                    <span class="order__menu-el-value">Нова Пошта</span>
                  </div>
                  <div class="order__menu-el align-items-md-center align-items-start">
                    <span class="order__menu-el-text">Платник:</span>
                    <span class="order__menu-el-value">
                      Степаненко В.А.
                      <span class="order__menu-el-value-tel">+38 (096) 000 -00 -00</span>
                    </span>
                  </div>
                </div>
                <div class="order__header-buttons">
                  <button class="order__header-printer">
                    <img src="img/icons/printer.svg" alt="#">
                  </button>
                  
                </div>
              </div>
              <div class="radius-block order-block mb-3">

                <table class="order-block__body order-block__body--smallPadding">
                  <tr class="order-block__row">
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-main">
                        <div class="order-block__row-el-main-imgContainer">
                          <img src="img/brus1.png" alt="#" class="order-block__row-el-main-img">
                        </div>
                        <div class="order-block__row-el-main-body">
                          <div class="order-block__row-el-main-body-title">
                            МДФ шліфоване (2800х2070*16) Кроно
                          </div>
                          <div class="order-block__row-el-main-body-subtitle">
                            <span class="articul">Артикул: 42394824</span>
                            <a href="#" class="moreInfo">Детальніше</a>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-material">МДФ</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-status agree">
                        <img src="img/icons/checkGreen.svg" alt="#">
                        <div class="order-block__row-el-status-text">В наявності</div>
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-price">455 грн.\м.п.<span class="oldPrice">500 грн.\м.п.</span></div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-quantity">
                        2 шт
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-priceAll">45 000 грн<span class="oldPrice">50 000 грн.</span></div>
                    </td>
                    <!-- <td class="order-block__row-el">
                      <div class="dropdown buttonsDropdown">
                        <button class="dropdown__toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu--fourButtons" aria-labelledby="dropdownMenuButton">
                          <a href="#" class="buttonsDropdown__el buttonsDropdown__el--edit"></a>
                          <a href="#" class="buttonsDropdown__el buttonsDropdown__el--check"></a>
                          <a href="#" class="buttonsDropdown__el buttonsDropdown__el--copy"></a>
                          <a href="#" class="buttonsDropdown__el buttonsDropdown__el--delete"></a>
                        </div>
                      </div>
                    </td> -->
                  </tr>
                  <tr class="order-block__row">
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-main">
                        <div class="order-block__row-el-main-imgContainer">
                          <img src="img/brus1.png" alt="#" class="order-block__row-el-main-img">
                        </div>
                        <div class="order-block__row-el-main-body">
                          <div class="order-block__row-el-main-body-title">
                            Плита ОСБ 2500х1250х10 вологостійка
                          </div>
                          <div class="order-block__row-el-main-body-subtitle">
                            <span class="articul">Артикул: 42394824</span>
                            <a href="#" class="moreInfo">Детальніше</a>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-material">ОСБ</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-status waiting">
                        <img src="img/icons/timerYellow.svg" alt="#">
                        <div class="order-block__row-el-status-text">Очікується</div>
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-price">455 грн.\м.п.<span class="oldPrice">500 грн.\м.п.</span></div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-quantity">
                        2 шт
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-priceAll">45 000 грн<span class="oldPrice">50 000 грн.</span></div>
                    </td>
                  </tr>
                  <tr class="order-block__row" style="border-bottom: 1px solid #DFDFDF;">
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-main">
                        <div class="order-block__row-el-main-imgContainer">
                          <img src="img/brus1.png" alt="#" class="order-block__row-el-main-img">
                        </div>
                        <div class="order-block__row-el-main-body">
                          <div class="order-block__row-el-main-body-title">
                            Плита ОСБ 2500х1250х10 вологостійка
                          </div>
                          <div class="order-block__row-el-main-body-subtitle">
                            <span class="articul">Артикул: 42394824</span>
                            <a href="#" class="moreInfo">Детальніше</a>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-material">ОСБ</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-status waiting">
                        <img src="img/icons/timerYellow.svg" alt="#">
                        <div class="order-block__row-el-status-text">Очікується</div>
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-price">455 грн.\м.п.<span class="oldPrice">500 грн.\м.п.</span></div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-quantity">
                        2 шт
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-priceAll">45 000 грн<span class="oldPrice">50 000 грн.</span></div>
                    </td>
                  </tr>
                </table>
                <div class="order__footer pt-4">
                  <div class="order-nav d-lg-flex d-none">
                    
                    <div class="showOnPage">
                      <a href="#" class="showOnPage__link">Показати на сторінці</a>
                      <div class="dropdown table__dropdown dropdown--greenBorder">
                        <button class="dropdown__toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="dropdown__toggle-value">10</span>
                          <i class="fas fa-chevron-down"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                          <button class="dropdown-item" type="button" data-page-size="10">10</button>
                          <button class="dropdown-item" type="button" data-page-size="20">20</button>
                          <button class="dropdown-item" type="button" data-page-size="50">50</button>
                          <button class="dropdown-item" type="button" data-page-size="100">100</button>
                          <button class="dropdown-item" type="button" data-page-size="200">200</button>
                        </div>
                      </div>
                    </div>
                    <div class="order-nav__text">1 - 1 від 1</div>
                    <div class="order-nav__arrows">
                      <a href="#" class="order-nav__arrow"><i class="fas fa-chevron-left"></i></a>
                      <a href="#" class="order-nav__arrow"><i class="fas fa-chevron-right"></i></a>
                    </div>
                  </div>
                  <div class="order__footer-buttons">
                    <div class="mr-md-3 mr-0">
                    <div class="d-flex flex-sm-nowrap flex-wrap justify-content-sm-start justify-content-center">
                      <a href="#" class="button button--stroke button--score">
                        <span>Завантажити рахунок</span>
                      </a>
                      <a href="#" class="button button--stroke button--edit">
                        <span>Редагувати</span>
                      </a>
                      <a href="#" class="button button--stroke button--success">
                        <span>Підтвердити замовлення</span>
                      </a>
                    </div>
                    </div>
                    <a href="#" class="button button--solid button--createOrder">
                      <span>Створити виробниче замовлення</span>
                    </a>
                  </div>
                  <div class="order__footer-nav">
                    <div class="d-flex mb-md-0 mb-3">
                      <div class="addedProducts__info">
                        <div class="addedProducts__info-products">Загальна сума</div>
                        <div class="addedProducts__info-price"> 100 000 грн</div>
                        <div class="addedProducts__info-products">42 товари</div>
                      </div>
                      <div class="d-flex flex-lg-row flex-column">
                        <div class="addedProducts__date mr-xl-2 mr-4 mb-2">
                          Сума знижки
                          <span class="def-txt-bold">3 586 грн.</span>
                        </div>
                        <div class="addedProducts__date mb-2">
                          Дата поставки
                          <span>08.12.2020</span>
                        </div>
                      </div>
                      
                    </div>
                    <div class="order-nav d-lg-none">
                    
                      <div class="showOnPage">
                        <a href="#" class="showOnPage__link">Показати на сторінці</a>
                        <div class="dropdown table__dropdown dropdown--greenBorder">
                          <button class="dropdown__toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="dropdown__toggle-value">10</span>
                            <i class="fas fa-chevron-down"></i>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button" data-page-size="10">10</button>
                            <button class="dropdown-item" type="button" data-page-size="20">20</button>
                            <button class="dropdown-item" type="button" data-page-size="50">50</button>
                            <button class="dropdown-item" type="button" data-page-size="100">100</button>
                            <button class="dropdown-item" type="button" data-page-size="200">200</button>
                          </div>
                        </div>
                      </div>
                      <div class="order-nav__text">1 - 1 від 1</div>
                      <div class="order-nav__arrows">
                        <a href="#" class="order-nav__arrow"><i class="fas fa-chevron-left"></i></a>
                        <a href="#" class="order-nav__arrow"><i class="fas fa-chevron-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </main>
      </div>
    </div>
    //= template/footer.html
  </div>
  //= template/modals.html
//= template/bottom.html