//= template/top.html
  //= template/header.html
  <div class="page page-orders page-orders-customer order-page">
    <div class="container-lg">
      <div class="page-orders__content page-orders-customer__content">
        <div class="sidebar__mobile">
          <div class="sidebar__mobile-left">
            <a href="" class="sidebar__avatar">
              <img class="sidebar__avatar-img" src="img/avatar.svg" alt="">
            </a>
            <div class="sidebar__username">Доброго дня, Сергій! <span><a href="">Змінити дані</a></span></div>
            <div class="sidebar__info-mobile-dropdown dropdown">
              <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <div class="sidebar">
                  <div class="sidebar__block">
                    <div class="sidebar__block-header">
                      <div class="sidebar__block-title-icon">
                        <img src="img/sidebar-title-icon.svg" alt="">
                      </div>
                      <div class="sidebar__block-title">Особисті данні</div>
                    </div>
                    <div class="sidebar__block-body">
                      <div class="sidebar__block-body-top">
                        <div class="sidebar__block-listname">Дані облікового запису</div>
                        <ul class="sidebar__block-list">
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/avatar-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">Сергій Сергійович</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/mail-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">info@info.com</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/phone-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">+38 (096) 000-00-00</div>
                          </li>
                        </ul>
                        <a href="" class="sidebar__block-link">Змінити дані</a>
                        <a href="" class="sidebar__block-link">Змінити пароль</a>
                      </div>
                      <div class="sidebar__block-body-bottom">
                        <div class="sidebar__block-listname">Персональний менеджер</div>
                        <ul class="sidebar__block-list">
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/avatar-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">Сергій Сергійович</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/mail-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">info@info.com</div>
                          </li>
                          <li class="sidebar__block-item">
                            <div class="sidebar__block-item-icon">
                              <img src="img/phone-small.svg" alt="">
                            </div>
                            <div class="sidebar__block-item-text">+38 (096) 000-00-00</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar__mobile-middle">
            <div class="sidebar__nav-mobile">
              <div class="sidebar__nav-mobile-title">Особисті дані</div>
              <div class="sidebar__nav-mobile-dropdown dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <div class="sidebar__nav">
                    <ul class="sidebar__nav-list">
                      <li class="sidebar__nav-item sidebar__nav-item-active">
                        <a href="" class="sidebar__nav-link sidebar__nav-link-active">Особисті дані</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Кошик</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Мої замовлення</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Послуги</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Мої знижки</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Лист очікування</a>
                      </li>
                      <li class="sidebar__nav-item">
                        <a href="" class="sidebar__nav-link">Написати <br> повідомлення</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar__mobile-right">
            <a href="" class="sidebar__button-mobile">
              <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
              Вийти
            </a>
            <a href="#nav-modal" data-toggle="modal" class="sidebar__button-mobile-modal">
              <img src="img/home.svg" alt="">
            </a>
          </div>
        </div>
        <aside class="sidebar">
          <div class="sidebar__header">
            <div class="sidebar__header-avatar">
              <img class="sidebar__header-icon" src="img/avatar.svg" alt="">
            </div>
            <div class="sidebar__header-name">Доброго дня, <br> Сергій!</div>
          </div>
          <div class="sidebar__nav">
            <ul class="sidebar__nav-list">
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link ">Особисті дані</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Кошик</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Мої замовлення</a>
              </li>
              <li class="sidebar__nav-item sidebar__nav-item-active">
                <a href="" class="sidebar__nav-link sidebar__nav-link-active">Послуги</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Мої знижки</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Лист очікування</a>
              </li>
              <li class="sidebar__nav-item">
                <a href="" class="sidebar__nav-link">Написати <br> повідомлення</a>
              </li>
            </ul>
          </div>
          <a href="" class="sidebar__button">
            <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
            Вийти
          </a>
          <div class="production__time-block">
            <div class="production__time-title">Терміни виробництва</div>
                <div class="production__time-list">
                    <div class="production__time-item">
                        <div class="production__time-icon">
                            <img src="img/prod-time-1.svg">
                        </div>
                        <div class="production__time-action">Порізка:</div>
                        <div class="production__time-date">22.11.2020</div>
                    </div>
                    <div class="production__time-item">
                        <div class="production__time-icon">
                            <img src="img/prod-time-2.svg">
                        </div>
                        <div class="production__time-action">Присадка:</div>
                        <div class="production__time-date">22.11.2020</div>
                    </div>
                    <div class="production__time-item">
                        <div class="production__time-icon">
                            <img src="img/prod-time-2.svg">
                        </div>
                        <div class="production__time-action">Присадка:</div>
                        <div class="production__time-date">22.11.2020</div>
                    </div>
                </div>
            </div>
        </aside>
        <main class="main">
          <div class="main__content-section">
            <div class="table__section">
              <div class="table__section-title mb-3 d-block">
                <div class="table__title-list">
                  <div class="order-page__header">
                    <a href="#" class="order-page__back">
                    </a>
                    <div class="order-page__title">Замовлення № 3267264-43</div>
                    
                  </div>
                </div>
              </div>
              <div class="radius-block order__header mb-3">
                <div class="order__menu">
                  <div class="order__menu-el">
                    <span class="order__menu-el-text">Дата замовлення:</span>
                    <span class="order__menu-el-value">28.11.2020</span>
                  </div>
                  <div class="order__menu-el">
                    <div class="order-block__row-el-status waiting">
                      <img src="img/icons/timerYellow.svg" alt="#">
                      <div class="order-block__row-el-status-text">Очікує оплати</div>
                    </div>
                  </div>
                  <div class="order__menu-el">
                    <span class="order__menu-el-text">Доставка:</span>
                    <span class="order__menu-el-value">Нова Пошта</span>
                  </div>
                  <div class="order__menu-el">
                    <span class="order__menu-el-text">Платник:</span>
                    <span class="order__menu-el-value">Степаненко В.А.</span>
                  </div>
                </div>
                <div class="order__header-buttons">
                  
                  <div class="dropdown dropdown__manager">
                    <button class="dropdown__toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                      <span class="dropdown__toggle-icon-main"></span>
                      <img src="img/icons/arrowRight.svg" class="dropdown__toggle-icon" alt="#">
                    </button>
                    <div class="dropdown-menu">
                      <div class="dropdown-item">
                        <span class="dropdown__manager-title">Персональний менеджер</span>
                      </div>
                      <div class="dropdown-item">
                        <img src="img/icons/userGreen.svg" alt="#">
                        <span class="dropdown__manager-name">Сергій Сергійович</span>
                      </div>
                      <div class="dropdown-item">
                        <img src="img/icons/envelopeGreen.svg" alt="#">
                        <a href="mailto:info@info.com" class="dropdown__manager-link">info@info.com</a>
                      </div>
                      <div class="dropdown-item">
                        <img src="img/icons/phoneGreen.svg" alt="#">
                        <a href="tel:+38 (096) 000-00-00"  class="dropdown__manager-link">+38 (096) 000-00-00</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="radius-block order-block mb-3">

                <table class="order-block__body order-block__body--smallPadding">
                  <tr class="order-block__row">
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-main smallPadding">
                        <div class="order-block__row-el-main-imgContainer">
                          <img src="img/brus1.png" alt="#" class="order-block__row-el-main-img">
                        </div>
                        <div class="order-block__row-el-main-body">
                          <div class="order-block__row-el-main-body-title h-auto">
                            Послуга 1
                          </div>
                          <div class="order-block__row-el-main-body-subtitle">
                            <a href="#" class="moreInfo">Детальніше</a>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-material">Категорія</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-status agree">
                        <img src="img/icons/checkGreen.svg" alt="#">
                        <div class="order-block__row-el-status-text">В роботі</div>
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-price">455 грн.\м.п.</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-quantity">
                        2 шт
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-priceAll">45 000 грн</div>
                    </td>
                    <!-- <td class="order-block__row-el">
                      <div class="dropdown buttonsDropdown">
                        <button class="dropdown__toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu--fourButtons" aria-labelledby="dropdownMenuButton">
                          <a href="#" class="buttonsDropdown__el buttonsDropdown__el--edit"></a>
                          <a href="#" class="buttonsDropdown__el buttonsDropdown__el--check"></a>
                          <a href="#" class="buttonsDropdown__el buttonsDropdown__el--copy"></a>
                          <a href="#" class="buttonsDropdown__el buttonsDropdown__el--delete"></a>
                        </div>
                      </div>
                    </td> -->
                  </tr>
                  <tr class="order-block__row">
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-main smallPadding">
                        <div class="order-block__row-el-main-imgContainer">
                          <img src="img/brus1.png" alt="#" class="order-block__row-el-main-img">
                        </div>
                        <div class="order-block__row-el-main-body">
                          <div class="order-block__row-el-main-body-title h-auto">
                            Послуга 1
                          </div>
                          <div class="order-block__row-el-main-body-subtitle">
                            <a href="#" class="moreInfo">Детальніше</a>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-material">Категорія</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-status agree">
                        <img src="img/icons/checkGreen.svg" alt="#">
                        <div class="order-block__row-el-status-text">В роботі</div>
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-price">455 грн.\м.п.</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-quantity">
                        2 шт
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-priceAll">45 000 грн</div>
                    </td>
                  </tr>
                  <tr class="order-block__row" style="border-bottom: 1px solid #DFDFDF;">
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-main smallPadding">
                        <div class="order-block__row-el-main-imgContainer">
                          <img src="img/brus1.png" alt="#" class="order-block__row-el-main-img">
                        </div>
                        <div class="order-block__row-el-main-body">
                          <div class="order-block__row-el-main-body-title h-auto">
                            Послуга 1
                          </div>
                          <div class="order-block__row-el-main-body-subtitle">
                            <a href="#" class="moreInfo">Детальніше</a>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-material">Категорія</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-status agree">
                        <img src="img/icons/checkGreen.svg" alt="#">
                        <div class="order-block__row-el-status-text">В роботі</div>
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-price">455 грн.\м.п.</div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-quantity">
                        2 шт
                      </div>
                    </td>
                    <td class="order-block__row-el">
                      <div class="order-block__row-el-priceAll">45 000 грн</div>
                    </td>
                  </tr>
                </table>
                <div class="order__footer">
                  <div class="order__footer-buttons order__footer-buttons--fourButtons">
                    <div class="d-flex">
                      <a href="#" class="button button--stroke text-center">
                        <span>Завантажити рахунок</span>
                      </a>
                      <a href="#" class="button button--stroke text-center">
                        <span>Редагувати</span>
                      </a>
                      <a href="#" class="button button--stroke text-center">
                        <span>Замовити товари</span>
                      </a>
                      <a href="#" class="button button--stroke text-center disabled">
                        <span>Завантажити креслення</span>
                      </a>
                    </div>
                  </div>
                  <div class="order__footer-nav">
                    <div class="d-flex mb-md-0 mb-3">
                      <div class="addedProducts__info">
                        <div class="addedProducts__info-products">Загальна сума</div>
                        <div class="addedProducts__info-price"> 100 000 грн</div>
                        <div class="addedProducts__info-products">42 товари</div>
                      </div>
                      <div class="addedProducts__date">
                        Дата поставки
                        <span>08.12.2020</span>
                      </div>
                    </div>
                    <div class="order-nav">
                    
                      <div class="showOnPage">
                        <a href="#" class="showOnPage__link">Показати на сторінці</a>
                        <div class="dropdown table__dropdown dropdown--greenBorder">
                          <button class="dropdown__toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="dropdown__toggle-value">10</span>
                            <i class="fas fa-chevron-down"></i>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button" data-page-size="10">10</button>
                            <button class="dropdown-item" type="button" data-page-size="20">20</button>
                            <button class="dropdown-item" type="button" data-page-size="50">50</button>
                            <button class="dropdown-item" type="button" data-page-size="100">100</button>
                            <button class="dropdown-item" type="button" data-page-size="200">200</button>
                          </div>
                        </div>
                      </div>
                      <div class="order-nav__text">1 - 1 від 1</div>
                      <div class="order-nav__arrows">
                        <a href="#" class="order-nav__arrow"><i class="fas fa-chevron-left"></i></a>
                        <a href="#" class="order-nav__arrow"><i class="fas fa-chevron-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-lg-none d-block">
                <div class="production__time-block">
                  <div class="production__time-title">Терміни виробництва</div>
                  <div class="production__time-list">
                      <div class="production__time-item">
                          <div class="production__time-icon">
                              <img src="img/prod-time-1.svg">
                          </div>
                          <div class="production__time-action">Порізка:</div>
                          <div class="production__time-date">22.11.2020</div>
                      </div>
                      <div class="production__time-item">
                          <div class="production__time-icon">
                              <img src="img/prod-time-2.svg">
                          </div>
                          <div class="production__time-action">Присадка:</div>
                          <div class="production__time-date">22.11.2020</div>
                      </div>
                      <div class="production__time-item">
                          <div class="production__time-icon">
                              <img src="img/prod-time-2.svg">
                          </div>
                          <div class="production__time-action">Присадка:</div>
                          <div class="production__time-date">22.11.2020</div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    //= template/footer.html
  </div>
  //= template/modals.html
//= template/bottom.html