//= template/top.html
//= template/header.html

<main class="waiting_list production_pages">
    <section>
        <div class="container">
            <div class="waiting_list--content">
                <div class="sidebar-column">
                    <div class="sidebar__mobile">
                        <div class="sidebar__mobile-left">
                            <a href="" class="sidebar__avatar">
                                <img class="sidebar__avatar-img" src="img/avatar.svg" alt="">
                            </a>
                            <div class="sidebar__username">Доброго дня, Сергій! <span><a href="">Змінити дані</a></span>
                            </div>
                            <div class="sidebar__info-mobile-dropdown dropdown">
                                <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <div class="sidebar">
                                        <div class="sidebar__block">
                                            <div class="sidebar__block-header">
                                                <div class="sidebar__block-title-icon">
                                                    <img src="img/sidebar-title-icon.svg" alt="">
                                                </div>
                                                <div class="sidebar__block-title">Особисті данні</div>
                                            </div>
                                            <div class="sidebar__block-body">
                                                <div class="sidebar__block-body-top">
                                                    <div class="sidebar__block-listname">Дані облікового запису</div>
                                                    <ul class="sidebar__block-list">
                                                        <li class="sidebar__block-item">
                                                            <div class="sidebar__block-item-icon">
                                                                <img src="img/avatar-small.svg" alt="">
                                                            </div>
                                                            <div class="sidebar__block-item-text">Сергій Сергійович
                                                            </div>
                                                        </li>
                                                        <li class="sidebar__block-item">
                                                            <div class="sidebar__block-item-icon">
                                                                <img src="img/mail-small.svg" alt="">
                                                            </div>
                                                            <div class="sidebar__block-item-text">info@info.com</div>
                                                        </li>
                                                        <li class="sidebar__block-item">
                                                            <div class="sidebar__block-item-icon">
                                                                <img src="img/phone-small.svg" alt="">
                                                            </div>
                                                            <div class="sidebar__block-item-text">+38 (096) 000-00-00
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <a href="" class="sidebar__block-link">Змінити дані</a>
                                                    <a href="" class="sidebar__block-link">Змінити пароль</a>
                                                </div>
                                                <div class="sidebar__block-body-bottom">
                                                    <div class="sidebar__block-listname">Персональний менеджер</div>
                                                    <ul class="sidebar__block-list">
                                                        <li class="sidebar__block-item">
                                                            <div class="sidebar__block-item-icon">
                                                                <img src="img/avatar-small.svg" alt="">
                                                            </div>
                                                            <div class="sidebar__block-item-text">Сергій Сергійович
                                                            </div>
                                                        </li>
                                                        <li class="sidebar__block-item">
                                                            <div class="sidebar__block-item-icon">
                                                                <img src="img/mail-small.svg" alt="">
                                                            </div>
                                                            <div class="sidebar__block-item-text">info@info.com</div>
                                                        </li>
                                                        <li class="sidebar__block-item">
                                                            <div class="sidebar__block-item-icon">
                                                                <img src="img/phone-small.svg" alt="">
                                                            </div>
                                                            <div class="sidebar__block-item-text">+38 (096) 000-00-00
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__mobile-middle">
                            <div class="sidebar__nav-mobile">
                                <div class="sidebar__nav-mobile-title">Особисті дані</div>
                                <div class="sidebar__nav-mobile-dropdown dropdown">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenu2"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <div class="sidebar__nav">
                                            <ul class="sidebar__nav-list">
                                                <li class="sidebar__nav-item sidebar__nav-item-active">
                                                    <a href="" class="sidebar__nav-link sidebar__nav-link-active">Особисті
                                                        дані</a>
                                                </li>
                                                <li class="sidebar__nav-item">
                                                    <a href="" class="sidebar__nav-link">Кошик</a>
                                                </li>
                                                <li class="sidebar__nav-item">
                                                    <a href="" class="sidebar__nav-link">Мої замовлення</a>
                                                </li>
                                                <li class="sidebar__nav-item">
                                                    <a href="" class="sidebar__nav-link">Послуги</a>
                                                </li>
                                                <li class="sidebar__nav-item">
                                                    <a href="" class="sidebar__nav-link">Мої знижки</a>
                                                </li>
                                                <li class="sidebar__nav-item">
                                                    <a href="" class="sidebar__nav-link">Лист очікування</a>
                                                </li>
                                                <li class="sidebar__nav-item">
                                                    <a href="" class="sidebar__nav-link">Написати <br> повідомлення</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__mobile-right">
                            <a href="" class="sidebar__button-mobile">
                                <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
                                Вийти
                            </a>
                            <a href="#nav-modal" data-toggle="modal" class="sidebar__button-mobile-modal">
                                <img src="img/home.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <aside class="sidebar">
                        <div class="sidebar__header">
                            <div class="sidebar__header-avatar">
                                <img class="sidebar__header-icon" src="img/avatar.svg" alt="">
                            </div>
                            <div class="sidebar__header-name">Доброго дня, <br> Сергій!</div>
                        </div>
                        <div class="sidebar__nav">
                            <ul class="sidebar__nav-list">
                                <li class="sidebar__nav-item">
                                    <a href="" class="sidebar__nav-link ">Особисті дані</a>
                                </li>
                                <li class="sidebar__nav-item">
                                    <a href="" class="sidebar__nav-link">Кошик</a>
                                </li>
                                <li class="sidebar__nav-item sidebar__nav-item-active">
                                    <a href="" class="sidebar__nav-link sidebar__nav-link-active">Мої замовлення</a>
                                </li>
                                <li class="sidebar__nav-item">
                                    <a href="" class="sidebar__nav-link">Послуги</a>
                                </li>
                                <li class="sidebar__nav-item">
                                    <a href="" class="sidebar__nav-link">Мої знижки</a>
                                </li>
                                <li class="sidebar__nav-item">
                                    <a href="" class="sidebar__nav-link">Лист очікування</a>
                                </li>
                                <li class="sidebar__nav-item">
                                    <a href="" class="sidebar__nav-link">Написати <br> повідомлення</a>
                                </li>
                            </ul>
                        </div>
                        <a href="" class="sidebar__button">
                            <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
                            Вийти
                        </a>
                    </aside>
                </div>
                <div class="waiting_list--message">
                    <div class="waiting_list--message__header">
                        <div class="icon-box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"
                                 fill="none">
                                <path d="M15.4219 4.92188C14.7423 4.92188 14.1914 4.37099 14.1914 3.69141V1.23047C14.1914 0.550881 14.7423 0 15.4219 0C16.1015 0 16.6523 0.550881 16.6523 1.23047V3.69141C16.6523 4.37099 16.1015 4.92188 15.4219 4.92188Z"
                                      fill="#00642F"></path>
                                <path d="M18.7441 2.46094H17.8828V3.69141C17.8828 5.04837 16.7788 6.15234 15.4219 6.15234C14.0649 6.15234 12.9609 5.04837 12.9609 3.69141V2.46094H8.03906V3.69141C8.03906 5.04837 6.93509 6.15234 5.57812 6.15234C4.22116 6.15234 3.11719 5.04837 3.11719 3.69141V2.46094H2.25586C1.01198 2.46094 0 3.47292 0 4.7168V7.46484H21V4.7168C21 3.47292 19.988 2.46094 18.7441 2.46094Z"
                                      fill="#00642F"></path>
                                <path d="M5.57812 4.92188C4.89854 4.92188 4.34766 4.37099 4.34766 3.69141V1.23047C4.34766 0.550881 4.89854 0 5.57812 0C6.25771 0 6.80859 0.550881 6.80859 1.23047V3.69141C6.80859 4.37099 6.25771 4.92188 5.57812 4.92188Z"
                                      fill="#00642F"></path>
                                <path d="M0 8.69531V18.7441C0 19.988 1.01198 21 2.25586 21H18.7441C19.988 21 21 19.988 21 18.7441V8.69531H0ZM11.1466 16.6934C11.1466 18.0503 10.0426 19.1543 8.68563 19.1543C7.46468 19.1543 6.41694 18.2435 6.24836 17.0358C6.23265 16.9232 6.2247 16.808 6.2247 16.6934C6.2247 16.3536 6.50016 16.0781 6.83993 16.0781C7.1797 16.0781 7.45516 16.3536 7.45516 16.6934C7.45516 16.7513 7.45918 16.8093 7.46706 16.8658C7.55118 17.469 8.07507 17.9238 8.68563 17.9238C9.36411 17.9238 9.9161 17.3718 9.9161 16.6934C9.9161 16.0149 9.36411 15.4629 8.68563 15.4629C8.34586 15.4629 8.0704 15.1874 8.0704 14.8477C8.0704 14.5079 8.34586 14.2324 8.68563 14.2324C9.36411 14.2324 9.9161 13.6804 9.9161 13.002C9.9161 12.3235 9.36411 11.7715 8.68563 11.7715C8.09886 11.7715 7.59109 12.1884 7.47826 12.7628C7.41271 13.0962 7.08906 13.3133 6.75601 13.2479C6.4226 13.1824 6.20538 12.8591 6.27088 12.5256C6.49671 11.3757 7.51226 10.541 8.68563 10.541C10.0426 10.541 11.1466 11.645 11.1466 13.002C11.1466 13.7365 10.8227 14.3964 10.3108 14.8477C10.8227 15.299 11.1466 15.9589 11.1466 16.6934ZM14.7753 18.5391C14.7753 18.8788 14.4998 19.1543 14.1601 19.1543C13.8203 19.1543 13.5448 18.8788 13.5448 18.5391V11.7715H12.5821C12.2423 11.7715 11.9668 11.496 11.9668 11.1562C11.9668 10.8165 12.2423 10.541 12.5821 10.541H14.1601C14.4998 10.541 14.7753 10.8165 14.7753 11.1562V18.5391Z"
                                      fill="#00642F"></path>
                            </svg>
                        </div>
                        <h2>
                            Черга
                        </h2>
                        <div class="tab-container">
                            <div class="tab-el is-active">
                                Порізка
                            </div>
                            <div class="tab-el ">
                                Крайкування
                            </div>
                            <div class="tab-el ">
                                Присадка
                            </div>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <p>Загальний об'єм порізки</p>
                            <span>
                                 <input type="text" placeholder="241">
                                    <p>м.п.</p>
                            </span>
                        </li>
                        <li>
                            <p>Час обробки 1 м.п.</p>
                            <span>
                            <input type="text" placeholder="241">
                            <p>мін.</p>
                                 </span>
                        </li>
                        <li>
                            <p>Час відстрочки</p>
                            <span>
                            <input type="text" placeholder="3">
                            <p>дні</p>
                                 </span>
                        </li>
                        <li>
                            <p>Завантаження</p>
                            <span>
                            <input type="text" placeholder="3">
                            <p>дні</p>
                                 </span>
                        </li>
                        <li>
                            <p>Вихідні дні</p>
                            <span>
                            <input type="text" placeholder="3" class="datepicker">
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                     fill="none">
                                <path d="M13.2188 4.21875C12.6362 4.21875 12.1641 3.74657 12.1641 3.16406V1.05469C12.1641 0.472184 12.6362 0 13.2188 0C13.8013 0 14.2734 0.472184 14.2734 1.05469V3.16406C14.2734 3.74657 13.8013 4.21875 13.2188 4.21875Z"
                                      fill="black"/>
                                <path d="M16.0664 2.10938H15.3281V3.16406C15.3281 4.32717 14.3819 5.27344 13.2188 5.27344C12.0556 5.27344 11.1094 4.32717 11.1094 3.16406V2.10938H6.89062V3.16406C6.89062 4.32717 5.94436 5.27344 4.78125 5.27344C3.61814 5.27344 2.67188 4.32717 2.67188 3.16406V2.10938H1.93359C0.86741 2.10938 0 2.97679 0 4.04297V6.39844H18V4.04297C18 2.97679 17.1326 2.10938 16.0664 2.10938Z"
                                      fill="black"/>
                                <path d="M4.78125 4.21875C4.19875 4.21875 3.72656 3.74657 3.72656 3.16406V1.05469C3.72656 0.472184 4.19875 0 4.78125 0C5.36375 0 5.83594 0.472184 5.83594 1.05469V3.16406C5.83594 3.74657 5.36375 4.21875 4.78125 4.21875Z"
                                      fill="black"/>
                                <path d="M0 7.45312V16.0664C0 17.1326 0.86741 18 1.93359 18H16.0664C17.1326 18 18 17.1326 18 16.0664V7.45312H0ZM9.5542 14.3086C9.5542 15.4717 8.60794 16.418 7.44483 16.418C6.3983 16.418 5.50023 15.6373 5.35574 14.6021C5.34227 14.5056 5.33545 14.4068 5.33545 14.3086C5.33545 14.0174 5.57156 13.7812 5.8628 13.7812C6.15403 13.7812 6.39014 14.0174 6.39014 14.3086C6.39014 14.3582 6.39359 14.4079 6.40034 14.4564C6.47244 14.9734 6.92149 15.3633 7.44483 15.3633C8.02638 15.3633 8.49952 14.8901 8.49952 14.3086C8.49952 13.727 8.02638 13.2539 7.44483 13.2539C7.15359 13.2539 6.91748 13.0178 6.91748 12.7266C6.91748 12.4353 7.15359 12.1992 7.44483 12.1992C8.02638 12.1992 8.49952 11.7261 8.49952 11.1445C8.49952 10.563 8.02638 10.0898 7.44483 10.0898C6.94188 10.0898 6.50665 10.4472 6.40993 10.9395C6.35375 11.2253 6.07634 11.4114 5.79087 11.3554C5.50508 11.2992 5.31889 11.022 5.37504 10.7363C5.56861 9.75059 6.43908 9.03516 7.44483 9.03516C8.60794 9.03516 9.5542 9.98142 9.5542 11.1445C9.5542 11.7741 9.27661 12.3397 8.83782 12.7266C9.27661 13.1134 9.5542 13.679 9.5542 14.3086ZM12.6645 15.8906C12.6645 16.1819 12.4284 16.418 12.1372 16.418C11.846 16.418 11.6099 16.1819 11.6099 15.8906V10.0898H10.7846C10.4934 10.0898 10.2573 9.85373 10.2573 9.5625C10.2573 9.27127 10.4934 9.03516 10.7846 9.03516H12.1372C12.4284 9.03516 12.6645 9.27127 12.6645 9.5625V15.8906Z"
                                      fill="black"/>
                            </svg></p>
                                 </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

//= template/modals.html
//= template/bottom.html
//= template/footer.html