//= template/top.html
//= template/header.html

<main class="waiting_list">
    <section>
        <div class="container">
            <div class="waiting_list--content">
               <div class="sidebar-column">
                   <div class="sidebar__mobile">
                       <div class="sidebar__mobile-left">
                           <a href="" class="sidebar__avatar">
                               <img class="sidebar__avatar-img" src="img/avatar.svg" alt="">
                           </a>
                           <div class="sidebar__username">Доброго дня, Сергій! <span><a href="">Змінити дані</a></span></div>
                           <div class="sidebar__info-mobile-dropdown dropdown">
                               <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               </button>
                               <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                   <div class="sidebar">
                                       <div class="sidebar__block">
                                           <div class="sidebar__block-header">
                                               <div class="sidebar__block-title-icon">
                                                   <img src="img/sidebar-title-icon.svg" alt="">
                                               </div>
                                               <div class="sidebar__block-title">Особисті данні</div>
                                           </div>
                                           <div class="sidebar__block-body">
                                               <div class="sidebar__block-body-top">
                                                   <div class="sidebar__block-listname">Дані облікового запису</div>
                                                   <ul class="sidebar__block-list">
                                                       <li class="sidebar__block-item">
                                                           <div class="sidebar__block-item-icon">
                                                               <img src="img/avatar-small.svg" alt="">
                                                           </div>
                                                           <div class="sidebar__block-item-text">Сергій Сергійович</div>
                                                       </li>
                                                       <li class="sidebar__block-item">
                                                           <div class="sidebar__block-item-icon">
                                                               <img src="img/mail-small.svg" alt="">
                                                           </div>
                                                           <div class="sidebar__block-item-text">info@info.com</div>
                                                       </li>
                                                       <li class="sidebar__block-item">
                                                           <div class="sidebar__block-item-icon">
                                                               <img src="img/phone-small.svg" alt="">
                                                           </div>
                                                           <div class="sidebar__block-item-text">+38 (096) 000-00-00</div>
                                                       </li>
                                                   </ul>
                                                   <a href="" class="sidebar__block-link">Змінити дані</a>
                                                   <a href="" class="sidebar__block-link">Змінити пароль</a>
                                               </div>
                                               <div class="sidebar__block-body-bottom">
                                                   <div class="sidebar__block-listname">Персональний менеджер</div>
                                                   <ul class="sidebar__block-list">
                                                       <li class="sidebar__block-item">
                                                           <div class="sidebar__block-item-icon">
                                                               <img src="img/avatar-small.svg" alt="">
                                                           </div>
                                                           <div class="sidebar__block-item-text">Сергій Сергійович</div>
                                                       </li>
                                                       <li class="sidebar__block-item">
                                                           <div class="sidebar__block-item-icon">
                                                               <img src="img/mail-small.svg" alt="">
                                                           </div>
                                                           <div class="sidebar__block-item-text">info@info.com</div>
                                                       </li>
                                                       <li class="sidebar__block-item">
                                                           <div class="sidebar__block-item-icon">
                                                               <img src="img/phone-small.svg" alt="">
                                                           </div>
                                                           <div class="sidebar__block-item-text">+38 (096) 000-00-00</div>
                                                       </li>
                                                   </ul>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="sidebar__mobile-middle">
                           <div class="sidebar__nav-mobile">
                               <div class="sidebar__nav-mobile-title">Особисті дані</div>
                               <div class="sidebar__nav-mobile-dropdown dropdown">
                                   <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   </button>
                                   <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                       <div class="sidebar__nav">
                                           <ul class="sidebar__nav-list">
                                               <li class="sidebar__nav-item sidebar__nav-item-active">
                                                   <a href="" class="sidebar__nav-link sidebar__nav-link-active">Особисті дані</a>
                                               </li>
                                               <li class="sidebar__nav-item">
                                                   <a href="" class="sidebar__nav-link">Кошик</a>
                                               </li>
                                               <li class="sidebar__nav-item">
                                                   <a href="" class="sidebar__nav-link">Мої замовлення</a>
                                               </li>
                                               <li class="sidebar__nav-item">
                                                   <a href="" class="sidebar__nav-link">Послуги</a>
                                               </li>
                                               <li class="sidebar__nav-item">
                                                   <a href="" class="sidebar__nav-link">Мої знижки</a>
                                               </li>
                                               <li class="sidebar__nav-item">
                                                   <a href="" class="sidebar__nav-link">Лист очікування</a>
                                               </li>
                                               <li class="sidebar__nav-item">
                                                   <a href="" class="sidebar__nav-link">Написати <br> повідомлення</a>
                                               </li>
                                           </ul>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="sidebar__mobile-right">
                           <a href="" class="sidebar__button-mobile">
                               <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
                               Вийти
                           </a>
                           <a href="#nav-modal" data-toggle="modal" class="sidebar__button-mobile-modal">
                               <img src="img/home.svg" alt="">
                           </a>
                       </div>
                   </div>
                   <aside class="sidebar">
                       <div class="sidebar__header">
                           <div class="sidebar__header-avatar">
                               <img class="sidebar__header-icon" src="img/avatar.svg" alt="">
                           </div>
                           <div class="sidebar__header-name">Доброго дня, <br> Сергій!</div>
                       </div>
                       <div class="sidebar__nav">
                           <ul class="sidebar__nav-list">
                               <li class="sidebar__nav-item">
                                   <a href="" class="sidebar__nav-link ">Особисті дані</a>
                               </li>
                               <li class="sidebar__nav-item">
                                   <a href="" class="sidebar__nav-link">Кошик</a>
                               </li>
                               <li class="sidebar__nav-item sidebar__nav-item-active">
                                   <a href="" class="sidebar__nav-link sidebar__nav-link-active">Мої замовлення</a>
                               </li>
                               <li class="sidebar__nav-item">
                                   <a href="" class="sidebar__nav-link">Послуги</a>
                               </li>
                               <li class="sidebar__nav-item">
                                   <a href="" class="sidebar__nav-link">Мої знижки</a>
                               </li>
                               <li class="sidebar__nav-item">
                                   <a href="" class="sidebar__nav-link">Лист очікування</a>
                               </li>
                               <li class="sidebar__nav-item">
                                   <a href="" class="sidebar__nav-link">Написати <br> повідомлення</a>
                               </li>
                           </ul>
                       </div>
                       <a href="" class="sidebar__button">
                           <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
                           Вийти
                       </a>
                   </aside>
               </div>
                <div class="waiting_list--message">
                    <div class="waiting_list--message__header">
                       <div class="icon-box">
                           <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                               <path d="M11.9297 9.092L17.9979 12.9282V5.09375L11.9297 9.092Z" fill="#00642F"/>
                               <path d="M0 5.09375V12.9282L6.06825 9.092L0 5.09375Z" fill="#00642F"/>
                               <path d="M16.8725 2.8125H1.1225C0.561125 2.8125 0.115625 3.231 0.03125 3.76988L8.9975 9.67725L17.9637 3.76988C17.8794 3.231 17.4339 2.8125 16.8725 2.8125Z" fill="#00642F"/>
                               <path d="M10.9004 9.77163L9.30853 10.8201C9.21403 10.882 9.10716 10.9124 8.99916 10.9124C8.89116 10.9124 8.78428 10.882 8.68978 10.8201L7.09791 9.77051L0.0351562 14.2379C0.121781 14.7723 0.565031 15.1874 1.12416 15.1874H16.8742C17.4333 15.1874 17.8765 14.7723 17.9632 14.2379L10.9004 9.77163Z" fill="#00642F"/>
                           </svg>
                       </div>
                        <h2>
                            Написати повідомлення
                        </h2>
                    </div>
                    <div class="tabs-container">
                        <div class="tabs-container__tab">
                            <div class="tabs-container__tab--el is-active">
                                <div class="tabs-container--chat">
                                    <select name="select">
                                        <option value="value1">Фінансова тема 1</option>
                                        <option value="value2" selected>Фінансова тема 2</option>
                                        <option value="value3">Фінансова тема 3</option>
                                    </select>
                                </div>
                                <div class="tabs-container--el">
                                    <form action="">
                                        <textarea placeholder="Повідомлення"></textarea>
                                        <button type="submit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                                <g clip-path="url(#clip0)">
                                                    <path d="M19.803 0.05134C19.6811 -0.0181913 19.5313 -0.0170194 19.4106 0.0543868L12.2522 4.28735C12.0665 4.39716 12.005 4.63669 12.1148 4.82239C12.2246 5.00806 12.4641 5.06958 12.6498 4.95982L17.7859 1.92275L8.21921 11.849L3.46108 10.3933L9.67066 6.72146C9.85636 6.61161 9.91788 6.37208 9.80808 6.18638C9.69831 6.00071 9.45874 5.93911 9.27304 6.04896L2.30119 10.1716C2.16799 10.2504 2.09381 10.4003 2.11213 10.554C2.13045 10.7077 2.23776 10.8361 2.38572 10.8814L8.06812 12.6198L10.575 17.1828C10.5777 17.1875 10.5803 17.1915 10.5831 17.1951C10.625 17.2649 10.6877 17.3218 10.7659 17.3547C10.8148 17.3753 10.8662 17.3854 10.9173 17.3854C11.0175 17.3854 11.116 17.3468 11.1904 17.2741L14.073 14.4569L19.4951 16.1157C19.5326 16.1272 19.5711 16.1328 19.6094 16.1328C19.692 16.1328 19.7737 16.1066 19.8417 16.0562C19.9413 15.9825 20 15.866 20 15.7422V0.390637C20 0.250363 19.9248 0.120832 19.803 0.05134ZM10.5963 12.8606C10.5511 12.9259 10.5268 13.0035 10.5268 13.083V15.4725L8.81499 12.3567L16.39 4.49689L10.5963 12.8606ZM11.3081 16.0668V13.611L13.2218 14.1965L11.3081 16.0668ZM19.2188 15.2142L11.543 12.8659L19.2188 1.78532V15.2142Z" fill="white"/>
                                                    <path d="M6.4228 13.5773C6.27022 13.4248 6.02295 13.4248 5.87034 13.5773L2.22378 17.2239C2.07124 17.3764 2.07124 17.6237 2.22378 17.7763C2.30011 17.8526 2.40007 17.8907 2.50003 17.8907C2.59999 17.8907 2.69995 17.8526 2.77624 17.7763L6.4228 14.1297C6.57533 13.9772 6.57533 13.7299 6.4228 13.5773Z" fill="white"/>
                                                    <path d="M1.56526 18.4347C1.41269 18.2822 1.16542 18.2822 1.01284 18.4347L0.114404 19.3331C-0.0381348 19.4857 -0.0381348 19.733 0.114404 19.8856C0.190693 19.9618 0.290654 20 0.390615 20C0.490576 20 0.590537 19.9618 0.666826 19.8856L1.56526 18.9871C1.7178 18.8346 1.7178 18.5872 1.56526 18.4347Z" fill="white"/>
                                                    <path d="M5.57301 19.3098C5.50039 19.2371 5.39961 19.1953 5.29688 19.1953C5.19371 19.1953 5.09336 19.2371 5.0207 19.3098C4.94805 19.3824 4.90625 19.4828 4.90625 19.5859C4.90625 19.6887 4.94801 19.7895 5.0207 19.8621C5.09336 19.9348 5.19414 19.9766 5.29688 19.9766C5.39961 19.9766 5.50039 19.9348 5.57301 19.8621C5.64566 19.7895 5.6875 19.6887 5.6875 19.5859C5.6875 19.4828 5.6457 19.3824 5.57301 19.3098Z" fill="white"/>
                                                    <path d="M8.47722 16.4035C8.32476 16.2509 8.07749 16.2509 7.9248 16.4035L5.99331 18.3349C5.84077 18.4875 5.84077 18.7348 5.99331 18.8873C6.0696 18.9636 6.16956 19.0018 6.26952 19.0018C6.36948 19.0018 6.46944 18.9636 6.54573 18.8873L8.47722 16.9559C8.62976 16.8034 8.62976 16.556 8.47722 16.4035Z" fill="white"/>
                                                    <path d="M15.1465 16.255C14.9939 16.1025 14.7467 16.1025 14.5941 16.255L12.6574 18.1917C12.5048 18.3443 12.5048 18.5916 12.6574 18.7442C12.7337 18.8204 12.8336 18.8586 12.9336 18.8586C13.0335 18.8586 13.1335 18.8204 13.2098 18.7442L15.1465 16.8075C15.299 16.6549 15.299 16.4076 15.1465 16.255Z" fill="white"/>
                                                    <path d="M11.073 5.32441C11.0004 5.25176 10.8996 5.20996 10.7969 5.20996C10.6941 5.20996 10.5934 5.25176 10.5207 5.32441C10.4481 5.39707 10.4062 5.49785 10.4062 5.60098C10.4062 5.70371 10.448 5.8041 10.5207 5.87676C10.5934 5.9498 10.6941 5.99121 10.7969 5.99121C10.8996 5.99121 11.0004 5.9498 11.073 5.87676C11.1457 5.8041 11.1875 5.70371 11.1875 5.60098C11.1875 5.49785 11.1457 5.39707 11.073 5.32441Z" fill="white"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0">
                                                        <rect width="20" height="20" fill="white"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            Відправити</button>
                                    </form>
                                </div>
                            </div>
                            <div class="tabs-container__tab--el ">
                                <div class="tabs-container--chat">
                                    <select name="select">
                                        <option value="value1">Загальна тема 1</option>
                                        <option value="value2" selected>Загальна тема 2</option>
                                        <option value="value3">Загальна тема 3</option>
                                    </select>
                                </div>
                                <div class="tabs-container--el">
                                    <form action="">
                                        <textarea placeholder="Повідомлення"></textarea>
                                        <button type="submit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                                <g clip-path="url(#clip0)">
                                                    <path d="M19.803 0.05134C19.6811 -0.0181913 19.5313 -0.0170194 19.4106 0.0543868L12.2522 4.28735C12.0665 4.39716 12.005 4.63669 12.1148 4.82239C12.2246 5.00806 12.4641 5.06958 12.6498 4.95982L17.7859 1.92275L8.21921 11.849L3.46108 10.3933L9.67066 6.72146C9.85636 6.61161 9.91788 6.37208 9.80808 6.18638C9.69831 6.00071 9.45874 5.93911 9.27304 6.04896L2.30119 10.1716C2.16799 10.2504 2.09381 10.4003 2.11213 10.554C2.13045 10.7077 2.23776 10.8361 2.38572 10.8814L8.06812 12.6198L10.575 17.1828C10.5777 17.1875 10.5803 17.1915 10.5831 17.1951C10.625 17.2649 10.6877 17.3218 10.7659 17.3547C10.8148 17.3753 10.8662 17.3854 10.9173 17.3854C11.0175 17.3854 11.116 17.3468 11.1904 17.2741L14.073 14.4569L19.4951 16.1157C19.5326 16.1272 19.5711 16.1328 19.6094 16.1328C19.692 16.1328 19.7737 16.1066 19.8417 16.0562C19.9413 15.9825 20 15.866 20 15.7422V0.390637C20 0.250363 19.9248 0.120832 19.803 0.05134ZM10.5963 12.8606C10.5511 12.9259 10.5268 13.0035 10.5268 13.083V15.4725L8.81499 12.3567L16.39 4.49689L10.5963 12.8606ZM11.3081 16.0668V13.611L13.2218 14.1965L11.3081 16.0668ZM19.2188 15.2142L11.543 12.8659L19.2188 1.78532V15.2142Z" fill="white"/>
                                                    <path d="M6.4228 13.5773C6.27022 13.4248 6.02295 13.4248 5.87034 13.5773L2.22378 17.2239C2.07124 17.3764 2.07124 17.6237 2.22378 17.7763C2.30011 17.8526 2.40007 17.8907 2.50003 17.8907C2.59999 17.8907 2.69995 17.8526 2.77624 17.7763L6.4228 14.1297C6.57533 13.9772 6.57533 13.7299 6.4228 13.5773Z" fill="white"/>
                                                    <path d="M1.56526 18.4347C1.41269 18.2822 1.16542 18.2822 1.01284 18.4347L0.114404 19.3331C-0.0381348 19.4857 -0.0381348 19.733 0.114404 19.8856C0.190693 19.9618 0.290654 20 0.390615 20C0.490576 20 0.590537 19.9618 0.666826 19.8856L1.56526 18.9871C1.7178 18.8346 1.7178 18.5872 1.56526 18.4347Z" fill="white"/>
                                                    <path d="M5.57301 19.3098C5.50039 19.2371 5.39961 19.1953 5.29688 19.1953C5.19371 19.1953 5.09336 19.2371 5.0207 19.3098C4.94805 19.3824 4.90625 19.4828 4.90625 19.5859C4.90625 19.6887 4.94801 19.7895 5.0207 19.8621C5.09336 19.9348 5.19414 19.9766 5.29688 19.9766C5.39961 19.9766 5.50039 19.9348 5.57301 19.8621C5.64566 19.7895 5.6875 19.6887 5.6875 19.5859C5.6875 19.4828 5.6457 19.3824 5.57301 19.3098Z" fill="white"/>
                                                    <path d="M8.47722 16.4035C8.32476 16.2509 8.07749 16.2509 7.9248 16.4035L5.99331 18.3349C5.84077 18.4875 5.84077 18.7348 5.99331 18.8873C6.0696 18.9636 6.16956 19.0018 6.26952 19.0018C6.36948 19.0018 6.46944 18.9636 6.54573 18.8873L8.47722 16.9559C8.62976 16.8034 8.62976 16.556 8.47722 16.4035Z" fill="white"/>
                                                    <path d="M15.1465 16.255C14.9939 16.1025 14.7467 16.1025 14.5941 16.255L12.6574 18.1917C12.5048 18.3443 12.5048 18.5916 12.6574 18.7442C12.7337 18.8204 12.8336 18.8586 12.9336 18.8586C13.0335 18.8586 13.1335 18.8204 13.2098 18.7442L15.1465 16.8075C15.299 16.6549 15.299 16.4076 15.1465 16.255Z" fill="white"/>
                                                    <path d="M11.073 5.32441C11.0004 5.25176 10.8996 5.20996 10.7969 5.20996C10.6941 5.20996 10.5934 5.25176 10.5207 5.32441C10.4481 5.39707 10.4062 5.49785 10.4062 5.60098C10.4062 5.70371 10.448 5.8041 10.5207 5.87676C10.5934 5.9498 10.6941 5.99121 10.7969 5.99121C10.8996 5.99121 11.0004 5.9498 11.073 5.87676C11.1457 5.8041 11.1875 5.70371 11.1875 5.60098C11.1875 5.49785 11.1457 5.39707 11.073 5.32441Z" fill="white"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0">
                                                        <rect width="20" height="20" fill="white"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            Відправити</button>
                                    </form>
                                </div>
                            </div>
                            <div class="tabs-container__tab--el ">
                                <div class="tabs-container--chat">
                                    <select name="select">
                                        <option value="value1">Фінансова тема 1</option>
                                        <option value="value2" selected>Фінансова тема 2</option>
                                        <option value="value3">Фінансова тема 3</option>
                                    </select>
                                </div>
                                <div class="tabs-container--el">
                                    <form action="">
                                        <textarea placeholder="Повідомлення"></textarea>
                                        <button type="submit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                                <g clip-path="url(#clip0)">
                                                    <path d="M19.803 0.05134C19.6811 -0.0181913 19.5313 -0.0170194 19.4106 0.0543868L12.2522 4.28735C12.0665 4.39716 12.005 4.63669 12.1148 4.82239C12.2246 5.00806 12.4641 5.06958 12.6498 4.95982L17.7859 1.92275L8.21921 11.849L3.46108 10.3933L9.67066 6.72146C9.85636 6.61161 9.91788 6.37208 9.80808 6.18638C9.69831 6.00071 9.45874 5.93911 9.27304 6.04896L2.30119 10.1716C2.16799 10.2504 2.09381 10.4003 2.11213 10.554C2.13045 10.7077 2.23776 10.8361 2.38572 10.8814L8.06812 12.6198L10.575 17.1828C10.5777 17.1875 10.5803 17.1915 10.5831 17.1951C10.625 17.2649 10.6877 17.3218 10.7659 17.3547C10.8148 17.3753 10.8662 17.3854 10.9173 17.3854C11.0175 17.3854 11.116 17.3468 11.1904 17.2741L14.073 14.4569L19.4951 16.1157C19.5326 16.1272 19.5711 16.1328 19.6094 16.1328C19.692 16.1328 19.7737 16.1066 19.8417 16.0562C19.9413 15.9825 20 15.866 20 15.7422V0.390637C20 0.250363 19.9248 0.120832 19.803 0.05134ZM10.5963 12.8606C10.5511 12.9259 10.5268 13.0035 10.5268 13.083V15.4725L8.81499 12.3567L16.39 4.49689L10.5963 12.8606ZM11.3081 16.0668V13.611L13.2218 14.1965L11.3081 16.0668ZM19.2188 15.2142L11.543 12.8659L19.2188 1.78532V15.2142Z" fill="white"/>
                                                    <path d="M6.4228 13.5773C6.27022 13.4248 6.02295 13.4248 5.87034 13.5773L2.22378 17.2239C2.07124 17.3764 2.07124 17.6237 2.22378 17.7763C2.30011 17.8526 2.40007 17.8907 2.50003 17.8907C2.59999 17.8907 2.69995 17.8526 2.77624 17.7763L6.4228 14.1297C6.57533 13.9772 6.57533 13.7299 6.4228 13.5773Z" fill="white"/>
                                                    <path d="M1.56526 18.4347C1.41269 18.2822 1.16542 18.2822 1.01284 18.4347L0.114404 19.3331C-0.0381348 19.4857 -0.0381348 19.733 0.114404 19.8856C0.190693 19.9618 0.290654 20 0.390615 20C0.490576 20 0.590537 19.9618 0.666826 19.8856L1.56526 18.9871C1.7178 18.8346 1.7178 18.5872 1.56526 18.4347Z" fill="white"/>
                                                    <path d="M5.57301 19.3098C5.50039 19.2371 5.39961 19.1953 5.29688 19.1953C5.19371 19.1953 5.09336 19.2371 5.0207 19.3098C4.94805 19.3824 4.90625 19.4828 4.90625 19.5859C4.90625 19.6887 4.94801 19.7895 5.0207 19.8621C5.09336 19.9348 5.19414 19.9766 5.29688 19.9766C5.39961 19.9766 5.50039 19.9348 5.57301 19.8621C5.64566 19.7895 5.6875 19.6887 5.6875 19.5859C5.6875 19.4828 5.6457 19.3824 5.57301 19.3098Z" fill="white"/>
                                                    <path d="M8.47722 16.4035C8.32476 16.2509 8.07749 16.2509 7.9248 16.4035L5.99331 18.3349C5.84077 18.4875 5.84077 18.7348 5.99331 18.8873C6.0696 18.9636 6.16956 19.0018 6.26952 19.0018C6.36948 19.0018 6.46944 18.9636 6.54573 18.8873L8.47722 16.9559C8.62976 16.8034 8.62976 16.556 8.47722 16.4035Z" fill="white"/>
                                                    <path d="M15.1465 16.255C14.9939 16.1025 14.7467 16.1025 14.5941 16.255L12.6574 18.1917C12.5048 18.3443 12.5048 18.5916 12.6574 18.7442C12.7337 18.8204 12.8336 18.8586 12.9336 18.8586C13.0335 18.8586 13.1335 18.8204 13.2098 18.7442L15.1465 16.8075C15.299 16.6549 15.299 16.4076 15.1465 16.255Z" fill="white"/>
                                                    <path d="M11.073 5.32441C11.0004 5.25176 10.8996 5.20996 10.7969 5.20996C10.6941 5.20996 10.5934 5.25176 10.5207 5.32441C10.4481 5.39707 10.4062 5.49785 10.4062 5.60098C10.4062 5.70371 10.448 5.8041 10.5207 5.87676C10.5934 5.9498 10.6941 5.99121 10.7969 5.99121C10.8996 5.99121 11.0004 5.9498 11.073 5.87676C11.1457 5.8041 11.1875 5.70371 11.1875 5.60098C11.1875 5.49785 11.1457 5.39707 11.073 5.32441Z" fill="white"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0">
                                                        <rect width="20" height="20" fill="white"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            Відправити</button>
                                    </form>
                                </div>
                            </div>
                            <div class="tabs-container__tab--el ">
                                <div class="tabs-container--chat">
                                    <select name="select">
                                        <option value="value1">Загальна тема 1</option>
                                        <option value="value2" selected>Загальна тема 2</option>
                                        <option value="value3">Загальна тема 3</option>
                                    </select>
                                </div>
                                <div class="tabs-container--el">
                                    <form action="">
                                        <textarea placeholder="Повідомлення"></textarea>
                                        <button type="submit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                                <g clip-path="url(#clip0)">
                                                    <path d="M19.803 0.05134C19.6811 -0.0181913 19.5313 -0.0170194 19.4106 0.0543868L12.2522 4.28735C12.0665 4.39716 12.005 4.63669 12.1148 4.82239C12.2246 5.00806 12.4641 5.06958 12.6498 4.95982L17.7859 1.92275L8.21921 11.849L3.46108 10.3933L9.67066 6.72146C9.85636 6.61161 9.91788 6.37208 9.80808 6.18638C9.69831 6.00071 9.45874 5.93911 9.27304 6.04896L2.30119 10.1716C2.16799 10.2504 2.09381 10.4003 2.11213 10.554C2.13045 10.7077 2.23776 10.8361 2.38572 10.8814L8.06812 12.6198L10.575 17.1828C10.5777 17.1875 10.5803 17.1915 10.5831 17.1951C10.625 17.2649 10.6877 17.3218 10.7659 17.3547C10.8148 17.3753 10.8662 17.3854 10.9173 17.3854C11.0175 17.3854 11.116 17.3468 11.1904 17.2741L14.073 14.4569L19.4951 16.1157C19.5326 16.1272 19.5711 16.1328 19.6094 16.1328C19.692 16.1328 19.7737 16.1066 19.8417 16.0562C19.9413 15.9825 20 15.866 20 15.7422V0.390637C20 0.250363 19.9248 0.120832 19.803 0.05134ZM10.5963 12.8606C10.5511 12.9259 10.5268 13.0035 10.5268 13.083V15.4725L8.81499 12.3567L16.39 4.49689L10.5963 12.8606ZM11.3081 16.0668V13.611L13.2218 14.1965L11.3081 16.0668ZM19.2188 15.2142L11.543 12.8659L19.2188 1.78532V15.2142Z" fill="white"/>
                                                    <path d="M6.4228 13.5773C6.27022 13.4248 6.02295 13.4248 5.87034 13.5773L2.22378 17.2239C2.07124 17.3764 2.07124 17.6237 2.22378 17.7763C2.30011 17.8526 2.40007 17.8907 2.50003 17.8907C2.59999 17.8907 2.69995 17.8526 2.77624 17.7763L6.4228 14.1297C6.57533 13.9772 6.57533 13.7299 6.4228 13.5773Z" fill="white"/>
                                                    <path d="M1.56526 18.4347C1.41269 18.2822 1.16542 18.2822 1.01284 18.4347L0.114404 19.3331C-0.0381348 19.4857 -0.0381348 19.733 0.114404 19.8856C0.190693 19.9618 0.290654 20 0.390615 20C0.490576 20 0.590537 19.9618 0.666826 19.8856L1.56526 18.9871C1.7178 18.8346 1.7178 18.5872 1.56526 18.4347Z" fill="white"/>
                                                    <path d="M5.57301 19.3098C5.50039 19.2371 5.39961 19.1953 5.29688 19.1953C5.19371 19.1953 5.09336 19.2371 5.0207 19.3098C4.94805 19.3824 4.90625 19.4828 4.90625 19.5859C4.90625 19.6887 4.94801 19.7895 5.0207 19.8621C5.09336 19.9348 5.19414 19.9766 5.29688 19.9766C5.39961 19.9766 5.50039 19.9348 5.57301 19.8621C5.64566 19.7895 5.6875 19.6887 5.6875 19.5859C5.6875 19.4828 5.6457 19.3824 5.57301 19.3098Z" fill="white"/>
                                                    <path d="M8.47722 16.4035C8.32476 16.2509 8.07749 16.2509 7.9248 16.4035L5.99331 18.3349C5.84077 18.4875 5.84077 18.7348 5.99331 18.8873C6.0696 18.9636 6.16956 19.0018 6.26952 19.0018C6.36948 19.0018 6.46944 18.9636 6.54573 18.8873L8.47722 16.9559C8.62976 16.8034 8.62976 16.556 8.47722 16.4035Z" fill="white"/>
                                                    <path d="M15.1465 16.255C14.9939 16.1025 14.7467 16.1025 14.5941 16.255L12.6574 18.1917C12.5048 18.3443 12.5048 18.5916 12.6574 18.7442C12.7337 18.8204 12.8336 18.8586 12.9336 18.8586C13.0335 18.8586 13.1335 18.8204 13.2098 18.7442L15.1465 16.8075C15.299 16.6549 15.299 16.4076 15.1465 16.255Z" fill="white"/>
                                                    <path d="M11.073 5.32441C11.0004 5.25176 10.8996 5.20996 10.7969 5.20996C10.6941 5.20996 10.5934 5.25176 10.5207 5.32441C10.4481 5.39707 10.4062 5.49785 10.4062 5.60098C10.4062 5.70371 10.448 5.8041 10.5207 5.87676C10.5934 5.9498 10.6941 5.99121 10.7969 5.99121C10.8996 5.99121 11.0004 5.9498 11.073 5.87676C11.1457 5.8041 11.1875 5.70371 11.1875 5.60098C11.1875 5.49785 11.1457 5.39707 11.073 5.32441Z" fill="white"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0">
                                                        <rect width="20" height="20" fill="white"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            Відправити</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="tabs-container__list">
                            <h2>Мої повідомлення</h2>
                            <div class="tabs-container__list--elements">
                                <div class="tabs-container__list--el">
                                    <h3>
                                        №3    Фінансова тема
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin ...
                                    </p>
                                    <span class="is-active">
                                        Детальніше
                                    </span>
                                </div>
                                <div class="tabs-container__list--el">
                                    <h3>
                                        №2    Загальна тема
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin ...
                                    </p>
                                    <span>
                                    Детальніше
                                </span>
                                </div>
                                <div class="tabs-container__list--el">
                                    <h3>
                                        №3    Фінансова тема
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin ...
                                    </p>
                                    <span>
                                    Детальніше
                                </span>
                                </div>
                                <div class="tabs-container__list--el">
                                    <h3>
                                        №2    Загальна тема
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin ...
                                    </p>
                                    <span>
                                    Детальніше
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

//= template/modals.html
//= template/bottom.html
//= template/footer.html