.page-addclient-manager {

  &__content {
    padding-top: 60px;

    .sidebar {
      margin-top: 0;
    }

    .addclient {

      &__title {
        height: 65px;
        padding-left: 25px;
        display: flex;
        align-items: center;
        border-radius: 15px 15px 0 0;
        background-color: $white;
        border-bottom: 1px solid #DFDFDF;

        @include media-breakpoint-down(xs) {
          padding-left: 15px;
        }

        &-icon {
          padding: 9px 14px;
          border: 1px solid $dark-green;
          border-radius: 50%;

          img {
            margin-top: 2px;
          }
        }

        &-name {
          margin-left: 18px;
          font-size: 18px;
          color: $black;
        }
      }

      &__main {
        padding-bottom: 40px;
        background-color: $white;
        border-radius: 0 0 15px 15px;

        .modal-body {
          display: flex;
          justify-content: center;

          .field-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 320px;

            @include media-breakpoint-down(xs) {
              width: 100%;
              padding-left: 15px;
              padding-right: 15px;
            }

            .checkbox-con {
              width: 100%;
              display: flex;
              justify-content: flex-start;

              .checkbox {
                margin-right: 30px;
              }
            }

            .addclient__button {
              text-align: center;
              margin-top: 30px;
              max-width: 175px;
              height: 40px;
              border: 1px solid $dark-green;
              background-color: $dark-green;
              color: $white;
            }
          }
        }
      }
    }
  }
}