.page-orders-production-line {

  &__content {
    padding-top: 60px
  ;
    .sidebar{
      margin-top: 0;
    }

    .table__dropdown-name {

      @include media-breakpoint-down(lg) {
        font-size: 14px;
        margin-right: 15px;
      }
    }
  }
}