.page {

  &-lk {

    &-customer {

      .main {

        &__add-section {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 36px;
          width: 864px;
          height: 229px;
          background-color: #ECECEC;
          border-radius: 15px;
    
          @include media-breakpoint-down (lg) {
            display: none;
          }
        }
      }
    }
  }
}