.page {

  &-lk {

    &-production {

      .sidebar__block-body-top {
        border-bottom: none;
      }
    
      .content__block-body-line {
        padding: 20px 18px 15px 18px;
      }
    }
  }
}