.page-services-customer {

  &__content {

    .sidebar {

      &__button {
        margin-bottom: 30px;
      }
    }

    .main {

      .production__time {

        &-block {
          display: none;

          @include media-breakpoint-down(md) {
            display: block;
            margin-top: 20px;
          }
        }

        &-title {
          margin-bottom: 20px;
        }

        &-list {

          @include media-breakpoint-down(md) {
            display: flex;
          }

          @include media-breakpoint-down(xs) {
            flex-direction: column;
          }
        }

        &-item {

          @include media-breakpoint-down(md) {
            margin-bottom: 0;
            margin-right: 40px;
          }

          @include media-breakpoint-down(sm) {
            margin-right: 20px;
          }

          @include media-breakpoint-down(xs) {
            margin-right: 0;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}