<!-- Log in modal -->
<a href="#login-modal" data-toggle="modal"></a>

<div class="modal fade" id="login-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Вхід в особистий кабінет</div>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <a href="" aria-hidden="true">
            <img src="img/modal-close.svg" alt="">
          </a>
        </button>
      </div>
      <div class="modal-body">
        <div class="field-container">
          <input type="tel" class="modal-input modal-input-m0 number-mask" placeholder="Номер телефону">
          <div class="field-container__error">Неправильно вказано номер телефону</div>
        </div>
        <div class="modal-text">
          <a href="" class="modal-link">Реєстрація</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-button modal-button-small">Вхід</button>
        <button type="button" class="modal-button modal-button-small" data-dismiss="modal">Відміна</button>
      </div>
    </div>
  </div>
</div>

<!-- Log in error modal -->
<a href="#login-error-modal" data-toggle="modal"></a>

<div class="modal fade" id="login-error-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Вхід в особистий кабінет</div>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <a href="" aria-hidden="true">
            <img src="img/modal-close.svg" alt="">
          </a>
        </button>
      </div>
      <div class="modal-body">
        <div class="field-container error">
          <input type="tel" class="modal-input modal-input-m0 number-mask" placeholder="Номер телефону">
          <div class="field-container__error">Неправильно вказано номер телефону</div>
        </div>
        <div class="modal-text">
          <a href="" class="modal-link">Реєстрація</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-button modal-button-small">Вхід</button>
        <button type="button" class="modal-button modal-button-small" data-dismiss="modal">Відміна</button>
      </div>
    </div>
  </div>
</div>

<!-- Log in sms modal -->
<a href="#login-sms-modal" data-toggle="modal"></a>

<div class="modal fade" id="login-sms-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Вхід в особистий кабінет</div>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <a href="" aria-hidden="true">
            <img src="img/modal-close.svg" alt="">
          </a>
        </button>
      </div>
      <div class="modal-body">
        <div class="field-container">
          <input type="tel" class="modal-input number-mask" placeholder="Номер телефону">
          <input type="text" class="modal-input password-mask" placeholder="Пароль СМС">
          <div class="field-container__error">Неправильно вказано номер телефону</div>
        </div>
      </div>
      <div class="modal-footer modal-footer-m30">
        <button type="button" class="modal-button modal-button-small">Вхід</button>
        <button type="button" class="modal-button modal-button-small" data-dismiss="modal">Відміна</button>
      </div>
    </div>
  </div>
</div>

<!-- Log in sms error modal -->
<a href="#login-sms-error-modal" data-toggle="modal"></a>

<div class="modal fade" id="login-sms-error-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Вхід в особистий кабінет</div>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <a href="" aria-hidden="true">
            <img src="img/modal-close.svg" alt="">
          </a>
        </button>
      </div>
      <div class="modal-body">
        <div class="field-container error-pass">
          <input type="tel" class="modal-input number-mask" placeholder="Номер телефону">
          <input type="text" class="modal-input password-mask" placeholder="Пароль СМС">
          <div class="field-container__error field-container__error-m0">Неправильно вказано пароль <span> <a class="modal-link" href="">Запросити повторно</a> </span> </div>
        </div>
      </div>
      <div class="modal-footer modal-footer-m30">
        <button type="button" class="modal-button modal-button-small">Вхід</button>
        <button type="button" class="modal-button modal-button-small" data-dismiss="modal">Відміна</button>
      </div>
    </div>
  </div>
</div>

<!-- Registration modal -->
<a href="#reg-modal" data-toggle="modal"></a>

<div class="modal fade" id="reg-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Реєстрація</div>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <a href="" aria-hidden="true">
            <img src="img/modal-close.svg" alt="">
          </a>
        </button>
      </div>
      <div class="modal-body">
        <div class="field-container">
          <input type="text" class="modal-input modal-input-m20" placeholder="ПІБ">
          <input type="tel" class="modal-input modal-input-m20 number-mask" placeholder="Номер телефону">
          <input type="text" class="modal-input modal-input-m20" placeholder="E-mail">
          <div class="select">
            <select class="modal-select" name="select" id="">
              <option value="">Виберіть місто</option>
              <option value="">Киев</option>
              <option value="">Харьков</option>
              <option value="">Одесса</option>
              <option value="">Днепр</option>
              <option value="">Донецк</option>
              <option value="">Запорожье</option>
              <option value="">Львов</option>
              <option value="">Кривой Рог</option>
              <option value="">Николаев</option>
              <option value="">Севастополь</option>
              <option value="">Мариуполь</option>
              <option value="">Луганск</option>
              <option value="">Винница</option>
              <option value="">Симферополь</option>
              <option value="">Макеевка</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
              <option value="">Kiev</option>
            </select>
          </div>
          <div class="checkbox">
            <div class="modal-checkbox-item">
              <input class="modal-checkbox" type="checkbox" name="" id="juristically">
              <div class="modal-checkbox-text" >Юр. особа</div>
            </div>
          </div>
          <div class="modal-hiden">
            <div class="check-box">
              <div class="modal-checkbox-item">
                <input class="modal-checkbox modal-checkbox-input" type="checkbox" name="" id="">
                <div class="modal-checkbox-text">Платник ПДВ</div>
              </div>
            </div>
            <input type="text" class="modal-input modal-input-m20" placeholder="Назва компанії">
            <input type="text" class="modal-input modal-input-m20" placeholder="ЄДРПОУ">
            <input type="text" class="modal-input modal-input-m20" placeholder="Посада">
          </div>
          <div class="checkbox">
            <div class="modal-checkbox-item">
              <input class="modal-checkbox" type="checkbox" name="" id="">
              <div class="modal-checkbox-text">Ознайомлений з політикою конфіденційності</div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer modal-footer-m30">
        <button type="button" class="modal-button modal-button-large">Надіслати пароль</button>
      </div>
    </div>
  </div>
</div>

<!-- After registration modal -->
<a href="#after-reg-modal" data-toggle="modal"></a>

<div class="modal fade" id="after-reg-modal">
  <div class="modal-dialog modal-dialog-large">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title modal-title-m15">Дякуємо, що зареєструвалися на нашому сайті</div>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <a href="" aria-hidden="true">
            <img src="img/modal-close.svg" alt="">
          </a>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Contract modal -->
<a href="#contract-modal" data-toggle="modal"></a>

<div class="modal fade" id="contract-modal">
  <div class="modal-dialog modal-dialog-medium">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Оновлення договору</div>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <a href="" aria-hidden="true">
            <img src="img/modal-close.svg" alt="">
          </a>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-doctext">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
        </div>
        <a href="" class="modal-download-link"><img src="img/download.svg" alt=""> Завантажити зразок контракту, підписати</a>
        <button class="modal-download-button" type="file"> <img src="img/clip.svg" alt=""> Завантажити копію</button>
      </div>
    </div>
  </div>
</div>

<!-- Mobile nav modal -->
<a href="#nav-modal" data-toggle="modal"></a>

<div class="modal fade" id="nav-modal">
  <div class="modal-dialog modal-dialog-nav">
    <div class="modal-content modal-content-nav">
      <div class="modal-header">
        <a href="" class="sidebar__avatar">
          <img class="sidebar__avatar-img" src="img/avatar.svg" alt="">
        </a>
        <div class="sidebar__username">Доброго дня, Сергій! <span><a href="">Змінити дані</a></span></div>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <a href="" aria-hidden="true">
            <img src="img/close.svg" alt="">
          </a>
        </button>
      </div>
      <div class="modal-body">
        <div class="sidebar__nav">
          <ul class="sidebar__nav-list">
            <li class="sidebar__nav-item sidebar__nav-item-active">
              <a href="" class="sidebar__nav-link sidebar__nav-link-active">Особисті дані</a>
            </li>
            <li class="sidebar__nav-item">
              <a href="" class="sidebar__nav-link">Кошик</a>
            </li>
            <li class="sidebar__nav-item">
              <a href="" class="sidebar__nav-link">Мої замовлення</a>
            </li>
            <li class="sidebar__nav-item">
              <a href="" class="sidebar__nav-link">Послуги</a>
            </li>
            <li class="sidebar__nav-item">
              <a href="" class="sidebar__nav-link">Мої знижки</a>
            </li>
            <li class="sidebar__nav-item">
              <a href="" class="sidebar__nav-link">Лист очікування</a>
            </li>
            <li class="sidebar__nav-item">
              <a href="" class="sidebar__nav-link">Написати <br> повідомлення</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <a href="" class="sidebar__button">
          <img class="sidebar__button-icon" src="img/sidebar-icon-out.svg" alt="">
          Вийти
        </a>
      </div>
    </div>
  </div>
</div>

<div class="popup-print__orders">
  <div class="popup-print__orders--bg"></div>
  <div class="popup-print__orders--content">
    <h2>Друк замовлення</h2>
    <span class="close"></span>
    <ul class="table-content">
      <li>
        <p>№</p>
        <p>Код</p>
        <p>Товари (роботи, послуги)</p>
        <p>Кількість</p>
        <p>Одиниці</p>
        <p>Сума без знижки</p>
        <p>Склад відвантаження</p>
      </li>
      <li>
        <p>1</p>
        <p>3213</p>
        <p>ЛДСП K360 PW Дуб
          Харбор</p>
        <p>12</p>
        <p>5</p>
        <p>50 000</p>
        <p></p>
      </li>
      <li>
        <p>2</p>
        <p>4213</p>
        <p>Кромка ПВХ 22/1 мм</p>
        <p>12</p>
        <p>5</p>
        <p>50 000</p>
        <p></p>
      </li>
      <li>
        <p>3</p>
        <p>4512</p>
        <p>ДТС Направляющая
          скрытого монтажа L550</p>
        <p>12</p>
        <p>5</p>
        <p>50 000</p>
        <p></p>
      </li>
    </ul>
    <div class="footer-popup">
      <div class="left-box">
        <p>
          Разом
        </p>
        <span>Скасувати</span>
      </div>
      <div class="right-box">
        <p>
          100 000 грн
        </p>
        <span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M17.0703 5.03906H16.5234V2.92969C16.5234 1.31426 15.2092 0 13.5938 0H6.40625C4.79082 0 3.47656 1.31426 3.47656 2.92969V5.03906H2.92969C1.31426 5.03906 0 6.35332 0 7.96875V12.6562C0 14.2717 1.31426 15.5859 2.92969 15.5859H3.47656V18.2422C3.47656 19.2114 4.26512 20 5.23438 20H14.7656C15.7349 20 16.5234 19.2114 16.5234 18.2422V15.5859H17.0703C18.6857 15.5859 20 14.2717 20 12.6562V7.96875C20 6.35332 18.6857 5.03906 17.0703 5.03906ZM4.64844 2.92969C4.64844 1.96043 5.43699 1.17188 6.40625 1.17188H13.5938C14.563 1.17188 15.3516 1.96043 15.3516 2.92969V5.03906H4.64844V2.92969ZM15.3516 18.2422C15.3516 18.5653 15.0887 18.8281 14.7656 18.8281H5.23438C4.91129 18.8281 4.64844 18.5653 4.64844 18.2422V12.4609H15.3516V18.2422ZM18.8281 12.6562C18.8281 13.6255 18.0396 14.4141 17.0703 14.4141H16.5234V12.4609H16.875C17.1986 12.4609 17.4609 12.1986 17.4609 11.875C17.4609 11.5514 17.1986 11.2891 16.875 11.2891H3.125C2.80141 11.2891 2.53906 11.5514 2.53906 11.875C2.53906 12.1986 2.80141 12.4609 3.125 12.4609H3.47656V14.4141H2.92969C1.96043 14.4141 1.17188 13.6255 1.17188 12.6562V7.96875C1.17188 6.99949 1.96043 6.21094 2.92969 6.21094H17.0703C18.0396 6.21094 18.8281 6.99949 18.8281 7.96875V12.6562Z" fill="white"/>
<path d="M11.5625 13.7891H8.4375C8.11391 13.7891 7.85156 14.0514 7.85156 14.375C7.85156 14.6986 8.11391 14.9609 8.4375 14.9609H11.5625C11.8861 14.9609 12.1484 14.6986 12.1484 14.375C12.1484 14.0514 11.8861 13.7891 11.5625 13.7891Z" fill="white"/>
<path d="M11.5625 16.2891H8.4375C8.11391 16.2891 7.85156 16.5514 7.85156 16.875C7.85156 17.1986 8.11391 17.4609 8.4375 17.4609H11.5625C11.8861 17.4609 12.1484 17.1986 12.1484 16.875C12.1484 16.5514 11.8861 16.2891 11.5625 16.2891Z" fill="white"/>
<path d="M5 7.53906H3.125C2.80141 7.53906 2.53906 7.80141 2.53906 8.125C2.53906 8.44859 2.80141 8.71094 3.125 8.71094H5C5.32359 8.71094 5.58594 8.44859 5.58594 8.125C5.58594 7.80141 5.32359 7.53906 5 7.53906Z" fill="white"/>
</svg>Печать</span>
      </div>
    </div>
  </div>
</div>