.addorder-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
  padding: 0;

  &-inner {
    padding: 15px 33px;
    transition-duration: 0.2s;
    font-weight: 500;
    color: $white;
    background-color: $dark-green;
    border-radius: 15px;
    border: 1px solid $dark-green;

    &:hover {
      background-color: $white;
      color: $dark-green;
    }
  }
}