.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 11px 7px;
  width: 100%;
  max-width: 215px;
  min-height: 40px;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all ease-in-out 0.2s;
  color: $white;
  background-color: $light-green;

  &:hover {
    background-color: transparent;
    border-color: $dark-green;

    .button-inner {
      color: $dark-green;
    }
  }

  &-inner {
    font-family: 'Gilroy';
    font-size: 14px;
    font-weight: 500;
  }
  &--solid {
    color: $white;
    background-color: $dark-green;
    &:hover {
      background: white;
      color: $dark-green;
    }
    &.button--createOrder {
      span {
        display: flex;
        align-items: center;
        &:before {
          width: 18px;
          height: 18px;
          content: '';
          position: relative;
          display: inline-block;
          background: url(../img/icons/virobniche.svg) center no-repeat;
          background-size: contain !important;
          margin-right: 10px;
          flex-shrink: 0;
        }
      }
      &:hover {
        span {
          &:before {
            background: url(../img/icons/virobnicheGreen.svg) center no-repeat;
          }
        }
      }
    }
    &.button--drawing {
      span {
        display: flex;
        align-items: center;
        &:before {
          width: 18px;
          height: 18px;
          content: '';
          position: relative;
          display: inline-block;
          background: url(../img/icons/drawingWhite.svg) center no-repeat;
          background-size: contain !important;
          margin-right: 10px;
          flex-shrink: 0;
        }
      }
      &:hover {
        span {
          &:before {
            background: url(../img/icons/drawingGreen.svg) center no-repeat;
          }
        }
      }
    }
  }
  &--stroke {
    background: transparent;
    color: $dark-green;
    border: 1px solid $dark-green;
    &:hover {
      color: white;
      background: $dark-green;
    }
    &.button--score {
      display: flex;
      span {
        display: flex;
        align-items: center;
        &:before {
          width: 18px;
          height: 18px;
          content: '';
          position: relative;
          display: inline-block;
          background: url(../img/icons/listGreen.svg) center no-repeat;
          background-size: contain;
          margin-right: 10px;
          flex-shrink: 0;
        }
      }
      &:hover {
        span {
          &:before {
            background: url(../img/icons/listWhite.svg) center no-repeat;
            background-size: contain;
          }
        }
      }
    }
    &.button--edit {
      display: flex;
      span {
        display: flex;
        align-items: center;
        &:before {
          width: 18px;
          height: 18px;
          content: '';
          position: relative;
          display: inline-block;
          background: url(../img/icons/edit2Green.svg) center no-repeat;
          background-size: contain;
          margin-right: 10px;
          flex-shrink: 0;
        }
      }
      &:hover {
        span {
          &:before {
            background: url(../img/icons/edit2White.svg) center no-repeat;
            background-size: contain;
          }
        }
      }
    }
    &.button--success {
      display: flex;
      @media(max-width: 575px) {
        max-width: 290px !important;
      }
      span {
        display: flex;
        align-items: center;
        &:before {
          width: 18px;
          height: 18px;
          content: '';
          position: relative;
          display: inline-block;
          background: url(../img/icons/check2Green.svg) center no-repeat;
          background-size: contain;
          margin-right: 10px;
          flex-shrink: 0;
        }
      }
      &:hover {
        span {
          &:before {
            background: url(../img/icons/check2White.svg) center no-repeat;
            background-size: contain;
          }
        }
      }
    }
    &.disabled {
      border: 1px solid #AFAFAF;
      color: #AFAFAF;
      &:hover {
        background: white;
      }
    }
  }
  &--darkGreen {
    background: $dark-green;
    color: white;
    border: 1px solid $dark-green;
    &:hover {
      color: white;
      background: $light-green;
      border-color: $light-green;
    }
  }
}


.buttonsDropdown {
  .dropdown__toggle {
    width: 29px;
    height: 29px;
    border-radius: 100px;
    background-color: white;
    background-image: url(../img/icons/buttonsDropdown/dotes.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none !important;
    &[aria-expanded="true"], &:hover {
      background-color: #F3F3F3;
      background-image: url(../img/icons/buttonsDropdown/dotesGReen.svg);

    }
  }
  .dropdown-menu {
    border: none !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    padding: 0;
    overflow: hidden;
    border: none;
    width: 90px;
    min-width: 0;
    left: -31px !important;
    transform: none !important;
    top: 20px !important;
    &--threeButtons {
      width: 135px;
      left: -52px !important;
    }
    &--fourButtons {
      width: 180px;
      left: -75px !important;
    }
    &.show {
      display: flex;
    }
  }
  &__el {
    height: 33px;
    width: 45px;
    background-color: $dark-green;
    background-position: center;
    background-repeat: no-repeat;
    border-right: 1px solid white;
    &:last-of-type {
      border: none;
    }
    &:hover {
      background-color: white;
    }
    &--edit {
      background-image: url(../img/icons/buttonsDropdown/editWhite.svg);
      &:hover {
        background-image: url(../img/icons/buttonsDropdown/edit.svg);
      }
    }
    &--check {
      background-image: url(../img/icons/buttonsDropdown/checkWhite.svg);
      &:hover {
        background-image: url(../img/icons/buttonsDropdown/check.svg);
      }
    }
    &--copy {
      background-image: url(../img/icons/buttonsDropdown/copyWhite.svg);
      &:hover {
        background-image: url(../img/icons/buttonsDropdown/copy.svg);
      }
    }
    &--delete {
      background-image: url(../img/icons/buttonsDropdown/deleteWhite.svg);
      &:hover {
        background-image: url(../img/icons/buttonsDropdown/delete.svg);
      }
    }
  }
}

.modal-backdrop { 
  z-index: -1 !important;
}