.content__block {
  margin-bottom: 30px;

  &-large {
    width: 428px;

    @include media-breakpoint-down (lg) {
      width: 680px;
    }

    @include media-breakpoint-down (md) {
      width: 100%;
    }

    @include media-breakpoint-down (sm) {
      width: 100%;
    }
  }

  &-small {
    width: 407px;

    @include media-breakpoint-down (lg) {
      width: 680px;
    }

    @include media-breakpoint-down (md) {
      width: 100%;
    }

    @include media-breakpoint-down (sm) {
      width: 100%;
    }
  }
  
  &-header {
    display: flex;
    align-items: center;
    height: 68px;
    padding-left: 20px;
    border-bottom: 1px solid #DFDFDF;
    border-radius: 20px 20px 0px 0px;
    background-color: $white;
  }

  &-questionTooltip {
    position: relative;

    @include media-breakpoint-down (md) {
      display: none;
    }

    .content__block-questionTooltip-icon {
      position: absolute;
      top: -15px;
      right: -200px;
      border: 1px solid $dark-green;
      border-radius: 50%;
      padding: 9px 11px 5px 11px;

      @include media-breakpoint-down (lg) {
        right: -473px;
      }

      &:hover {

        & + .content__block-questionTooltip-text {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .content__block-questionTooltip-text {
      position: absolute;
      top: 30px;
      right: -275px;
      width: 180px;
      font-size: 12px;
      color: $dark-grey;
      background-color: $white;
      border: 1px solid $dark-green;
      border-radius: 15px;
      padding: 15px 10px;
      visibility: hidden;
      opacity: 0;
      transition-duration: 0.3s;

      @include media-breakpoint-down (lg) {
        right: -510px;
      }

      @include media-breakpoint-down (md) {
        right: -165px;
      }
    }
  }

  &-icon {
    padding: 7px 9px;
    border: 1px solid $dark-green;
    border-radius: 50%;
  }

  &-title {
    font-size: 18px;
    font-weight: 500;
    margin-left: 15px;
  }

  &-button {
    text-align: center;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid #DFDFDF;
    background-color: $white;
    -webkit-appearance: button;

    &:hover {

      .content__block-button-inner {
        transform: scale(1.1);
        color: $dark-green;
      }
    }

    &-inner {
      font-weight: 600;
      transition-duration: 0.2s;
      padding-top: 16px;
      padding-bottom: 16px;
      color: $light-green;
    }
  }

  &-body {
    background-color: $white;

    &-small {
      border-radius: 0px 0px 15px 15px;
    }

    &-order {
      padding: 30px 20px;

      @include media-breakpoint-down (xs) {
        padding: 20px 10px;
      }

      .content__block-list {

        .content__block-item {
          margin-bottom: 35px;

          &:last-child {
            margin: 0;
          }

          .content__block-item-top {
            display: flex;
            align-items: center;
            position: relative;
 
            .content__block-item-number {
              transition-duration: 0.2s;
              text-decoration: underline;
              margin-left: 10px;
              margin-right: 10px;
              color: $black;

              @include media-breakpoint-down (xs) {
                font-size: 12px;
                margin-left: 5px;
                margin-right: 5px;
              }

              &:hover {
                transform: scale(1.1);
                color: $dark-green;
              }
            }

            .content__block-item-date {
              color: $dark-grey;
            }

            .content__block-item-price {
              position: absolute;
              font-weight: 700;
              right: 15px;
              color: $dark-green;

              @include media-breakpoint-down (xs) {
                font-size: 12px;
                right: 0;
              }
            }
          }

          .content__block-item-bottom {

            .content__block-item-status {
              font-size: 13px;
              margin-top: 8px;
              margin-left: 27px;
              color: $dark-grey;
            }
          }
        }
      }
    }

    &-order-done {
      height: 264px;
      padding: 20px 3px;

      @include media-breakpoint-down (xs) {
        padding: 10px 10px 0 10px;
        height: 165px;
      }

      .content__block-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 18px;
        padding-right: 13px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 15px;
        margin-bottom: 15px;

        @include media-breakpoint-down (xs) {
          margin-bottom: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
        }

        &:hover {
          background-color: #F8F8F8;
        }

        &-status {
          display: flex;
          align-items: center;

          img {
            margin-right: 10px;
          }
        }

        &-number {
          text-decoration: underline;
          color: $black;

          @include media-breakpoint-down (xs) {
            font-size: 12px;
          }
        }

        &-date {
          color: $dark-grey;

          @include media-breakpoint-down (xs) {
            font-size: 12px;
          }
        }

        &-price {
          font-weight: 700;
          color: $dark-green;

          @include media-breakpoint-down (xs) {
            font-size: 12px;
          }
        }

        &-arrow {

          @include media-breakpoint-down (xs) {
            display: none;
          }
        }
      }
    }

    &-discount {
      display: flex;
      justify-content: space-between;
      padding: 20px 18px 15px 18px;

      

      @include media-breakpoint-down (xs) {
        flex-direction: column;
        padding: 20px 0 0 0;
      }

      .content__block-left {

        @include media-breakpoint-down (xs) {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 20px;
        }
        
        .content__block-text {
          font-weight: 600;
          margin-bottom: 10px;
          color: $dark-grey;
        }

        .content__block-price {
          font-size: 30px;
          font-weight: 600;
          color: $dark-green;

          @include media-breakpoint-down (md) {
            font-size: 24px;
          }
        }
      }

      .content__block-right {
        display: flex;
        align-items: center;
        height: fit-content;
        margin-top: 5px;
        padding: 5px 10px;
        border: 1px solid $dark-green;
        border-radius: 15px;
        transition-duration: 0.2s;

        @include media-breakpoint-down (xs) {
          height: 44px;
          justify-content: center;
        }

        &:hover {
          color: $dark-green;
        }

        .content__block-icon {
          margin-right: 10px;
          padding: 0;
          border: none;
        }
      }
    }

    &-action {
      padding: 25px 20px 30px 20px;

      .content__block-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0;
        }

        .content__block-item-left {
          display: flex;
          align-items: center;

          .content__block-item-text {
            margin-left: 13px;
            color: $dark-grey;

            span {
              font-weight: 600;
              color: $dark-green;
            }
          }
        }

        .content__block-item-right {
          transition-duration: 0.2s;

          &:hover {
            transform: scale(1.1);
          }

          .content__block-item-link {
            padding-bottom: 4px;
            color: $dark-green;
            border-bottom: 1px solid $dark-green;

          }
        }
      }
    }

    &-line {
      padding: 30px 18px 20px 18px;

      .content__block-listname {
        font-weight: 600;
        margin-bottom: 15px;
        color: $dark-grey;

        span {
          color: $dark-green
          ;
        }
      }

      .content__block-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        &:last-child {
          margin: 0;
        }

        .content__block-item-name {
          color: $dark-grey;
        }

        .content__block-item-date {
          padding: 10px 28px;
          color: $dark-green;
          border: 1px solid #DFDFDF;
          border-radius: 15px;
          transition-duration: 0.2s;

          &:hover {
            color: $white;
            background-color: $dark-green;
            border-color: $dark-green;
          }
        }
      }
    }

    &-customer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 14px 18px 20px 14px;
      height: 120px;

      .content__block-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-user {
          display: flex;
          align-items: center;
          font-weight: 500;
          color: $dark-grey;

          @include media-breakpoint-down (xs) {
            max-width: 85px;
            font-size: 12px;
          }

          img {
            margin-right: 11px;
          }
        }

        &-text {
          color: $dark-grey;

          @include media-breakpoint-down (xs) {
            font-size: 12px;
          }
        }

        &-link {
          color: $dark-green;
          text-decoration: underline;

          @include media-breakpoint-down (xs) {
            font-size: 12px;
          }

          &:hover {
            color: $dark-green;
          }
        }
      }
    }
  }
}


