.radius-block {
  background: #FFFFFF;
  border-radius: 15px;
  padding: 24px 20px 20px;
  @media(max-width: 767px) {
    padding: 10px !important;
  }
}
.order-page {
  .main {
    margin-top: 88px;
    @media(max-width: 991px) {
      margin-top: 0px;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 36px;
    width: 100%;
  }
  &__back {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid $dark-green;
    border-radius: 100px;
    &:after {
      width: 10px;
      height: 10px;
      background: url(../img/icons/arrowLeft.svg) center no-repeat;
      background-size: contain !important;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    &:hover {
      background: $dark-green;
      &:after {
        background: url(../img/icons/arrowLeftWhite.svg) center no-repeat;
      }
    }
    @media(max-width: 575px) {
      width: 26px;
      height: 26px;
    }
  }
  &__title {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    @media(max-width: 575px) {
      font-size: 16px;
    }
  }
  .order-block {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 24px 20px 20px;
    &__search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      padding-bottom: 15px;
      border-bottom: 1px solid #DFDFDF;
      @media(max-width: 575px) {
        flex-direction: column;
      }
      .searchField {
        max-width: 245px;
        width: 100%;
        height: 40px;
        position: relative;
        @media(max-width: 575px) {
          margin-bottom: 10px;
        }
        &__input {
          border: 1px solid #ABABAB;
          height: 40px;
          padding: 0 20px;
          font-style: italic;
          width: 100%;
          border-radius: 15px;
        }
        &__button {
          position: absolute;
          width: 40px;
          top: 0;
          bottom: 0;
          right: 0;
          border: none;
          background: transparent;
          img {
            opacity: 0.6;
          }
          &:hover {
            img {
              opacity: 1;
            }
          }
        }
      }
    }

    &__body {
      vertical-align: middle;
      width: 100%;
      &--smallPadding {
        .order-block__row-el {
          padding: 10px;
          @media (max-width: 767px) {
            padding: 1px;
          }
        }
      }
    }
    &__row {
      position: relative;
      border-bottom: 1px solid #DFDFDF;
      @media(max-width: 767px) {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 15px;
      }
      &:last-of-type {
        border: none;
      }
    }
    &__row-el {
      vertical-align: middle;
      padding: 20px;
      @media(max-width: 767px) {
        display: flex;
        padding: 1px;
      }
      &:first-of-type {
        padding-left: 0;
      }
      &:last-of-type {
        padding-right: 0;
      }
    }


    &__row-el-main {
      display: flex;
      align-items: center;
      position: relative;
      @media(max-width: 767px) {
        padding-bottom: 60px;
        align-items: flex-start;
        &.smallPadding {
          padding-bottom: 30px;
        }
      }
    }
    &__row-el-main-imgContainer {
      background: #F8F8F8;
      width: 83px;
      height: 83px;
      border-radius: 5px;
      padding: 5px;
      margin-right: 20px;
      flex-shrink: 0;
      
      @media(max-width: 767px) {
        margin-right: 10px;
      }
    }
    &__row-el-main-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__row-el-main-body {

    }
    &__row-el-main-body-title {
      margin-bottom: 3px;
      font-size: 16px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      height: 36px;
      overflow: hidden;
      line-height: 20px;
      @media(max-width: 1199px) {
        font-size: 14px;
      }
      @media(max-width: 767px) {
        margin-top: 5px;
      }

    }
    &__row-el-main-body-subtitle {
      font-size: 12px;
      display: flex;
      flex-wrap: wrap;
      @media(max-width: 767px) {
        flex-direction: column;
        position: absolute;
        bottom: 0px;
        left: 0;
      }
      & > * {
        margin-right: 15px;
        margin-bottom: 5px;
      }
      .articul {
        color: #595959;
        @media(max-width: 767px) {
          background: #F8F8F8;
          border-radius: 15px;
          padding: 6px 11px;
        }
        
      }
      .moreInfo {
        color: $dark-green;
        text-decoration: underline;
      }
    }

    
    &__row-el-material {
      font-size: 16px;
      @media(max-width: 1199px) {
        font-size: 14px;
      }
      @media(max-width: 767px) {
        position: absolute;
        left: 93px;
        top: 88px;
      }
    }


    &__row-el-status {
      font-size: 16px;
      display: flex;
      align-items: center;
      @media(max-width: 1199px) {
        font-size: 14px;
      }
      @media(max-width: 767px) {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 16px;
      }
      &.agree {
        color: $dark-green;
      }
      &.waiting {
        color: #DCB900;
      }
      img {
        margin-right: 5px;
      }
    }
    &__row-el-status-text {
      white-space: nowrap;
    }

    &__row-el-priceAll {
      font-size: 20px;
      color: $dark-green;
      white-space: nowrap;
      font-weight: 700;
      position: relative;
      @media(max-width: 767px) {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 14px;
        padding-bottom: 19px;
      }
    }
    &__row-el-quantity {
      text-align: center;
      white-space: nowrap;
      @media(max-width: 767px) {
        max-width: 100px;
        text-align: center;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        margin: auto;
        padding-bottom: 19px;
      }
    }
    &__row-el-price {
      font-weight: bold;
      font-size: 16px;
      color: $dark-green;
      white-space: nowrap;
      position: relative;
      @media(max-width: 1199px) {
        font-size: 14px;
      }
      .oldPrice {
        @media(max-width: 767px) {
          display: none;
        }
      }
    }
    .oldPrice {
      position: absolute;
      color: #A0A0A0;
      font-size: 12px;
      font-weight: 400;
      bottom: calc(100% + 10px);
      left: 0;
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 1px;
        left: 0px;
        right: 0px;
        content: '';
        transform: rotate(-5deg);
        background: #CC0000;
        margin: auto;
      }
    }
    &__row-el-remove {
      width: 20px;
      height: 20px;
      background: url(../img/icons/buttonsDropdown/delete.svg) center no-repeat;
      background-size: contain;
      border: none;
      transition-duration: 0.4s;
      @media(max-width: 767px) {
        position: absolute;
        top: 3px;
        left: 20px;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
    .checkbox {
      @media(max-width: 767px) {
        position: absolute;
        top: 7px;
        left: 0px;
      }
    }

    .quantityEl {
      @media(max-width: 767px) {
        position: absolute;
        right: 0;
        bottom: 20px;
      }
    }


    .buttonsDropdown {
      @media(max-width: 767px) {
        position: absolute;
        top: 5px;
        right: 10px;
      }
    }
    


    .cart__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #DFDFDF;
      padding-bottom: 15px;
      .orderNumber {
        font-size: 18px;
        @media(max-width: 575px) {
          font-size: 14px;
        }
        &__value {
          font-weight: 500;
          padding-left: 5px;
          &-number {
            font-weight: 400;
          }
        }
        &-customer {
          display: flex;
          @media(max-width: 1199px) {
            font-size: 14px;
          }
        }
      }
      .cart__header-printer {
        transition-duration: 0.4s;
        &:hover {
          transform: scale(1.1);
        }
        img {
          width: 37px;
          @media(max-width: 991px) {
            width: 24px;
          }
          @media(max-width: 575px) {
            width: 21px;
          }
        }
      }
    }


  }
  .order {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 8px;
      padding-bottom: 8px;
      @media(max-width: 767px) {
        align-items: flex-start;
      }
      .dropdown__manager {

      }
    }
    &__menu {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-right: 35px;
      align-items: center;
      font-size: 12px;
      @media(max-width: 1199px) {
        font-size: 11px;
        margin-right: 11px;
      }
      @media(max-width: 767px) {
        font-size: 14px;
        flex-direction: column;
        align-items: flex-start;
      }
    }
    &__menu-el {
      display: flex;
      @media(max-width: 767px) {
        padding-top: 6px;
        padding-bottom: 6px;
      }
      .order-block__row-el-status {
        position: static;
        font-size: 12px;
        @media(max-width: 1199px) {
          font-size: 11px;
        }
        @media(max-width: 767px) {
          font-size: 14px;
        }
      }
      
    }
    &__menu-el-text {
      margin-right: 5px;
      @media(max-width: 1199px) {
        margin-right: 2px;
      }
    }
    &__menu-el-value {
      font-weight: 500;
      color: $dark-green;
      &-tel {
        display: block;
        font-size: 12px;
        color: black;
      }
    }
    &__header-buttons {
      display: flex;
      align-items: center;
      @media(max-width: 767px) {
        flex-direction: column-reverse;
        
      }
    }
    &__header-printer {
      padding: 0;
      border: none;
      background: transparent;
      transition-duration: 0.4s;
      margin-right: 15px;
      @media(max-width: 767px) {
        margin-right: 0;
      }
      &:hover {
        transform: scale(1.1);
      }
      img {
        width: 22px;
      }
    }
    &__footer {

      .addedProducts__info {
        
        margin-right: 20px;
      }
      .button {
  
      }
      .order__footer-nav {
        @media(max-width: 767px) {
          flex-direction: column;
          align-items: flex-start;
          max-width: 430px;
          margin-left: auto;
          margin-right: auto;
        }
        @media(max-width: 575px) {
          max-width: 300px;
        }
      }
    }
    &__footer-buttons {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      @media(max-width: 767px) {
        flex-direction: column;
        align-items: center;
      }
      .button {
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: 600;
        margin-bottom: 15px;
        margin-right: 20px;
        @media(max-width: 767px) {
          font-size: 13px;
        }
      }
      .d-flex {
        margin-right: -20px;
      }
      .button--stroke {
        width: 145px;
        
        @media(max-width: 767px) {
          max-width: 135px;
          max-width: calc(50% - 20px);
          width: 100%;
        }
        
      }
      .button--createOrder {
        max-width: 290px;
        margin-right: 0;
      }
      &--fourButtons {
        .d-flex {
          flex-wrap: wrap;
          @media(max-width: 767px) {
            justify-content: center;
          }
          .button {
            margin-right: 20px;
            max-width: 145px;
            width: 145px;
            flex-shrink: 0;
            @media(max-width: 767px) {
              max-width: calc(50% - 20px);
            }
            
          }
        }
      }
    }
    &__footer-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  
}


.quantityEl {
  width: 80px;
  @media(max-width: 767px) {
    width: 65px;
  }
  .jq-number {
    width: 100%;
    padding: 0 32px 0 0;
    @media(max-width: 767px) {
      padding: 0;
    }
    &__field {
      background: #F8F8F8;
      border: none;
      box-shadow: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      width: 100%;
      border: none !important;
      @media(max-width: 767px) {
        border-radius: 5px;
        position: relative;
        &:after {
          display: block;
          width: 15px;
          height: 15px;
          content: '';
          position: absolute;
          right: 5px;
          top: 0;
          bottom: 0;
          margin: auto;
          background: url(../img/icons/editGreen.svg) center no-repeat;
        }
      }
      input {
        text-align: center;
        font-weight: 600;
        font-family: 'Gilroy';
        color: black;
        position: relative;
        z-index: 1;
        
        @media(max-width: 767px) {
          text-align: left;
          padding-left: 8px;
          padding-right: 30px;
        }
      }
    }
    &__spin {
      box-shadow: none;
      height: 50%;
      border: none;
      overflow: hidden;
      @media(max-width: 767px) {
        display: none;
      }
      &:after {
        background: #E7E7E7;
        border: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        color: $dark-green;
        text-shadow: none;
        font-size: 18px;
      }
      &.minus {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        &:after {
          content: '-';
        }
      }
      &.plus {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        &:after {
          content: '+';
          box-shadow: none;
        }
      }
      &:hover {
        &:after {
          background: $dark-green;
          color: white;
        }
      }
    }
  }
}

.addedProducts {
  &__title {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 16px;
  }
  &__carousel {
    .owl-nav {
      button {
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        align-items: center;
        width: 75px;
        &.disabled {
          display: none;
        }
        &.owl-prev {
          left: 0;
          justify-content: flex-start;
          background: linear-gradient(to right, rgba(255,255,255,1) 30%, rgba(0,0,0,0) 100%);
        }
        &.owl-next {
          right: 0;
          justify-content: flex-end;
          background: linear-gradient(to right, rgba(0,0,0,0) 30%, rgba(255,255,255,1) 100%);
        }
      }
    }
  }
  &__carousel-el {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 10px 13px;
    width: 140px;
  }
  &__carousel-el-remove {
    width: 13px;
    height: 13px;
    margin-right: 0;
    margin-left: auto;
    position: relative;
    right: -18px;
    img {

    }
  }
  &__carousel-el-imgContainer {
    height: 110px;
    overflow: hidden;
    margin-bottom: 8px;
  }
  &__carousel-el-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__carousel-el-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 36px;
    min-height: 36px;
    height: 100%;
    overflow: hidden;
    line-height: 20px;
    margin-bottom:8px;
  }
  &__carousel-el-status {
    font-size: 12px;
    margin-bottom: 4px;
    &.agree {
      color: $dark-green;
    }
    &.waiting {
      color: #DCB900;
    }
  }
  &__carousel-el-price {
    font-weight: 700;
    margin-bottom: 9px;
  }
  .quantityEl {

  }

  &__footer {
    display: flex;
    @media(max-width: 575px) {
      flex-direction: column;
      align-items: center;
    }
    .buttons170 {
      display: flex;
      @media(max-width: 575px) {
        justify-content: space-between;
        margin-top: 15px;
        width: 100%;
      }
      .button {
        width: 170px;
        padding: 0px 7px;
        @media(max-width: 575px) {
          margin: 0;
          width: 100%;
          max-width: calc(50% - 10px);
        }
      }
    }
  }
  &__footer-button {
    margin-right: 0;
    margin-left: auto;
    @media(max-width: 575px) {
      margin: 10px auto;
    }
  }
  &__info {
    line-height: 1.2;
    font-size: 18px;
    margin-right: 50px;
    min-width: 145px;
    flex-shrink: 0;
    @media(max-width: 1199px) {
      font-size: 14px;
      margin-right: 20px;
      min-width: auto;
    }
  }
  &__info-price {
    color: $dark-green;
    font-weight: 700;
    
  }
  &__info-products {

  }
  &__date {
    line-height: 1.2;
    font-size: 18px;
    min-width: 145px;
    @media(max-width: 1199px) {
      font-size: 14px;
      min-width: auto;
    }
    span {
      display: block;
    }
  }
}

.order-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .showOnPage {
    display: flex;
    align-items: center;
    @media(max-width: 575px) {
      flex-direction: row-reverse;
    }
    &__link {
      font-weight: 500;
      @media(max-width: 575px) {
        font-size: 12px;
      }
    }
    .table__dropdown {
      margin-left: 30px;
      @media(max-width: 575px) {
        margin-left: 0;
        margin-right: 10px;
      }
      .dropdown__toggle {
        border: 1px solid $dark-green;
        color: $dark-green;
        min-width: 63px;
        width: auto;
        i {
          font-size: 13px;
          margin-left: 5px;
        }
        &[aria-expanded="true"] {
          background: $dark-green;
          color: white;
          i {
            transform: rotate(180deg);
          }
        }
        &:hover {
          background: $dark-green;
          color: white;
        }
      }
    }
  }
  &__text {
    font-weight: 500;
    font-size: 14px;
    margin-left: 15px;
    @media(max-width: 575px) {
      display: none;
    }
  }
  &__arrows {
    display: flex;
  }
  &__arrow {
    border: 1px solid $dark-green;
    width: 45px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: $dark-green;
    margin-left: 15px;
    &:hover {
      background: $dark-green;
      color: white;
    }
    i {
      font-size: 11px;
    }
  }
}




.dropdown--greenBorder {
  margin: 0;
  button {
    color: $dark-grey;
    min-width: 100%;
    min-height: 40px;
    border-radius: 15px;
    border: none;
    background-color: $white;   
    text-align: left;
  }
  .dropdown__toggle {
    color: $dark-grey;
    min-width: 63px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: $white;   
    border: 1px solid $dark-green;
    color: $dark-green;
    min-width: 63px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    i {
      font-size: 13px;
      margin-left: 5px;
    }
    &[aria-expanded="true"] {
      background: $dark-green;
      color: white;
      i {
        transform: rotate(180deg);
      }
    }
    &:hover {
      background: $dark-green;
      color: white;
    }
  }

  .dropdown-menu {
    border-radius: 15px;
    min-width: 100%;
    padding: 0;
    border: 2px solid #00642F;
    .dropdown-item {
      width: 100%;
      text-align: center;
      padding: 3px 10px;
      margin: 0;
      color: #1C1C1C;
      font-weight: 500;
      font-size: 14px;
      border-radius: 0;
      text-align: left;
      border-bottom: 1px solid #E7E7E7;
      &:last-of-type {
        border-bottom: none;
      }
      &:first-of-type {
        border-radius: 15px 15px 0 0;
      }

      &:last-of-type {
        border-radius: 0 0 15px 15px;
      }
      .addressValue {
        font-size: 12px;
        padding-top: 4px;
      }
    }
  }
}


.dropdownsAndButton {
  flex-direction: column;
  &__top {
    display: flex;
    @media(max-width: 767px) {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .dropdown--greenBorder {
      margin-right: 20px;
      margin-bottom: 10px;
      @media(max-width: 767px) {
        width: calc(100%/2 - 10px);
        margin-right: 0;
      }
      .dropdown__toggle {
        width: 145px;
        @media(max-width: 767px) {
          width: 100%;
        }
      }
    }
    .addedProducts__footer-button {
      margin-bottom: 10px;
      @media(max-width: 767px) {
        width: calc(100%/2 - 10px);
        max-width: none;
      }
      @media(max-width: 575px) {
        margin-top: 0;
        margin-right: 0;
      }
    }
    &--withSave {
      .dropdown--greenBorder {
        margin-right: 20px;
        @media(max-width: 1199px) {
          margin-right: 10px;
        }
        @media(max-width: 767px) {
          margin-right: 0;
        }
      }
      .button--save {
        margin-right: 20px;
        width: 97px;
        margin-left: auto;
        @media(max-width: 1199px) {
          margin-right: 10px;
        }
        @media(max-width: 767px) {
          margin-right: 0px;
          width: calc(100%/2 - 10px);
        }
      }
    }
  }
  &__bottom {

  }
  &__info {
    background: #FFFFFF;
    border: 1px solid #00642F;
    box-sizing: border-box;
    border-radius: 15px;
    color: #1C1C1C;
    font-size: 12px;
    padding: 12px 17px;
    max-width: 320px;
    margin-left: 165px;
    @media(max-width: 767px) {
      margin-left: 0px;
    }
  }
  &__info-title {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
  }
  &__info-address {
    margin-bottom: 10px;
  }
  &__info-text {

  }
}
.dropdown {
  .dropdown-item {
    &:active {
      background: #e9ecef;
    }
  }
}
.dropdown__manager {
  @media(max-width: 767px) {
    margin-bottom: 8px;
  }
  .dropdown__toggle {
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0;
    border: none;
    background: transparent;
    .dropdown__toggle-icon-main {
      width: 31px;
      height: 31px;
      background: url(../img/icons/userRadioGrey.svg) center no-repeat;
      background-size: contain !important;
      margin-right: 7px;
      @media(max-width: 767px) {
        margin-right: 0;
      }
    }
    .dropdown__toggle-icon {
      opacity: 0;
      width: 4px;
      transform: rotate(90deg);
      @media(max-width: 1199px) {
        display: none;
      }
    }
    &:hover {
      .dropdown__toggle-icon-main {
        background: url(../img/icons/userRadioGreen.svg) center no-repeat;
      }
      .dropdown__toggle-icon {
        opacity: 1;
      }
    }
    &[aria-expanded="true"] {
      .dropdown__toggle-icon-main {
        background: url(../img/icons/userRadioGreen.svg) center no-repeat;
      }
      .dropdown__toggle-icon {
        transform: rotate(-90deg);
        opacity: 1;
      }
    }
  }
  .dropdown-menu {
    border-radius: 15px;
    border: 1px solid #787878;
    right: 0 !important;
    left: auto !important;
    top: 38px !important;
    transform: none !important;
  }
  .dropdown-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 8px 18px;
    color: #595959;
    .dropdown__manager-title {
      color: $dark-green;
      font-weight: 700;
    }
    img {
      margin-right: 8px;
    }
    .dropdown__manager-name {
      font-weight: 600;
    }
  }
}