.production__time {

  &-block {
    width: 100%;
    padding: 12px 18px;
    border-radius: 15px;
    background-color: $white;
  }

  &-title {
    font-weight: 700;
    margin-bottom: 15px;
    color: $dark-green;
  }

  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-action {
    font-weight: 600;
    color: $dark-grey;
    margin-left: 8px;
    margin-right: 3px;
  }

  &-date {
    color: $dark-grey;
  }
}