.table {

  &__section {
    display: flex;
    flex-direction: column;


    &-button {
      display: flex;
      justify-content: flex-end;

      @include media-breakpoint-down (md) {
        display: none;
      }
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media-breakpoint-down (xs) {
        flex-direction: column;
      }

      &-right {
        display: flex;
        align-items: center;

        @include media-breakpoint-down (xs) {
          margin-top: 20px;
          width: 100%;
          flex-direction: row-reverse;
          justify-content: flex-end;
        }
      }

      .addorder-button {
        display: none;
        margin: 0;

        @include media-breakpoint-down (md) {
          display: block;
        }
      }

      &-manager {
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-down(sm) {
          flex-direction: column;
        }

        .table__section-footer-left {
          display: flex;
          align-items: center;

          @include  media-breakpoint-down(xs) {
            justify-content: space-between;
          }

          .dropdown-toggle {
            text-align: start;
            font-weight: 600;
            width: 145px;
            height: 40px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 15px;
            border: none;
            color: $dark-green;
            background-color: $white;
            position: relative;

            &::after {
              position: absolute;
              top: calc( 50% - 2px );
              right: 20px;
              margin: 0;
              vertical-align: 0;
            }
          }

          .table__section-footer-search {
            position: relative;

            img {
              position: absolute;
              right: 0;
            }

            .table__section-footer-input {
              width: 200px;
              margin-left: 25px;
              padding-bottom: 5px;
              border: none;
              border-bottom: 1px solid $dark-green;
              background-color: transparent;

              @include  media-breakpoint-down(lg) {
                width: 170px;
              }

              @include  media-breakpoint-down(xs) {
                width: 120px;
                margin-left: 0;
              }

              &::placeholder {
                font-style: italic;
                color: #B5B5B5;
              }

              &:focus {
                outline: none;
              }
            }
          }
        }

        .table__section-footer-right {
          display: flex;
          justify-content: flex-end;

          @include media-breakpoint-down(sm) {
            justify-content: space-between;
            margin-top: 20px;
          }

          @include media-breakpoint-down(xs) {
            flex-direction: column-reverse;
            align-items: flex-start;
          }

          &-box {
            display: flex;
            align-items: center;

            @include  media-breakpoint-down(xs) {
              flex-direction: row-reverse;
            }
          }

          .table__button {
            display: none;
            margin: 0;

            @include media-breakpoint-down(sm) {
              width: 145px;
              display: block;
            }

            @include media-breakpoint-down(xs) {
              width: 100%;
              margin-top: 20px;
            }

            .addorder-button-inner {
              padding: 5px 33px;

              @include media-breakpoint-down(xs) {
                padding: 12px 33px;
              }
            }
          }
        }
      }
    }
  }

  &__dropdown {
    margin-right: 110px;

    @include media-breakpoint-down (xs) {
      margin-right: 10px;
    }

    button {
      color: $dark-grey;
      width: 63px;
      height: 40px;
      border-radius: 15px;
      border: none;
      background-color: $white;   
    }

    &-name {
      font-size: 16px;
      font-weight: 500;
      margin-right: 30px;
      color: #5B5B5B;

      @include media-breakpoint-down (sm) {
        font-size: 12px;
        margin-right: 15px;
      }

      @include media-breakpoint-down (xs) {
        width: 90px;
      }
    }

    .dropdown-menu {
      border-radius: 15px;
      min-width: 63px;
      padding: 0;

      .dropdown-item {
        text-align: center;
        padding: 0;
        margin: 0;
        border-radius: 0;

        &:first-of-type {
          border-radius: 15px 15px 0 0;
        }

        &:last-of-type {
          border-radius: 0 0 15px 15px;
        }
      }
    }
  }

  &__title {
    
    &-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 70px;
      border-radius: 15px;
      background-color: $white;
      padding-left: 18px;

      @include media-breakpoint-down (xs) {
        justify-content: space-between;
      }

      .table__title-side {

        &-left {
          display: flex;
          align-items: center;

          @include media-breakpoint-down (lg) {
            width: 230px;
          }
        }

        &-right {
          margin-left: 20px;

          @include media-breakpoint-down (xs) {
            margin-left: 0;
          }

          .table__title-list {

            @include media-breakpoint-down (xs) {
              display: none;
            }
          }
        }
      }

      .table__title {

        &-icon {
          border: 1px solid $dark-green;
          border-radius: 50%;
          padding: 5px 7px;
        }

        &-name {
          margin-left: 10px;
          font-size: 18px;
          font-weight: 500;
          color: $black;

          @include media-breakpoint-down (xs) {
            font-size: 16px;
          }
        }

        &-list {
          padding: 0;
          display: flex;
          flex-wrap: wrap;

          @include media-breakpoint-down (lg) {
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }

        &-item {
          margin-right: 12px;
          transition-duration: 0.2s;
        }

        &-link {
          color: $black;
          transition-duration: 0.2s;

          &:hover {
            text-decoration: underline;
            color: $dark-green;
          }
        }

        &-dropdown {
          display: none;

          @include media-breakpoint-down (xs) {
            display: block;
          }

          .dropdown-toggle {
            margin-right: 10px;
            font-weight: 600;
            text-decoration: underline;
            border: none;
            background-color: $white;
            color: $dark-green;
          }
        }
      }
    }
  }


  &__orders {

    .col {

      &__container {
        display: flex;

        &-number {
          flex-direction: column;
        }

        &-price {
          flex-direction: column;
        }

        &-prod {
          flex-direction: column;

          @include media-breakpoint-down (xs) {
            align-items: center;
          }
        }

        &-post {
          align-items: center;

          @include media-breakpoint-down (sm) {
            justify-content: center;
          }
        }

        &-status {
          align-items: center;

          @include media-breakpoint-down (md) {
            justify-content: center;
          }

          img {
            margin-right: 5px;

            @include media-breakpoint-down (lg) {
              margin-right: 0;
              margin-left: 15px;
            }

            @include media-breakpoint-down (md) {
              margin: 0;
            }

            @include media-breakpoint-down (sm) {
              margin: 0;
            }
          }
        }

        &-pay {
          justify-content: center;
        }

        &-customer {
          flex-direction: column;

          @include  media-breakpoint-down(md) {
            align-items: center;
          }
        }

        &-button {
          justify-content: center;
        }

        &-items {
          flex-direction: column;

          @include media-breakpoint-down(xs) {
            align-items: center;
          }
        }

        &-time {
          display: flex;
          flex-direction: column;
        }

        &-arrow {
          display: flex;
          justify-content: flex-end;
          margin-right: 20px;
        }

        &-services {
          flex-direction: column;
        }

        &-detail {
          flex-direction: column;
        }

        &-date {
          flex-direction: column;
        }
      }

      &__title {

        @include media-breakpoint-down (xs) {
          max-width: 150px;
        }
      }

      &__number {
        color: $dark-green;
        font-weight: 500;
        margin-bottom: 5px;

        @include media-breakpoint-down (lg) {
          font-size: 12px;
        }
      }

      &__date {
        font-size: 12px;
      }

      &__amount {
        font-size: 12px;
        margin-bottom: 5px;
      }

      &__price {
        font-size: 16px;
        font-weight: 700;
        color: $dark-green;

        @include media-breakpoint-down (lg) {
          font-size: 14px;
        }
      }

      &__prod {
        margin-bottom: 5px;
      }

      &__post {
        margin-left: 5px;
        color: #808080;
      }

      &__status {
        font-size: 12px;
        margin-top: 2px;

        @include media-breakpoint-down (lg) {
          display: none;
        }

        &.done {
          color: $dark-green;
        }

        &.undone {
          color: #CD0000;
        }

        &.timer {
          color: #DCB900;
        }
      }

      &__pay {
        font-size: 12px;
        text-align: center;

        &.border {
          width: 100px;
          padding: 10px 0;
          border-radius: 15px;
          border: 1px solid $black !important;
        }
      }

      &__customer {
        margin-bottom: 5px;
      }

      &__item {
        margin-bottom: 5px;
        text-decoration: underline;
        color: $dark-green;
      }

      &__time {
        margin-bottom: 5px;
        color: $dark-green;
      }

      &__company {
        font-weight: 600;
      }
    }

    &.footable {
      border-collapse: separate;
      border-spacing: 0 10px;
      margin-bottom: 0;

      thead {
        background-color: #E8E8E8;

        th {
          vertical-align: middle;
          height: 40px;
          padding: 0;
          border: none;
          width: 105px;

          @include media-breakpoint-down (xs) {
            font-size: 12px;
          }
          

          &:first-child {
            width: 130px;
            padding-left: 15px;
            border-radius: 15px 0 0 15px;

            @include media-breakpoint-down (sm) {
              width: 80px;
            }
          }

          &:nth-child(2) {
            
            @include media-breakpoint-down (sm) {
              width: 80px;
            }

            @include media-breakpoint-down (xs) {
              padding-left: 8px;
            }
          }

          &:nth-child(3) {

            @include media-breakpoint-down (xs) {
              width: 70px;
              border-radius: 0 15px 15px 0;
            }
          }

          &:nth-child(4) {

            @include media-breakpoint-down (sm) {
              border-radius: 0 15px 15px 0;
            }
          }

          &:nth-child(5) {
            width: 120px;

            @include media-breakpoint-down (lg) {
              width: 105px;
            }
          }

          &:nth-child(6) {

            @include media-breakpoint-down (lg) {
              width: 60px;
            }

            @include media-breakpoint-down (md) {
              padding-left: 20px;
            }
          }

          &:last-child {
            padding-left: 30px;
            border-radius: 0 15px 15px 0;

            @include media-breakpoint-down (lg) {
              padding-left: 25px;
            }

            @include media-breakpoint-down (md) {
              padding-left: 35px;
            }
          }
        }
      }

      tbody {
        
        tr {
          background-color: $white;

          &:hover {
            background-color: #E8E8E8;

            @include media-breakpoint-down (sm) {
              background-color: $white;
            }
          }
        }

        td {
          height: 70px;
          vertical-align: middle;
          padding: 0;
          border: none;

          @include media-breakpoint-down (xs) {
            height: 50px;
          }

          &:first-child {
            padding-left: 15px;
            border-radius: 15px 0 0 15px;
          }

          &:nth-child(2) {

            @include media-breakpoint-down (xs) {
              padding-left: 8px;
            }
          }

          &:nth-child(3) {

            @include media-breakpoint-down (xs) {
              width: 70px;
              border-radius: 0 15px 15px 0;
            }
          }

          &:nth-child(4) {

            @include media-breakpoint-down (sm) {
              border-radius: 0 15px 15px 0;
            }
          }

          &:last-child {
            border-radius: 0 15px 15px 0;
          }

          .footable-toggle {
            display: none;
          }
        }

        .footable-detail-row {
 
          td {
            border-radius: 15px;
          }
        }
      }

      tfoot {
        position: absolute;
        right: 0;
        bottom: -45px;

        @include media-breakpoint-down (md) {
          bottom: -48px;
        }

        @include media-breakpoint-down (xs) {
          bottom: -110px;
        }

        td {
          padding: 0;
          border: none;
        }

        .label {
          display: none;
        }

        .pagination {
          justify-content: flex-end;

          li {
            display: none;

            a {
              font-size: 30px;
              padding: 5px 18px;
              border-radius: 15px;
              margin-left: 5px;
              background-color: $white;
              color: $dark-green;
            }

            &:nth-child(2) {
              display: block;
            }

            &:nth-child(5) {
              display: block;
            }
          }
        }
      }
    }

    &-manager {

      .col {

        &__container {

          &-status {
            justify-content: center;
          }

          &-post {
            justify-content: center;
            padding-left: 20px;

            @include  media-breakpoint-down(md) {
              justify-content: flex-start;
              padding-left: 30px;
            }

            @include  media-breakpoint-down(sm) {
              justify-content: center;
              padding: 0;
            }
          }
        }
      }

      &.footable {

        thead {

          th {

            &:nth-child(5) {
              width: 150px;
            }

            &:nth-child(6) {
              width: 50px;
            }

            &:nth-child(7) {
              padding-left: 20px;
              width: 60px;
            }
          }
        }

        tfoot {

          @include  media-breakpoint-down(md) {
            bottom: -45px;
          }

          @include  media-breakpoint-down(sm) {
            bottom: -105px;
          }
        }
      }

      &-services {

        &.footable {

          thead {

            th {

              &:nth-child(2) {
                width: 90px;
              }

              &:nth-child(4) {
                width: 110px;
              }

              &:nth-child(5) {
                width: 120px;
              }

              &:last-child {
                width: 60px;
              }
            }
          }
        }
      }

      &-lost-call {

        .col {

          &__container {

            &-status {
              justify-content: center;
            }

            &-phone {
              display: flex;

              @include media-breakpoint-down(sm) {
                justify-content: center;
              }
            }

            &-calls {

              @include media-breakpoint-down(xs) {
                justify-content: center;
              }
            }
          }

          &__status {
            font-size: 14px;
            
            @include media-breakpoint-down(lg) {
              display: block;
            }
          }

          &__phone {
            @include media-breakpoint-down(lg) {
              padding-left: 10px;
            }
          }
        }

        &.footable {

          thead {

            th {

              &:first-child {
                width: 100px;

                @include media-breakpoint-down(lg) {
                  width: 80px;
                }
              }

              &:nth-child(2) {
                width: 90px;

                @include media-breakpoint-down(lg) {
                  width: 80px;
                }
              }

              &:nth-child(3) {
                @include media-breakpoint-down(lg) {
                  width: 80px;
                }
              }

              &:nth-child(4) {
                width: 80px;

                @include media-breakpoint-down(lg) {
                  padding-left: 10px;
                }

                @include media-breakpoint-down(sm) {
                  border-radius: 0;
                }
              }

              &:nth-child(5) {
                width: 80px;

                .col__container-title {
                  justify-content: center;
                }

                @include media-breakpoint-down(lg) {
                  width: 50px;
                }
              }

              &:last-child {
                width: 50px;
              }
            }
          }

          tbody {

            td {

              &:nth-child(4) {

                @include media-breakpoint-down(sm) {
                  border-radius: 0;
                }
              }
            }
          }
        }
      }

      &-clients {

        .col {

          &__container {

            &-phone {
              padding-left: 10px;

              @include media-breakpoint-down(sm) {
                justify-content: center;
              }
            }

            &-mail {
              @include media-breakpoint-down(sm) {
                justify-content: center;
              }
            }

            &-id {
              @include media-breakpoint-down(xs) {
                justify-content: center;
              }
            }

            &-company {
              @include media-breakpoint-down(xs) {
                justify-content: center;
              }
            }
          }

          &__name {
            @include media-breakpoint-down(lg) {
              font-size: 12px;
            }
          }

          &__company {
            @include media-breakpoint-down(lg) {
              font-size: 12px;
            }
          }

          &__phone {
            @include media-breakpoint-down(lg) {
              font-size: 12px;
            }
          }

          &__id {
            @include media-breakpoint-down(lg) {
              font-size: 12px;
            }
          }
        }

        &.footable {

          thead {

            th {

              &:nth-child(4) {
                width: 150px;
                padding-left: 10px;
              }

              &:nth-child(6) {
                padding: 0;
              }

              &:last-child {
                width: 50px;
              }
            }
          }
        }
      }
    }

    &-production {

      .col {

        &__container {

          &-status {

            @include media-breakpoint-down(md) {
              justify-content: flex-start;

              img {
                margin-right: 5px;
              }
            }

            @include media-breakpoint-down(sm) {
              justify-content: center;
            }
          }
        }

        &__status {

          @include media-breakpoint-down(md) {
            display: block;
          }
        }
      }

      &.footable {

        thead {

          th {
            width: 80px;

            &:first-child {
              width: 100px;

              @include  media-breakpoint-down(sm) {
                width: 80px;
              }
            }

            &:last-child {
              padding-left: 0;
            }
          }
        }
      }

      &-line {

        .col {

          &__container {

            &-customer {

              @include media-breakpoint-down(md) {
                align-items: flex-start;
              }
            }

            &-time {

              @include media-breakpoint-down(sm) {
                align-items: center;
              }
            }

            &-services {
              @include media-breakpoint-down(lg) {
                align-items: center;
              }
            }

            &-detail {
              @include media-breakpoint-down(lg) {
                align-items: center;
              }
            }

            &-date {
              @include media-breakpoint-down(lg) {
                align-items: center;
              }
            }
          }

          &__time {
            margin-top: 5px;
            font-size: 12px;
            color: $black;
            margin-bottom: 0;
          }

          &__services {
            margin-top: 5px;
            font-size: 12px;
            position: relative;

            &:first-child {
              margin-top: 0;
            }

            &.disabled {
              color: #B4B4B4;
            }

            &.timer {

              @include media-breakpoint-down(lg) {

                &:before {
                  display: none;
                }
              }

              &:before {
                position: absolute;
                content:"16:00";
                width: 30px;
                height: 15px;
                right: 10px;
                color: $black;
              }
            }
          }

          &__detail {
            font-weight: 600;
            font-size: 12px;
            margin-top: 5px;

            &:first-child {
              margin-top: 0;
            }

            &.disabled {
              color: #B4B4B4;
            }
          }

          &__date-list {
            font-size: 12px;
            margin-top: 5px;

            &:first-child {
              margin-top: 0;
            }

            &.disabled {
              color: #B4B4B4;
            }
          }

          &__customer {
            @include media-breakpoint-down(sm) {
              font-size: 12px;
            }

            &-number {
              @include media-breakpoint-down(sm) {
                font-size: 12px;
              }
            }
          }

          &__prod {
            @include media-breakpoint-down(xs) {
              font-size: 12px;
            }
          }
        }

        &.footable {

          thead {

            th {

              &:first-child {
                width: 50px;
              }

              &:nth-child(2) {
                width: 120px;
              }

              &:nth-child(3) {
                width: 160px;
              }

              &:nth-child(4) {
                width: 120px;
              }

              &:nth-child(5) {
                width: 100px;

                @include media-breakpoint-down(lg) {
                  border-radius: 0 15px 15px 0;
                }
              }

              &:nth-child(6) {
                width: 110px;
              }
            }
          }

          tbody {

            tr {

              @include media-breakpoint-down(lg) {

                &:hover {
                  background-color: $white;
                }
              }

              td {

                &:nth-child(5) {

                  @include media-breakpoint-down(lg) {
                    border-radius: 0 15px 15px 0;
                  }
                }
              }
            }
          }

          tfoot {
            .pagination {

              li {

                &:nth-child(5) {
                  display: none;
                }

                &:nth-child(6) {
                  display: block;
                }
              }
            }
          }
        }

        &-two {

          &.footable {

            thead {

              th {

                &:last-child {
                  padding-left: 0;
                }
              }
            }
          }
        }
      }
    }

    &-storage {

      .col {

        &__container {

          &-post {

            @include  media-breakpoint-down(lg) {
              justify-content: center;
            }
          }

          &-customer {
            @include media-breakpoint-down(lg) {
              align-items: center;
            }
          }
        }

        &__status {

          @include media-breakpoint-down(lg) {
            display: block;
          }
        }
      }

      &.footable {

        thead {

          th {

            &:first-child {

              @include media-breakpoint-down(lg) {
                width: 110px;
              }

              @include  media-breakpoint-down(xs) {
                width: 80px;
              }
            }

            &:nth-child(5) {
              width: 145px;
            }
          }
        }
      }
    }
  }
}