.waiting_list {
  margin-top: 80px;
  @media (max-width: 991px){
    .container{
      max-width: 100%;
    }
  }
  section {
      .waiting_list--content {
          display: flex;
        @media (max-width: 991px){
          flex-direction: column;
        }
        .sidebar-column {


        }

        .waiting_list--message {
          background: #FFFFFF;
          border-radius: 15px;
          height: 100%;
          width: 100%;
          .waiting_list--message__header {
            display: flex;
            align-items: center;
            padding: 18px 25px 14px;
            border-bottom: 1px solid #DFDFDF;
            position: relative;
            .icon-box{
              padding: 4px;
              border: 1px solid #00642F;
              border-radius: 50%;
              svg {

                path {

                }
              }
            }
            h2 {
              padding: 0;
              margin: 0 0 0 18px;
              font-family: 'Gilroy';
              font-weight: 500;
              font-size: 18px;
              line-height: 21px;
              color: #000000;
            }
          }

          .tabs-container {
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
            padding: 0 24px 25px;
            margin-bottom: 60px;
            @media (max-width: 991px){
              padding: 0 10px 25px;
            }
            @media (max-width: 640px){
              flex-direction: column;
              align-items: center;
            }
            .tabs-container__tab {
              max-width: 383px;
              width: 100%;
              @media (max-width: 991px){
                max-width: calc(50% - 10px);
              }
              @media (max-width: 640px){
                max-width: 100%;
              }
              .tabs-container__tab--el{
                display: none;
                &.is-active{
                  display: block;
                }
              }
              .tabs-container--chat {

                .jq-selectbox {
                  width: 100%;
                  select {

                  }

                  .jq-selectbox__select {
                    border: 1px solid #00642F;
                    border-radius: 15px;
                    width: 100%;
                    padding-top: 0;
                    .jq-selectbox__select-text {
                      font-size: 14px;
                      font-family: 'Gilroy';
                      font-style: normal;
                      font-weight: 500;
                      color: #00642F;
                      display: flex;
                      align-items: center;
                      height: 100%;
                    }

                    .jq-selectbox__trigger {

                      .jq-selectbox__trigger-arrow {
                        border-right: 1px solid #00642F;
                        border-bottom: 1px solid #00642F;
                        transform: rotate(45deg);
                        border-top: none;
                        width: 8px;
                        height: 8px;
                        border-left: none;


                      }
                    }
                  }

                  .jq-selectbox__dropdown {
                    margin-top: 0;
                    &:before{
                      border-right: 1px solid #00642F;
                      border-left: 1px solid #00642F;
                      position: absolute;
                      content:'';
                      top: -20px;
                      height: 100%;
                      width: 100%;
                      left: 0;
                      z-index: -1;
                    }
                    .jq-selectbox__search {

                      input {

                      }
                    }

                    .jq-selectbox__not-found {

                    }

                    ul {

                      li {

                      }

                      .selected {

                      }
                    }
                  }
                }
              }

              .tabs-container--el {
                form{
                  display: flex;
                  flex-direction: column;
                  margin-top: 20px;
                  @media (max-width: 640px){
                    align-items: center;
                  }
                  textarea{
                    resize: none;
                    background: #FFFFFF;
                    border: 1px solid #ABABAB;
                    height: 268px;
                    border-radius: 15px;
                    outline: none;
                    padding: 11px 26px;
                    font-family: 'Gilroy';
                    font-style: italic;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #ABABAB;
                    @media (max-width: 640px){
                      width: 100%;
                    }
                    &:focus{
                      outline: none;
                    }

                  }
                  button{
                    background: #00642F;
                    border-radius: 15px;
                    width: 145px;
                    height: 40px;
                    display: block;
                    margin-top: 20px;
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    color: #FFFFFF;
                    border: 1px solid #00642F;
                    transition: 0.2s;
                    &:focus{
                      outline: none;
                    }
                    &:hover{
                      background: #fff;
                      color: #00642F;
                      svg{
                        fill: #00642F;
                        path{
                          fill: #00642F;
                        }

                      }
                    }

                    svg{
                      fill: #fff;
                      margin-right: 13px;
                      path{
                        fill: #fff;
                      }
                    }
                  }
                }

              }
            }


          }
          .tabs-container__list {
            max-width: calc(100% - 410px);
            width: 100%;
            @media (max-width: 991px){
              max-width: calc(50% - 10px);
            }
            @media (max-width: 640px){
              max-width: 100%;
              margin-top: 28px;
            }
            h2 {
              font-family: 'Gilroy';
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 21px;
              color: #000000;
              @media (max-width: 640px){
                font-size: 16px;
              }
            }
                .tabs-container__list--elements{
                  border: 1px solid #ABABAB;
                  border-radius: 15px;
                  padding: 20px 22px;
                  max-height: 288px;
                  margin-top: 20px;
                  margin-right: 30px;
                  overflow: visible!important;
                  @media (max-width: 640px){
                    margin-right: 15px;
                  }
                  .os-scrollbar.os-scrollbar-vertical{
                    right: -27px;
                    @media (max-width: 640px){
                     right: -23px;
                    }
                  }
                  .os-scrollbar-track.os-scrollbar-track-off{
                    background: #E9E9E9;
                  }
                  .os-scrollbar-handle{
                    background: #00642F;
                  }
                  .tabs-container__list--el {
                    margin-bottom: 18px;
                    border-bottom: 1px solid #ABABAB;
                    padding-bottom: 21px;
                    &:last-child{
                      border-bottom: none;
                      padding-bottom: 0;
                      margin-bottom: 0;
                    }
                    h3 {
                      padding-bottom: 12px;
                      font-family: 'Gilroy';
                      font-style: normal;
                      font-weight: 500;
                      font-size: 16px;
                      line-height: 19px;
                      color: #00642F;
                    }

                    p {
                      font-family: 'Gilroy';
                      font-size: 14px;
                      line-height: 16px;
                      color: #5F5F5F;
                      padding-bottom: 12px;
                    }

                    span {
                      font-family: 'Gilroy';
                      font-style: normal;
                      font-weight: normal;
                      font-size: 12px;
                      line-height: 14px;
                      color: #3AB54A;
                      border-bottom: 1px dashed #3AB54A;
                      padding-bottom: 4px;
                      cursor: pointer;
                    }
                  }
                }

          }
        }
      }
  }
  &.date_entry{
    .center-title{
      position: absolute;
      width: 100%;
      display: flex;
      left: 0;
      justify-content: center;
      align-items: center;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: #000000;
      @media (max-width: 768px){
        display: none;
      }
    }
    form{
      padding: 20px 25px 28px;
      @media (max-width: 620px){
        padding: 34px 25px 28px;
      }
      @media (max-width: 480px){
        padding: 34px 8px 28px;
      }
      button{
        width: 156px;
        height: 40px;
        background: #00642F;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px auto 0;
        border: 1px solid #00642F;
        transition: 0.2s;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;
        &:hover{
          background: #fff;
          color: #0b2e13;
        }
      }
    }
    .list-elements {


      .list-elements__el {
          display: flex;
        padding-bottom: 21px;
        border-bottom: 1px solid #F8F8F8;
        margin-bottom: 20px;
        justify-content: space-between;
        position: relative;
        @media (max-width: 620px){
          margin-bottom: 34px;
        }
        .f-w-1 {
          width: 100%;
          display: flex;
          align-items: center;
          position: relative;
          &:first-child{
            p{
              padding-left: 23px  ;
              @media (max-width: 480px){
                padding-left: 6px;
              }
            }
          }
          &:last-child{
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            @media (max-width: 620px){
              position: absolute;
              flex-direction: row;
              top: -15px;
              right: 0;
              justify-content: flex-end;
            }
            p{
              width: 120px;
              text-align: left;
              @media (max-width: 620px){
                width: auto;
              }
            }
          }
          .img-box {
              display: flex;
            align-items: center;
            justify-content: center;
            background: #F8F8F8;
            border-radius: 5px;
            width: 83px;
            height: 83px;
            @media (max-width: 768px){
              width: 37px;
              height: 37px;
              padding: 8px;
              p{
                font-size: 14px;
              }
            }

            svg {

              path {

              }
            }
          }
          .date{
            display: flex;
            align-items: center;
            margin: 0 auto;
            width: 156px;
            height: 40px;
            justify-content: center;
            border: 1px solid #00642F;
            background: #FFFFFF;
            border-radius: 15px;
            padding: 0 10px 0 0;
            position: relative;

            @media (max-width: 620px){
              margin-right: 0;
            }
            @media (max-width: 480px){
              width: 130px;
              padding: 0 10px;
            }
            &:before{
              position: absolute;
              border-right: 1px solid #0b2e13;
              border-bottom: 1px solid #0b2e13;
              content:'';
              width: 8px;
              height: 8px;
              top: calc(50% - 6px);
              right: 20px;
              transform: rotate(45deg);
              z-index: 2;
              @media (max-width: 480px){
                right: 6px;
              }
            }
            .icon-box{
              margin-right: 14px;
              position: absolute;
              left: 22px;
              top: 7px;
            }
            input{
              border: none;
              font-family: 'Gilroy';
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              background: transparent;
              color: #00642F;
              padding-left: 50px;
              width: 100%;
              cursor: pointer;
              z-index: 1;
              position: relative;
              @media (max-width: 768px){
                font-size: 14px;
              }
              &::placeholder{
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                background: transparent;
                color: #00642F;
              }

              &:focus{
                outline: none;
              }
              &::-webkit-calendar-picker-indicator {
                display: none;
              }
              &::-webkit-datetime-edit {
                text-align: center;
              }
            }
          }


          p {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #000000;
            @media (max-width: 768px){
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  &.production_pages{

        .waiting_list--content {

          .waiting_list--message {

            .waiting_list--message__header {
            display: flex;
              align-items: center;
              .icon-box {

                svg {

                  path {

                  }
                }
              }

              h2 {

              }

              .tab-container {
                display: flex;
                align-items: center;
                margin-left: auto;
                @media (max-width: 768px){
                  position: absolute;
                  right: 25px;
                  top: 5px;
                  width: 90px;
                  flex-direction: column;
                  align-items: flex-start;
                  background: #fff;
                  padding: 0 5px 5px;
                  &:before{
                    border-right: 1px solid #00642F;
                    border-bottom: 1px solid #00642F;
                    transform: rotate(45deg);
                    position: absolute;
                    right: -12px;
                    top: 22px;
                    width: 8px;
                    height: 8px;
                    content:'';
                  }
                  &.is-active{
                    .tab-el {
                      display: block;
                    }
                  }

                }
                .tab-el {
                  margin-left: 40px;
                  cursor: pointer;
                  font-family: 'Gilroy';
                  font-weight: normal;
                  font-size: 14px;
                  color: #000000;
                  border-bottom: 1px solid transparent;
                  padding-bottom: 2px;
                  transition: 0.2s;
                  @media (max-width: 768px){
                    margin-left: 0;
                    display: none;
                    margin-top: 20px;
                  }
                  &.is-active{
                    color: #00642F;
                    border-bottom: 1px solid #00642F;
                    @media (max-width: 768px){
                      display: block;
                      position: relative;

                    }
                  }
                  &:hover{
                    color: #00642F;
                    border-bottom: 1px solid #00642F;
                  }

                }
              }
            }

            ul {
                padding: 20px;
              li {
                  display: flex;
                align-items: center;
                margin-bottom: 20px;
                @media (max-width: 480px){
                  flex-direction: column;
                  align-items: flex-start;
                }

                p {
                  display: block;
                  width: 192px;
                  font-family: 'Gilroy';
                  font-weight: normal;
                  font-size: 16px;
                  color: #000000;
                }

                span {
                    display: flex;
                  align-items: center;
                  margin-left: 40px;
                  background: #FFFFFF;
                  border: 1px solid #ABABAB;
                  border-radius: 15px;
                  @media (max-width: 480px){
                    margin-left: 0;
                  }
                  input {
                  display: flex;
                    align-items: center;
                    padding: 0 19px;
                    border: none;
                    width: 110px;
                    @media (max-width: 480px){
                      width: 200px;
                    }
                  }

                  p {
                    background: #E7E7E7;
                    border-radius: 0px 15px 15px 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 12px;
                    width: auto;
                    font-family: 'Gilroy';
                    font-weight: normal;
                    font-size: 14px;
                    color: #000000;
                  }
                }
              }
            }
          }
        }
  }


}


.popup-print__orders {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  &.is-active{
    display: flex;
  }
  .popup-print__orders--bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000085;
  }

  .popup-print__orders--content {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    max-width: 750px;
    width: 100%;
    z-index: 999;
    padding: 32px 0 23px;
    position: relative;
    h2 {
      font-family: 'Gilroy';
      font-weight: 500;
      font-size: 18px;
      color: #000000;
      text-align: center;
    }

    .close {
      position: absolute;
      right: 20px;
      top: 16px;
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
    .close:before, .close:after {
      position: absolute;
      left: 5px;
      content: ' ';
      height: 15px;
      width: 2px;
      background-color: #0b2e13;
    }
    .close:before {
      transform: rotate(45deg);
    }
    .close:after {
      transform: rotate(-45deg);
    }


    .table-content {
      margin-top: 28px;
      li {
        display: flex;
        height: 53px;
        width: 100%;
        background: #fff;
        align-items: center;
        padding: 0 24px;
        &:nth-child(odd){
          background: #F3F9F6;
          border-bottom:  1px solid #CCE3D8;
          border-top:  1px solid #CCE3D8;
        }
        &:last-child{
          border-bottom:  1px solid #CCE3D8;
        }

        p {
          font-family: 'Gilroy';
          font-weight: 500;
          font-size: 14px;
          color: #5B5B5B;
          display: block;
          margin-right: 30px;
          &:first-child{
            min-width: 20px;
            max-width: 20px;
          }
          &:nth-child(2){
            min-width: 30px;
            max-width: 30px;
          }
          &:nth-child(3){
            min-width: 170px;
            max-width: 170px;
          }
          &:nth-child(4){
            min-width: 60px;
            max-width: 60px;
          }
          &:nth-child(5){
            min-width: 70px;
            max-width: 70px;
          }
          &:nth-child(6){
            min-width: 70px;
            max-width: 70px;
          }
          &:nth-child(7){
            min-width: 110px;
            max-width: 110px;
          }
        }
      }
    }

    .footer-popup {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      padding: 0 20px;
      span{
        cursor: pointer;
        margin-top: 24px;
        &:hover{
          svg{
            fill: #0b2e13;
            path{
              fill: #0b2e13;
            }
          }
        }
        svg{
          margin-right: 10px;
        }
      }
      .left-box {

        p {
          font-family: 'Gilroy';
          font-weight: 600;
          font-size: 18px;
          color: #595959;
        }

        span {
          background: #FFFFFF;
          border: 1px solid #00642F;
          border-radius: 15px;
          width: 143px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #0b2e13;
          transition: 0.2s;
          &:hover{
            background: #0b2e13;
            color: #fff;
          }
        }
      }

      .right-box {

        p {
          font-family: 'Gilroy';
          font-weight: 600;
          font-size: 18px;
          color: #00642F;
          text-align: right;

        }

        span {
          background: #00642F;
          border-radius: 15px;
          color: #fff;
          border: 1px solid #0b2e13;
          transition: 0.2s;width: 137px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover{
            background: #fff;
            color: #0b2e13;
          }
        }
      }
    }
  }
}


@keyframes ldio-runzwkp7vf {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5,1.5);
  } 100% {
      opacity: 0;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1,1);
    }
}
.ldio-runzwkp7vf div > div {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #0b2e13;
  animation: ldio-runzwkp7vf 1s linear infinite;
}.ldio-runzwkp7vf div:nth-child(1) > div {
   left: 148px;
   top: 88px;
   animation-delay: -0.875s;
 }
.ldio-runzwkp7vf > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 160px 100px;
}.ldio-runzwkp7vf div:nth-child(2) > div {
   left: 130px;
   top: 130px;
   animation-delay: -0.75s;
 }
.ldio-runzwkp7vf > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 142px 142px;
}.ldio-runzwkp7vf div:nth-child(3) > div {
   left: 88px;
   top: 148px;
   animation-delay: -0.625s;
 }
.ldio-runzwkp7vf > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 100px 160px;
}.ldio-runzwkp7vf div:nth-child(4) > div {
   left: 46px;
   top: 130px;
   animation-delay: -0.5s;
 }
.ldio-runzwkp7vf > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 58px 142px;
}.ldio-runzwkp7vf div:nth-child(5) > div {
   left: 28px;
   top: 88px;
   animation-delay: -0.375s;
 }
.ldio-runzwkp7vf > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 40px 100px;
}.ldio-runzwkp7vf div:nth-child(6) > div {
   left: 46px;
   top: 46px;
   animation-delay: -0.25s;
 }
.ldio-runzwkp7vf > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 58px 58px;
}.ldio-runzwkp7vf div:nth-child(7) > div {
   left: 88px;
   top: 28px;
   animation-delay: -0.125s;
 }
.ldio-runzwkp7vf > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 100px 40px;
}.ldio-runzwkp7vf div:nth-child(8) > div {
   left: 130px;
   top: 46px;
   animation-delay: 0s;
 }
.ldio-runzwkp7vf > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 142px 58px;
}
.loadingio-spinner-spin-432c357x8nj {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #fff;
  display: none;
  align-items: center;
  justify-content: center;
  &.is-active{
    display: flex;
  }
}
.ldio-runzwkp7vf {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.4 , 0.4);
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 480px){
    left: -10%;
  }

}
.ldio-runzwkp7vf div { box-sizing: content-box; }






.ui-datepicker {
  border: 1px solid #ABABAB;
  border-radius: 15px;
  .ui-datepicker-header {
    display: none;
    .ui-datepicker-prev {

      .ui-icon {

      }
    }

    .ui-datepicker-next {

      .ui-icon {

      }
    }

    .ui-datepicker-title {

      .ui-datepicker-month {

      }

      .ui-datepicker-year {

      }
    }
  }

  .ui-datepicker-calendar {

    thead {
      display: none;
      tr {

        .ui-datepicker-week-end {

          span {

          }
        }

        th {

          span {

          }
        }
      }
    }

    tbody {

      tr {

        .ui-datepicker-week-end {
          border: none;
          padding: 0;
        }

        .ui-state-default {
          border: none;
          margin: 1px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #F7F7F7;
          width: 30px;
          height: 30px;
          padding: 0;
          font-size: 16px;
          color: #414141;
          font-family: 'Gilroy';
          &.ui-state-active{
            background: #00642F;
            color: #fff;
          }
          &:hover{
            background: #00642F;
            color: #fff;
          }

        }
        .ui-datepicker-unselectable {


        }
      }
    }
  }
}
