.footer {
  margin-top: 60px;
  
  @include media-breakpoint-down (xs) {
    border-top: 1px solid #C0C0C0;
  }

  @include media-breakpoint-down (sm) {
    margin-top: 0;
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid #C0C0C0;

    @include media-breakpoint-down (lg) {
      justify-content: space-between;
    }

    @include media-breakpoint-down (md) {
      justify-content: space-between;
      padding-bottom: 0;
    }

    @include media-breakpoint-down (sm) {
      padding-bottom: 40px;
    }

    @include media-breakpoint-down (xs) {
      padding-top: 30px;
      padding-bottom: 30px;
      flex-direction: column;
      align-items: center;
      border: none;
    }
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    width: 410px;

    @include media-breakpoint-down (md) {
      width: 350px;
    }

    @include media-breakpoint-down (sm) {
      width: 100%;
      max-width: 350px;
      justify-content: space-between;
      margin-right: 20px;
    }

    &-list {
      position: relative;
      &:first-child {

        @include media-breakpoint-down (xs) {
          margin-left: 10px;
        }
        
        .footer-nav-item {

          &:hover {
            transform: scale(1.1) translateX(6px);
          }
        }
      }
    }

    &-title {
      margin-bottom: 20px;
      color: $dark-green;
    }

    &-item {
      position: relative;
      margin-left: 10px;
      margin-bottom: 13px;
      transition: all ease-in-out 0.2s;

      @include media-breakpoint-down (sm) {
        max-width: 120px;
      }

      &:hover {
        transform: scale(1.1) translateX(8px);
      }

      &::before {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        left: -10px;
        top: 4px;
        border-radius: 50%;
        background-color: $dark-green;
      }
    }

    &-link {

      @include media-breakpoint-down (sm) {
        font-size: 12px;
      }

      &:hover {
        color: $dark-green;
      }
    }
  }

  &-logo {

    @include media-breakpoint-down (md) {
      display: none;
    }

    &-small {
      display: none;
      width: 155px;
      height: 88px;

      @include media-breakpoint-down (md) {
        display: block;
      }

      @include media-breakpoint-down (sm) {
        position: absolute;
        top: 120px;
      }

      @include media-breakpoint-down (xs) {
        width: 194px;
        height: 110px;
        left: -50px;
      }
    }
  }

  &-partner {

    &-section {
      
      @include media-breakpoint-down (xs) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &-button {

      @include media-breakpoint-down (xs) {
        margin-top: 60px;
      }
    }

    &-text {
      margin-top: 35px;
      margin-bottom: 10px;
      color: $dark-green;

      @include media-breakpoint-down (sm) {
        align-self: flex-start;
        margin-top: 15px;
      }
    }

    &-list {
      display: flex;
    }

    &-img {
      margin-right: 20px;

      @include media-breakpoint-down (sm) {
        margin-right: 10px;
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    background-color: $dark-green;

    &-link {
      font-size: 12px;
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }
}