.header {
  height: 85px;
  background-color: $white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #E5E5E5;

  @include media-breakpoint-down (sm) {
    height: 102px;
  }

  &__mobile {
    position: relative;
    z-index: 1000;
    height: 34px;
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: #F8F8F8;

    @include media-breakpoint-down (sm) {
      display: flex;

    }
    
    .header__mobile-main {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .header__mobile-left {
      display: flex;
      align-items: center;
    }

    .header__mobile-number {
      margin-left: 10px;
      color: $dark-grey;
    }

    .header__mobile-worktime {
      display: flex;
      align-items: center;
      font-size: 10px;
      margin-left: 10px;
      color: $dark-grey;
    }

    .header__mobile-dropdown {

      .dropdown-toggle {
        width: 48px;
        height: 25px;
        border: none;
        border-radius: 5px;
        background-color: $white;
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
  }

  &__main {
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    height: 85px;
    border-bottom: 1px solid #E5E5E5;
    background-color: $white;

    @include media-breakpoint-down (sm) {
      height: 68px;
    }
  }

  &__side {

    &-left {
      display: flex;
    }

    &-right {
      float: right;
      display: flex;
      align-items: center;
    }
  }

  &__logo {

    &-img {
      @include media-breakpoint-down (sm) {
        width: 100px;
        height: 60px;
      }
    }
  }

  &__call {
    display: flex;
    height: 84px;
    padding-top: 17px;
    margin-left: 60px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;

    @include media-breakpoint-down (md) {
      margin-left: 20px;
    }

    @include media-breakpoint-down (sm) {
      display: none;
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform: skewX(-10deg);
      background-color: #F8F8F8;
    }

    &-img {
      position: relative;
      z-index: 1;
      margin-right: 13px;
    }

    &-text {
      position: relative;
      z-index: 1;
    }

    &-worktime {
      font-size: 12px;
      color: $dark-grey;
    }

    &-number {
      font-size: 24px;
      font-weight: 300;
      margin-top: 5px;
      margin-bottom: 4px;
      color: $dark-grey;

      @include media-breakpoint-down (md) {
        font-size: 18px;
      }
    }

    &-callback {
      text-decoration: underline;
      color: $dark-green;
      transition-duration: 0.2s;

      &:hover {
        transform: scale(1.1);
        text-decoration: underline;
        color: $dark-green;
      }
    }
  }

  &__usermenu {
    display: flex;

    &-avatar {
      position: relative;
      transition-duration: 0.2s;

      &:hover {
        transform: scale(1.1);
      }

      &::before {
        position: absolute;
        content: "";
        width: 9px;
        height: 9px;
        right: 9px;
        bottom: 4px;
        background-color: $light-green;
        border-radius: 50%;
      }
    }

    &-img {
      padding: 5px 7px 5px 7px;
      margin-right: 10px;
      border: 1px solid $dark-green;
      border-radius: 50%;
    }

    &-name {
      color: $dark-green;

      &:hover {
        color: $dark-green;
      }

      @include media-breakpoint-down (sm) {
        display: none;
      }
    }

    &-city {
      margin-top: 6px;

      @include media-breakpoint-down (md) {
        font-size: 12px;
      }

      @include media-breakpoint-down (sm) {
        display: none;
      }
    }
  }

  &__cart {
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    transition-duration: 0.2s;
    
    &:hover {
      transform: scale(1.1);
    }

    @include media-breakpoint-down (md) {
      margin-left: 25px;
      margin-right: 25px;
    }

    @include media-breakpoint-down (sm) {
      margin-left: 10px;
      margin-right: 0;
    }

    &::before {
      position: absolute;
      content: "3";
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 1px;
      font-size: 13px;
      width: 16px;
      height: 16px;
      bottom: -10px;
      right: -5px;
      color: $white;
      border-radius: 50%;
      box-shadow: 0px 0px 10px #00642F;
      background-color: $dark-green;

      @include media-breakpoint-down (sm) {
        padding-top: 2px;
        width: 16px;
        height: 16px;
        font-size: 12px;
      }
    }

    &-img {
      padding: 18px 7px 5px 7px;
      background-color: #F8F8F8;
      border-radius: 50%;
    }
  }

  &__dropdown {

    @include media-breakpoint-down (sm) {
      display: none;
    }
    
    .dropdown-toggle {
      font-weight: 500;
      height: 33px;
      width: 56px;
      border-radius: 5px;
      background-color: #F8F8F8;
      border: 1px solid #E5E5E5;
    }

    .dropdown-menu {
      min-width: 56px;
      padding: 0;
      border: 1px solid #E5E5E5;
      background-color: #F8F8F8;
      
      .dropdown-item {
        font-weight: 500;
        padding: 0;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }

  &__nav {
    position: relative;
    z-index: 1;
    top: -105px;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.3s;
    z-index: 100;

    &.nav-open {
      top: 0;
    }

    @include media-breakpoint-down (sm) {

      top: -459px;
    }

    &-list {
      display: flex;
      justify-content: space-around;
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 0px 0px 30px 30px;
      background-color: #FBFBFB;

      @include media-breakpoint-down (md) {
        padding-top: 13px;
        padding-bottom: 13px;
      }

      @include media-breakpoint-down (sm) {
        flex-direction: column;
        padding: 25px 35px;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include media-breakpoint-down (sm) {
        flex-direction: row;
        margin-bottom: 30px;
      }
    }

    &-text {
      padding-top: 4px;

      @include media-breakpoint-down (md) {
        text-align: center;
        max-width: 90px;
      }

      @include media-breakpoint-down (sm) {
        max-width: fit-content;
        margin-left: 25px;
      }

      &:hover {
        color: $dark-green;
      }
    }

    &-search {
      display: flex;
      align-items: center;
      border: none;
      position: relative;

      &-img {
        position: absolute;
        right: 0;

      }

      @include media-breakpoint-down (sm) {
        justify-content:center;
      }
    }

    &-input {
      width: 240px;
      padding-bottom: 5px;
      background-color: #FBFBFB;
      border: none;
      border-bottom: 1px solid $dark-green;

      @include media-breakpoint-down (md) {
        width: 175px;
      }

      @include media-breakpoint-down (sm) {
        width: 100%;
      }

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-family: 'Gilroy';
        font-style: italic;
        color: #B5B5B5;
      }
    }
  }

  &__button {
    width: 186px;
    height: 24px;
    background-color: $dark-green;
    border: none;
    border-radius: 0px 0px 20px 20px;
    position: relative;
    transition-duration: 0.2s;
    z-index: 1000;

    &.nav-open {
      background-color: $white;

      .header__button-inner {

        span {
          background: $dark-green;
        }
      }
    }

    &-container {
      position: relative;
      top: -2px;
      text-align: center;
      align-self: center;
      z-index: 1000;
    }

    &-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

      span {
        display: flex;
        width: 28px;
        height: 1px;
        background: $white;
        margin-bottom: 3px;
        transition-duration: 0.2s;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}