.modal {

  &-dialog {
    max-width: 750px;
    width: 450px;

    &-medium {
      width: 550px;
    }

    &-large {
      width: 750px;
    }

    &-nav {
      width: 100%;
      margin: 0;
    }
  }

  &-content {
    padding: 40px 45px 20px 45px;
    border-radius: 15px;
  }

  &-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;

    &-m15 {
      margin-bottom: 15px;
    }
  }

  &-close {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -30px;
    right: -15px;
    opacity: 1;
    transition-duration: 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &-input {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #ABABAB;
    padding-left: 20px;
    margin-bottom: 10px;

    &:focus {
      outline: none;
      border: 1px solid $dark-green;
    }

    &-m0 {
      margin: 0;
    }

    &-m20 {
      margin-bottom: 0;
      margin-top: 20px;
    }

    &::placeholder {
      color: #ABABAB;
    }
  }

  &-select {
    width: 100%;
    margin-top: 20px;
  }

  &-text {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
  }

  &-doctext {
    font-size: 13px;
    max-width: 476px;
    color: $dark-grey;
  }

  &-link {
    color: $dark-green;

    &:hover {
      color: $dark-green;
    }
  }

  &-download {

    &-link {
      margin-top: 30px;
      display: flex;
      align-items: flex-end;
      color: $dark-green;

      &:hover {
        color: $dark-green;
      }

      img {
        margin-right: 8px;
      }
    }

    &-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-top: 45px;
      margin-bottom: 20px;
      height: 40px;
      width: 200px;
      border-radius: 15px;
      border: 1px solid $light-green;
      background-color: $light-green;
      color: $white;

      img {
        margin-right: 10px;
      }
    }
  }

  &-button {
    font-weight: 500;
    border-radius: 15px;
    margin: 0;
    background-color: $white;
    color: #424242;
    border: 1px solid #ABABAB;
    transition-duration: 0.2s;

    &:hover {
      border: $dark-green;
      background-color: $dark-green;
      color: $white;
    }

    &-small {
      width: 140px;
      height: 40px;
    }

    &-large {
      width: 100%;
      height: 40px;
    }
  }

  &-checkbox {

    &-item {
      display: flex;
      margin-top: 20px;
    }

    &-text {
      color: $black;
    }
  }

  &-hiden {
    display: none;
  }

  &-visible {
    display: block;
  }

  &-header {
    position: relative;
    justify-content: center;
    border: none;
    padding: 0;
  }

  &-body {
    justify-content: center;
    padding: 0;
  }

  &-footer {
    justify-content: space-between;
    padding: 0;
    border: none;
    margin-top: 15px;

    &-m30 {
      margin-top: 30px;
    }
  }

  &-content-nav {
    width: 100%;
    padding: 15px;
    padding-bottom: 25px;
    margin-top: 135px;

    .modal-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .sidebar__avatar {
        padding: 6px 9px;
        border: 1px solid $dark-green;
        border-radius: 50%;
        position: relative;

        &::before {
          position: absolute;
          content: "";
          width: 9px;
          height: 9px;
          right: 0;
          bottom: 0;
          background-color: $light-green;
          border-radius: 50%;
        }

        img {
          margin-left: 1px;
        }
      }

      .sidebar__username {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        margin-left: 12px;
        color: $black;

        span {
          margin-top: 5px;

          a {
            font-size: 12px;
            text-decoration: underline;
            color: $dark-green;

            &:hover {
              color: $dark-green;
            }
          }
        }
      }

      .close {
        top: 7px;
        right: 38px;

        &:hover {
          transform: none;
          opacity: 1;
        }
        
        a {
          padding: 7px 11px;
          background-color: $dark-green;
          border-radius: 50%;
        }
      }
    }

    .modal-body {
      margin-top: 30px;
      margin-bottom: 0;

      .sidebar__nav {
        margin-left: 30px;

        .sidebar__nav-item {
          margin-bottom: 15px;
  
          &::after {
            display: none;
          }
        }
      }
    }

    .modal-footer {
      margin-top: 20px;

      .sidebar__button {
        margin: 0;
      }
    }
  }

  .field-container {
    
    &__error {
      margin-top: 5px;
      font-size: 12px;
      color: #C80000ed;
      display: none;

      span {
        font-size: 14px;
        float: right;
      }

      &-m0 {
        margin-top: 0;
      }
    }

    &.error {

      input[type="tel"] {
        color: #C80000;
        border: 1px solid #C80000;
      }

      .field-container__error {
        display: block;
      }
    }

    &.error-pass {

      input[type="text"] {
        color: #C80000;
        border: 1px solid #C80000;
      }

      .field-container__error {
        display: block;
      }
    }
  }
}

.jq-selectbox__select {
  font-family: 'Gilroy';
  font-size: 14px;
  height: 40px;
  padding: 4px 45px 0 18px;
  border: 1px solid #ABABAB;
  background: $white;
  color: #ABABAB;
  border-radius: 15px;
  box-shadow: none;
  text-shadow: none;
  border-radius: 15px 15px 15px 15px;
  transition-duration: 0.1s;
}

.jq-selectbox__select:hover {
  background: $white;
}

.jq-selectbox__select:active {
  background: $white;
  box-shadow: none;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid $dark-green;
  border-radius: 15px 15px 0px 0px;
}

.jq-selectbox.disabled .jq-selectbox__select {
  border-color: #CCC;
  background: $white;
  box-shadow: none;
  color: #888;
}

.jq-selectbox__trigger-arrow {
  top: 16px;
  border-top: 7px solid #ABABAB;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border: none;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #ABABAB;
}

.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  border-top-color: #AAA;
}

.jq-selectbox__dropdown {
  margin-top: 20px;
  border-color: $dark-green;
  border-top: none;
  border-radius: 0 0 15px 15px;

  ul {
    padding-left: 8px;
    padding-right: 10px;
    max-height: 200px;

    .selected {
      background: $white;
      color: $dark-green;
    }
  }
}

.jq-selectbox li:hover {
  background-color: $white;
  color: $black;
}

.jq-selectbox li.disabled:hover {
  background: $white;
}

.jq-selectbox__search {
  padding-left: 5px;
  margin: 5px;
}

.jq-selectbox__search input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;
  border-bottom: 1px solid $dark-green;
  outline: none;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==') no-repeat 100% 50%;
  color: #333;
}

.jq-checkbox	{
  background: $white;
  border-color: $dark-green;
  position: relative;
  width: 13px;
  height: 13px;

  &::before {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    background: transparent;
    top: 2px;
    left: 2px;
    border-radius: 1px;
    transition-duration: 0.2s;
  }
}

.jq-checkbox__div	 {
  display: none;
}

.jq-checkbox.checked	{
  &::before {
    background: $dark-green;
  }
}

.jq-checkbox.focused	{
  border-color: $dark-green;
}