.sidebar {
  margin-right: 29px;
  width: 216px;
  flex-shrink: 0;
  @include media-breakpoint-down (md) {
    display: none;
  }

  &__mobile {
    display: none;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 20px;

    @include media-breakpoint-down (md) {
      display: flex;
    }

    .sidebar__mobile-left {
      width: 180px;

      @include media-breakpoint-down (xs) {
        width: fit-content;
      }

      display: flex;
      align-items: center;

      .sidebar__avatar {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          width: 9px;
          height: 9px;
          bottom: 5px;
          right: 0;
          background-color: $light-green;
          border-radius: 50%;
        }
      }

      .sidebar__avatar-img {
        padding: 7px 9px;
        border-radius: 50%;
        border: 1px solid $dark-green;
      }
      
      .sidebar__username {
        width: 90px;
        margin-left: 10px;
        color: $dark-green;
        
        span {
          display: none;
        }

        @include media-breakpoint-down (xs) {
          width: fit-content;
          font-size: 12px;
          display: flex;
          flex-direction: column;
          color: $black;

          span {
            display: block;
            margin-top: 5px;

            a {
              text-decoration: underline;
              color: $dark-green;

              &:hover {
                color: $dark-green;
              }
            }
          }
        }
      }

      .sidebar__info-mobile-dropdown {
        margin-left: 5px;

        @include media-breakpoint-down (xs) {
          display: none;
        }

        .dropdown-toggle {
          padding-top: 4px;
          width: 20px;
          height: 20px;
          border: none;
          border-radius: 50%;
          background-color: $dark-green;
          color: $white;

          &::after {
            margin: 0;
          }
        }

        .dropdown-menu {
          padding-top: 0;
          padding-bottom: 0;
          border-radius: 15px;
          border: 1px solid$dark-green;
          transform: translate3d(-145px, 30px, 0px) !important;
          
          .sidebar {
            display: block;
            margin-right: 0;
            width: 236px;

            .sidebar__block-header {
              justify-content: flex-start;
              padding-left: 18px;
            }

            .sidebar__block-body-bottom {
              padding-bottom: 0;
            }
          }
        }
      }
    }

    .sidebar__mobile-middle {
      width: 180px;
      display: flex;
      justify-content: center;
      align-items: center;

      @include media-breakpoint-down (xs) {
        display: none;
      }

      .sidebar__nav-mobile {
        display: flex;
        align-items: center;

        .sidebar__nav-mobile-title {
          font-size: 16px;
          font-weight: 700;
          color: $dark-grey;
        }

        .sidebar__nav-mobile-dropdown {
          margin-left: 12px;

          .dropdown-toggle {
            padding-top: 4px;
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 50%;
            background-color: $dark-green;
            color: $white;

            &::after {
              margin: 0;
            }
          }

          .dropdown-menu {
            padding-top: 0;
            padding-bottom: 0;
            border: 1px solid $dark-green;
            border-radius: 15px;
            transform: translate3d(-160px, 30px, 0px) !important;

            .sidebar__nav {
              padding-top: 20px;
              padding-bottom: 20px;
              margin-left: 55px;
              width: 170px;

              .sidebar__nav-item-active {

                &::after {
                  width: 12px;
                  left: -47px;
                }
              }
            }
          }
        }
      }
    }

    .sidebar__mobile-right {
      width: 180px;

      @include media-breakpoint-down (xs) {
        width: fit-content;
      }

      .sidebar__button-mobile {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        width: 180px;
        height: 40px;
        border: 1px solid $dark-green;
        border-radius: 15px;
        color: $light-green;
        -webkit-appearance: button;
        
        @include media-breakpoint-down (sm) {
          float: right;
          width: 160px;
        }

        @include media-breakpoint-down (xs) {
          display: none;
        }
      }

      .sidebar__button-mobile-modal {
        display: none;
        padding: 7px 9px;
        background-color: $dark-green;
        border-radius: 50%;

        img {
          margin-top: 1px;
        }


        @include media-breakpoint-down (xs) {
          display: block;
        }
      }
    }
  }
  
  &__header {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 40px;

    &-avatar {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 9px;
        height: 9px;
        bottom: 4px;
        right: 2px;
        border-radius: 50%;
        background-color: $light-green;
      }
    }

    &-icon {
      padding: 8px 10px 8px 10px;
      border: 1px solid $dark-green;
      border-radius: 50%;
    }

    &-name {
      font-weight: 500;
      margin-left: 15px;
      color: $dark-green;
    }
  }

  &__nav {
    margin-left: 50px;

    &-list {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 90%;
        top: 3%;
        left: -25px;
        opacity: 70%;
        background: radial-gradient(#BCBCBC, #FFF);
      }
    }

    &-item {
      margin-bottom: 30px;

      &:last-child {
        margin: 0;
      }

      &-active {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          width: 9px;
          height: 9px;
          left: -29px;
          top: 2px;
          border-radius: 50%;
          background-color: $dark-green;
          box-shadow: 0px 0px 10px #00642F;
        }

        &::after {
          position: absolute;
          content: "";
          width: 24px;
          height: 1px;
          left: -70px;
          top: 6px;
          background-color: $dark-green;
        }
      }
    }

    &-link {
      color: $dark-grey;

      &:hover {
        color: $dark-green;
      }

      &-active {
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  &__button {
    margin-top: 30px;
    margin-bottom: 40px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: $light-green;
    width: 100%;
    height: 51px;
    border: 1px solid $dark-green;
    border-radius: 15px;
    -webkit-appearance: button;

    &:hover {
      color: $light-green;
    }

    &-icon {
      margin-right: 12px;
    }
  }

  &__block {

    &-header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 67px;
      border-radius: 15px 15px 0px 0px;
      border-bottom: 1px solid #DFDFDF;
      background-color: $white;
    }

    &-title-icon {
      border: 1px solid $dark-green;
      border-radius: 50%;
      padding: 8px 9px 6px 9px;
    }

    &-title {
      font-size: 18px;
      font-weight: 500;
      margin-left: 12px;
      color: $black;
    }

    &-body {
      background-color: $white;
      border-radius: 0px 0px 15px 15px;

      &-top {
        padding: 20px;
        border-bottom: 1px solid #DFDFDF;
      }

      &-bottom {
        padding: 20px;
      }
    }

    &-listname {
      font-weight: 700;
      margin-bottom: 18px;
      color: $dark-green;
    }

    &-item {
      display: flex;
      margin-bottom: 20px;

      &-text {
        margin-left: 10px;
        color: $dark-grey;
      }
    }

    &-link {
      display: block;
      width: fit-content;
      margin-bottom: 15px;
      padding-bottom: 3px;
      border-bottom: 1px solid $dark-green;
      color: $dark-green;
      transition-duration: 0.2s;

      &:hover {
        color: $dark-green;
        transform: scale(1.1);
      }

      &:last-child {
        margin: 0;
      }
    }

    &-contract {
      display: flex;

      &-icon {
        padding: 8px 4px;
        border: 1px solid $dark-green;
        border-radius: 5px;
        transition-duration: 0.2s;

        &:hover {
          transform: scale(1.1);
        }
      }

      &-text {
        padding: 2px 0;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $dark-grey;

        &-number {
          font-weight: 600;
        }
      }
    }
  }
}